<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Orderdetail>
            <version>0.1.0</version>
        </Bilna_Orderdetail>
    </modules>
  
    <frontend>
        <translate>
            <modules>
                <Bilna_Orderdetail>
                    <files>
                        <default>Bilna_Orderdetail.csv</default>
                    </files>
                </Bilna_Orderdetail>
            </modules>
        </translate>
        
        <routers>
            <orderdetail>
                <use>standard</use>
                <args>
                    <module>Bilna_Orderdetail</module>
                    <frontName>orderdetail</frontName>
                </args>
            </orderdetail>
        </routers>
        
        <layout>
            <updates>
                <orderdetail>
                    <file>bilna_orderdetail.xml</file>
                </orderdetail>
            </updates>
        </layout>
    </frontend>
    
    <global>
        <models>
            <orderdetail>
                <class>Bilna_Orderdetail_Model</class>
            </orderdetail>
        </models>
        
        <helpers>
            <orderdetail>
                <class>Bilna_Orderdetail_Helper</class>
            </orderdetail>
        </helpers>
	
        <blocks>
            <orderdetail>
                <class>Bilna_Orderdetail_Block</class>
            </orderdetail>
        </blocks>
    </global>
</config>
