<?xml version="1.0"?>
<config>
    <modules>
        <Alw_Common>
            <version>0.1.0</version>
        </Alw_Common>
    </modules>

   <frontend>
        <routers>
            <common>
                <use>standard</use>
                <args>
                    <module>Alw_Common</module>
                    <frontName>common</frontName>
                </args>
            </common>
        </routers>
	<layout>
		<updates>
			<common>
				<file>common.xml</file>
			</common>
		</updates>
	</layout>
    </frontend>
    <global>
	    <helpers>
            <common>
                <class>Alw_Common_Helper</class>
            </common>
		</helpers>
	     <blocks>
            <!--page>
                <rewrite>
                    <html_topmenu>Alw_Common_Block_Html_Topmenu</html_topmenu>
                </rewrite>
            </page-->
			<review>
					<rewrite>
						<product_view>Alw_Common_Block_Product_View</product_view>
					</rewrite>
            </review>
        </blocks>
		  <models>
            <common>
                <class>Alw_Common_Model</class>                
            </common>	    
        </models>
    </global>
</config>