<?xml version="1.0"?>
<config>
	<modules>
		<Bilna_Staticarea>
			<version>0.1.0</version>
		</Bilna_Staticarea>
	</modules>
	<global>
		<helpers>
			<staticarea>
				<class>Bilna_Staticarea_Helper</class>
			</staticarea>
		</helpers>
		<blocks>
			<staticarea>
				<class>Bilna_Staticarea_Block</class>
			</staticarea>
		</blocks>
		<models>
			<staticarea>
				<class>Bilna_Staticarea_Model</class>
				<resourceModel>staticarea_mysql4</resourceModel>
			</staticarea>
			<staticarea_mysql4>
				<class>Bilna_Staticarea_Model_Mysql4</class>
				<entities>		  
					<staticarea>
						<table>bilna_staticarea</table>
					</staticarea>
				</entities>
			</staticarea_mysql4>
		</models>
		<resources>
			<staticarea_setup>
				<setup>
					<module>Bilna_Staticarea</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</staticarea_setup>
			<staticarea_write>
				<connection>
					<use>core_write</use>
				</connection>
			</staticarea_write>
			<staticarea_read>
				<connection>
					<use>core_read</use>
				</connection>
			</staticarea_read>
		</resources>
	</global>
	<admin>
		<routers>
			<staticarea>
				<use>admin</use>
				<args>
					<module>Bilna_Staticarea</module>
					<frontName>staticarea</frontName>
				</args>
			</staticarea>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<bilna>
				<title>Bilna</title>
				<sort_order>101</sort_order>
				<children>
					<staticarea module="staticarea">
						<title>Static Area Management</title>
						<sort_order>101</sort_order>
						<children>
							<staticareareports>
								<title>Add Static Area</title>
								<sort_order>2</sort_order>
								<action>staticarea/adminhtml_index</action>
							</staticareareports>
						</children>
					</staticarea>
				</children>
			</bilna>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<bilna translate="title">
							<title>Bilna</title>
							<sort_order>101</sort_order>
							<children>
								<staticarea translate="title" module="staticarea">
									<title>Static Area Management</title>
									<sort_order>101</sort_order>
									<children>
										<customsalesreports translate="title">
											<title>Add Static Area</title>
											<sort_order>0</sort_order>
										</customsalesreports>
									</children>
								</staticarea>
							</children>
						</bilna>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<staticarea>
					<file>staticarea.xml</file>
				</staticarea>
			</updates>
		</layout>
	</adminhtml>
</config> 