@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.svg#icomoon') format('svg'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Needed for a fluid height: */
html, body, .container, .main { height: 100%;}

/* main wrapper */
.cbp-contentslider {
	width: 100%;
	height: 430px;
	position: relative;
	overflow:hidden;
}

.cbp-contentslider > ul {
	list-style: none;
	height: 100%;
	width: 943px;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}

.cbp-contentslider > ul li {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #fff;
}

/* Whithout JS, we use :target */
.cbp-contentslider > ul li:target {
	z-index: 100;
}

.cbp-contentslider .large_thumb {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width:200px;
	overflow: hidden;
}

.cbp-contentslider .large_thumb a {
	float: left;
	display: block;
	width: 100%;
	height: 25%	;
	font-weight: 400;
	overflow: hidden;
	color: #fff;
	background: #797979;
	outline: none;
	position: relative;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.cbp-contentslider .large_thumb a span {
	display: block;
}

.cbp-contentslider .large_thumb a:last-child {
	border: none;
	box-shadow: 1px 0 #47a3da; /* fills gap caused by rounding */
}

.cbp-contentslider .large_thumb a:hover {
	background-color: #f14223;
	color: #fff;
}

.cbp-contentslider .large_thumb a.rc-active {
	background-color: #f14223;
	color: #fff;
}
.cbp-contentslider .large_thumb .slider_thumb_large img.i{
	float: left;
    height: 95px;
    width: 94px;
	margin: 5px;
}
.cbp-contentslider .large_thumb a.rc-active .slider_thumb_large img.i{
	display:none;
}
.cbp-contentslider .large_thumb .slider_thumb_large .t{
	color: #FFFFFF;
    font-size: 14px;
    margin: 24px 0 0 7px;
    position: relative;
	max-height:50px;
	/*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}

.cbp-contentslider .large_thumb .slider_thumb_large .c	{
	font-size:17px;
	font-weight:bold;
	padding: 0 0 0 10px;
}
/* Iconfont for .large_thumbigation and headings */
.cbp-contentslider [class^="icon-"]:before, 
.cbp-contentslider [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	text-align: center;
	speak: none;
	font-weight: normal;
	line-height: 2.5;
	font-size: 2em;
	position: absolute;
	left: 10%;
	top: 50%;
	margin: -1.250em 0 0 0;
	height: 2.500em;
	width: 2.500em;
	color: rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
}

.cbp-contentslider .icon-wolf:before {

}

.cbp-contentslider .icon-rabbit:before {

}

.cbp-contentslider .icon-turtle:before {

}

.cbp-contentslider .icon-platypus:before {

}

.cbp-contentslider .icon-aligator:before {

}

.cbp-contentslider [class^="icon-"].rc-active:before, 
.cbp-contentslider [class*=" icon-"].rc-active:before,
.cbp-contentslider .large_thumb a:hover:before {
	color: rgba(255,255,255,0.9);
}

.cbp-contentslider h3 {
	font-size: 4em;
	height: 2em;
	line-height: 1.7;
	font-weight: 300;
	margin: 0 0 0.3em;
	position: relative;
	color: #47a3da;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.3em;
	padding: 0 0.2em 0 0;
	border-bottom: 4px solid #47a3da;
}

.cbp-contentslider h3[class^="icon-"]:before, 
.cbp-contentslider h3[class*=" icon-"]:before {
	top: 0;
	left: 0;
	width: 2em;
	line-height: 1;
	height: 1.2em;
	margin: 0;
	color: #47a3da;
}

.cbp-contentslider li > div {
	bottom: 1px;
	background:#000;
	opacity:0.8;
    position: absolute;
    width: 100%;
	padding:10px 0;
}

.cbp-contentslider .cbp-content {
	
}
.cbp-contentslider p {
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	text-align: justify;
	line-height: 1.6;
}

.awcollpur-deals-list .main, .awcollpur-deals-list .container > header, .awcollpur-deals-list .main, .awcollpur-deals-list .container > header {
    margin: 0 auto;
    width: 90%;
	padding:0;
}
.customer .main, .container > header{
    max-width: auto;
}
.slider_img{
	width:100%;
}


@media only screen and  (min-width: 1024px) and (max-width: 1215px){
	.cbp-contentslider li > div{
		padding-right: 200px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1023px){
	.cbp-contentslider li > div{
		padding-right:163px;
	}
	.cbp-contentslider .large_thumb{
		width:163px;
	}
	.cbp-contentslider > ul{
		width:100%;
	}
	.cbp-contentslider {
	height: 330px;
	}
	.cbp-contentslider .large_thumb .slider_thumb_large img.i{
	height: 75px;
	width:72px;
	}
	.cbp-contentslider .large_thumb .slider_thumb_large .c{
		font-size:15px;
	}
	.cbp-contentslider .large_thumb .slider_thumb_large .t{
		font-size:14px;
	}
	.awcp-buy-button button.awcp-buy span, .orbit-caption button.awcp-buy span{
		font: bold 18px Arial;
	}
	.cbp-contentslider p{
		line-height: 1;
	}
	.price_deals_slider p:nth-child(1){
		font-size:25px;
	}
	.date_slider_deals p:nth-child(2) {
    font-size: 20px;
    line-height: 20px;
	}
	.date_slider_deals p:nth-child(3){
		font-size:11px;
		margin: 0 0 3px;
	}
	.date_slider_deals p:nth-child(4) span{
		font-size: 20px;
	}
	.cbp-contentslider .large_thumb a{
		width:163px !important;
	}
}
@media only screen and (max-width: 768px){

	.desc_deals_slider2{
		width:100%;
	}
	.right_detail_deals{
		display:none !important;
	}
	.date_slider_deals{
	 border-left: 1px solid #FFFFFF !important;
    border-right: 1px solid #FFFFFF !important;
	border:none !important;
	width: 58%;
	}
	.cbp-contentslider > ul li img {
    margin-bottom: 110px;
	}
	.cbp-contentslider .large_thumb{
		display:none;
	}
	.cbp-contentslider > ul{
		width:100%;
	}
	.awcp-buy-button button.awcp-buy, .orbit-caption button.awcp-buy{
		padding:5px 10px;
	}
	.awcp-buy-button button.awcp-buy span, .orbit-caption button.awcp-buy span{
	font-size:18px
	}
	.cbp-contentslider > ul li{
		height: auto;
	}
	
	.cbp-contentslider{
		height:500px;
	}
	.cbp-contentslider .thumb_image{
		display:none;
	}
	.cbp-contentslider .large_thumb a.rc-active .slider_thumb_small{
	
	}
	.thumb_angka_area .thumb_angka{
		width:0 !important;
		display:table;
	}
		.cbp-contentslider nav a.rc-active {
		background-color:#F14223;
		color: #FFFFFF;
	}

.thumb_angka_area{
	color:#fff;
	display: table;
    left: 0;
    position: absolute;
    bottom: 112px;
    z-index: 999;
}
.thumb_angka_area .thumb_angka{
	color:#fff;
	padding:10px 13px;
	margin:0 4px 0 0;
	font-size:12px;
	background:#3d3d3d;
	float:left;
}
.thumb_angka_area .active{
	background:#fd8261 !important;
}
.desc_featured{	
	padding: 0 10px;
	height:195px;
	background:#000;
	position:relative;
	top: 166px;
}
#slider2_container img{
	height:165px !important;
}
.desc_deals_slider2{
	color:#fff;
	padding:0 15px;
}
.date_slider_deals{
	color:#fff;
}
.right_detail_deals{
	display:block;
}
.right_detail_deals .awcp-buy{
	margin:10px 0 0 !important;
	padding: 10px;
}
.right_detail_deals .awcp-buy span{
	font-size:23px !important;
}
.price_deals_slider p:nth-child(1){
	color:#f75d2b;
}
.price_deals_slider .after_price p:nth-child(1){
	color:#f75d2b;
}
.right_detail_deals_slider .awcp-buy{
	margin:10px 0 0 !important;
	padding: 10px;
}
.right_detail_deals_slider .awcp-buy span{
	font-size:23px !important;
}
.price_deals_slider_slider p:nth-child(1){
	color:#f75d2b;
}
.price_deals_slider_slider .after_price p:nth-child(1){
	color:#f75d2b;
}
.sticky-header-wrapper ~ .header #nav-searchbar{
	width:auto;
}
.search-container-new-mobile{
	width:100% !important;
}
}
@media only screen and (max-width: 640px){
	.thumb_angka_area{
		bottom: 206px;
	}
	.cbp-contentslider > ul li img {
		margin-bottom: 203px;
	}
	.desc_deals_slider2{
		border-bottom:1px solid #d6d6d6 !important;
	}
	.date_slider_deals{
	padding:10px 10px 0;
	}
}
