<?xml version="1.0"?>
<config>
  <modules>
    <Moxy_MoxySellerCenter>
      <version>0.1.0</version>
    </Moxy_MoxySellerCenter>
  </modules>
  <global>
    <helpers>
      <moxysellercenter>
        <class>Moxy_MoxySellerCenter_Helper</class>
      </moxysellercenter>
    </helpers>
	<models>
	  <moxysellercenter>
		<class>Moxy_MoxySellerCenter_Model</class>
		<resourceModel>moxysellercenter_mysql4</resourceModel>
	  </moxysellercenter>
	</models>
  </global>
</config> 
