nbproject/
.DS_Store
Thumbs.db
.modgit/
.buildpath
.project
.settings/
.idea/
*.wx*
composer.phar

vendor/
/var/
composer.lock
app/config/config.php
app/config/config.ini
public/temp/*
public/img/tmp/
public/cache/*
cache/*.ph*
*/cache/*.ph*
*/.DS_Store
*/Thumbs.db
!public/temp/
