<config>
    <modules>
        <RocketWeb_Netsuitecustom>
            <version>1.0.0</version>
        </RocketWeb_Netsuitecustom>
    </modules>
    <global>
        <helpers>
            <rocketweb_netsuitecustom>
                <class>RocketWeb_Netsuitecustom_Helper</class>
            </rocketweb_netsuitecustom>
        </helpers>
        <models>
            <rocketweb_netsuitecustom>
                <class>RocketWeb_Netsuitecustom_Model</class>
            </rocketweb_netsuitecustom>
        </models>
        <events>
            <netsuite_import_product_created_after>
                <observers>
                    <!--
                    <setAndImportCategories>
                        <type>singleton</type>
                        <class>rocketweb_netsuitecustom/observer</class>
                        <method>setAndImportCategories</method>
                    </setAndImportCategories>
                    -->
                    <setVisibility>
                        <type>singleton</type>
                        <class>rocketweb_netsuitecustom/observer</class>
                        <method>setVisibility</method>
                    </setVisibility>
                    <setBrand>
                        <type>singleton</type>
                        <class>rocketweb_netsuitecustom/observer</class>
                        <method>setBrand</method>
                    </setBrand>
                    <setAttributeSetId>
                        <type>singleton</type>
                        <class>rocketweb_netsuitecustom/observer</class>
                        <method>setAttributeSetId</method>
                    </setAttributeSetId>
                </observers>
            </netsuite_import_product_created_after>
            <netsuite_process_import_start_before>
                <observers>
                    <initCustomRecords>
                        <type>singleton</type>
                        <class>rocketweb_netsuitecustom/observer</class>
                        <method>initCustomRecords</method>
                    </initCustomRecords>
                </observers>
            </netsuite_process_import_start_before>
        </events>
    </global>
</config>