<?xml version="1.0"?>
<config>
    <default>
        <carriers>
            <pickup>
                <active>1</active>
                <model>bilna_wholesale/carrier</model>
                <title>Wholesale Pickup</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </pickup>
        </carriers>
    </default>
    <modules>
        <Bilna_Wholesale>
            <version>0.1.0</version>
        </Bilna_Wholesale>
    </modules>
    <global>
        <models>
            <bilna_wholesale>
                <class>Bilna_Wholesale_Model</class>
            </bilna_wholesale>
        </models>
        <events>
            <sales_order_item_cancel>
                <observers>
                    <inventory>
                        <type>singleton</type>
                        <class>Bilna_Wholesale_Model_Observer</class>
                        <method>cancelOrderItem</method>
                    </inventory>
                </observers>
            </sales_order_item_cancel>
            <sales_quote_product_add_after>
                <observers>
                    <wholesale_quote_add_item>
                        <type>singleton</type>
                        <class>Bilna_Wholesale_Model_Observer</class>
                        <method>wholesaleCartAddItem</method>
                    </wholesale_quote_add_item>
                </observers>
            </sales_quote_product_add_after>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <wholesale_quote_item_to_order_item>
                        <type>singleton</type>
                        <class>Bilna_Wholesale_Model_Observer</class>
                        <method>wholesaleConvertQuoteToOrderItem</method>
                    </wholesale_quote_item_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_to_order>
                <observers>
                    <wholesale_quote_to_order>
                        <type>singleton</type>
                        <class>Bilna_Wholesale_Model_Observer</class>
                        <method>wholesaleConvertQuoteToOrder</method>
                    </wholesale_quote_to_order>
                </observers>
            </sales_convert_quote_to_order>
            <sales_quote_remove_item>
                <observers>
                    <wholesale_quote_remove_item>
                        <type>singleton</type>
                        <class>Bilna_Wholesale_Model_Observer</class>
                        <method>wholesaleQuoteRemoveItem</method>
                    </wholesale_quote_remove_item>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>
</config>

