<?xml version="1.0"?>
<config>
    <modules>
        <Alw_Sendfriend>
            <version>0.1.0</version>
        </Alw_Sendfriend>
    </modules>

   <frontend>
        <routers>
            <sendfriend>
                <use>standard</use>
                <args>
                    <module>Alw_Sendfriend</module>
                    <frontName>sendfriend</frontName>
                </args>
            </sendfriend>
        </routers>
    <sendfriend><!-- Name of core module to be overridden  -->
      <args>
        <modules>
          <Alw_Sendfriend before="Mage_Sendfriend">Alw_Sendfriend</Alw_Sendfriend>
        </modules>
      </args>
    </sendfriend>
    </frontend>
</config>