<?xml version="1.0"?>
<!--
    Copyright (c) 2010 Amasty (http://www.amasty.com) 
-->
<config>
    <modules>
        <Amasty_Alert>
            <version>1.0.1</version>
        </Amasty_Alert>
    </modules>
    
    <global>
        <models>
            <amalert>
                <class>Amasty_Alert_Model</class>
                <resourceModel>amalert_mysql4</resourceModel>
            </amalert>
        </models>
        
        <resources>
            <amalert_setup>
                <setup>
                    <module>Amasty_Alert</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </amalert_setup>
            <amalert_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </amalert_write>
            <amalert_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </amalert_read>
        </resources>

        <blocks>
            <amalert>
                <class>Amasty_Alert_Block</class>
            </amalert>
        </blocks>
         
        <helpers>
            <amalert>
                <class>Amasty_Alert_Helper</class>
            </amalert>
        </helpers>
    </global>
    
    <admin>
        <routers>
			<amalert>
				<use>admin</use>
				<args>
					<module>Amasty_Alert</module>
					<frontName>amalert</frontName>
				</args>
			</amalert>
        </routers>
    </admin> 
        
   <adminhtml>
        <menu>
		    <report>
                <children>
                    <amalert translate="title" module="amalert">
                        <title>Alerts</title>
                        <sort_order>900</sort_order>
                        <children>
                            <stock translate="title" module="amalert">
                                <title>Stock Alerts</title>
                                <action>amalert/adminhtml_stock</action>
                                <sort_order>10</sort_order>
                            </stock>
                            <price translate="title" module="amalert">
                                <title>Price Alerts</title>
                                <action>amalert/adminhtml_price</action>
                                <sort_order>20</sort_order>
                            </price>
                        </children>
                    </amalert>
                </children>
            </report>
		</menu>     
   
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
                <admin>
                    <children>
                        <report>
                            <children>
                                <amalert translate="title" module="amalert">
                                    <title>Alerts</title>
                                    <sort_order>900</sort_order>
                                    <children>
                                    <stock translate="title" module="amalert">
                                        <title>Stock Alerts</title>
                                     </stock>
                                     <price translate="title" module="amalert">
                                        <title>Price Alerts</title>
                                     </price>
                                     </children>
                                </amalert>
                            </children>
                        </report>
                     </children>
                </admin> 
			</resources>
		</acl>
        <translate>
            <modules>
                <Amasty_Alert>
                    <files>
                        <default>Amasty_Alert.csv</default>
                    </files>
                </Amasty_Alert>
            </modules>
        </translate> 
    </adminhtml> 
    
</config>