<?xml version="1.0"?>
<config>
  <modules>
    <Bilna_Barcode>
      <version>0.1.0</version>
    </Bilna_Barcode>
  </modules>
  <global>
    <helpers>
      <barcode>
        <class>Bilna_Barcode_Helper</class>
      </barcode>
    </helpers>
	<blocks>
	  <barcode>
		<class>Bilna_Barcode_Block</class>
	  </barcode>
	</blocks>
  </global>
  <admin>
	<routers>
	  <barcode>
	    <use>admin</use>
		<args>
		  <module>Bilna_Barcode</module>
		  <frontName>barcode</frontName>
		</args>
	  </barcode>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <barcode module="barcode">
		<title>Barcode</title>
		<sort_order>100</sort_order>
		<children>
		  <upload module="barcode">
			<title>Upload</title>
			<sort_order>0</sort_order>
			<action>barcode/adminhtml_upload</action>
		  </upload>
		</children>
	  </barcode>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<barcode translate="title" module="barcode">
			  <title>Barcode</title>
			  <sort_order>1000</sort_order>
			  <children>
				  <upload translate="title">
					<title>Upload</title>
				  </upload>
			  </children>
			</barcode>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<barcode>
		  <file>barcode.xml</file>
		</barcode>
	  </updates>
	</layout>
  </adminhtml>
</config> 