<?xml version="1.0"?>
<config>
    <modules>
        <AW_Customerattributes>
            <version>1.0.2</version><platform>ce</platform>
        </AW_Customerattributes>
    </modules>
    <global>
        <blocks>
            <aw_customerattributes>
                <class>AW_Customerattributes_Block</class>
            </aw_customerattributes>
        </blocks>
        <helpers>
            <aw_customerattributes>
                <class>AW_Customerattributes_Helper</class>
            </aw_customerattributes>
        </helpers>
        <models>
            <aw_customerattributes>
                <class>AW_Customerattributes_Model</class>
                <resourceModel>aw_customerattributes_resource</resourceModel>
            </aw_customerattributes>
            <aw_customerattributes_resource>
                <class>AW_Customerattributes_Model_Resource</class>
                <entities>
                    <attribute>
                        <table>aw_customerattributes_attribute</table>
                    </attribute>
                    <value_int>
                        <table>aw_customerattributes_value_int</table>
                    </value_int>
                    <value_varchar>
                        <table>aw_customerattributes_value_varchar</table>
                    </value_varchar>
                    <value_text>
                        <table>aw_customerattributes_value_text</table>
                    </value_text>
                    <value_date>
                        <table>aw_customerattributes_value_date</table>
                    </value_date>
                    <option>
                        <table>aw_customerattributes_option</table>
                    </option>
                    <option_value>
                        <table>aw_customerattributes_option_value</table>
                    </option_value>
                    <label>
                        <table>aw_customerattributes_label</table>
                    </label>
                </entities>
            </aw_customerattributes_resource>
        </models>
        <resources>
            <aw_customerattributes_setup>
                <setup>
                    <module>AW_Customerattributes</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aw_customerattributes_setup>
            <aw_customerattributes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_customerattributes_write>
            <aw_customerattributes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_customerattributes_read>
        </resources>
        <events>
            <controller_action_postdispatch_customer_account_editPost>
                <observers>
                    <aw_customerattributes_customer_edit_post_postdispatch>
                        <class>aw_customerattributes/observer</class>
                        <method>customerEditPostPostdispatch</method>
                    </aw_customerattributes_customer_edit_post_postdispatch>
                </observers>
            </controller_action_postdispatch_customer_account_editPost>
            <controller_action_postdispatch_customer_account_createpost>
                <observers>
                    <aw_customerattributes_customer_create_post_postdispatch>
                        <class>aw_customerattributes/observer</class>
                        <method>customerCreatePostPostdispatch</method>
                    </aw_customerattributes_customer_create_post_postdispatch>
                </observers>
            </controller_action_postdispatch_customer_account_createpost>
            <customer_save_after>
                <observers>
                    <aw_customerattributes_customer_save_after>
                        <class>aw_customerattributes/observer</class>
                        <method>customerSaveAfter</method>
                    </aw_customerattributes_customer_save_after>
                </observers>
            </customer_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <aw_customerattributes_admin>
                <use>admin</use>
                <args>
                    <module>AW_Customerattributes</module>
                    <frontName>aw_customerattributes_admin</frontName>
                </args>
            </aw_customerattributes_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aw_customerattributes>
                    <file>aw_customerattributes.xml</file>
                </aw_customerattributes>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Customerattributes>
                    <files>
                        <default>AW_Customerattributes.csv</default>
                    </files>
                </AW_Customerattributes>
            </modules>
        </translate>
        <menu>
            <customer>
                <children>
                    <aw_customerattributes translate="title" module="aw_customerattributes">
                        <title>Customer Attributes</title>
                        <sort_order>200</sort_order>
                        <children>
                            <manage_attributes translate="title" module="aw_customerattributes">
                                <title>Manage Attributes</title>
                                <action>aw_customerattributes_admin/adminhtml_customer_attribute/index</action>
                                <sort_order>10</sort_order>
                            </manage_attributes>
                            <manage_customers translate="title" module="aw_customerattributes">
                                <title>Manage Customers</title>
                                <action>aw_customerattributes_admin/adminhtml_customer/index</action>
                                <sort_order>20</sort_order>
                            </manage_customers>
                        </children>
                    </aw_customerattributes>
                </children>
            </customer>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <customer>
                            <children>
                                <aw_customerattributes translate="title" module="aw_customerattributes">
                                    <title>Customer Attributes</title>
                                    <sort_order>200</sort_order>
                                    <children>
                                        <manage_attributes translate="title" module="aw_customerattributes">
                                            <title>Manage Attributes</title>
                                            <sort_order>10</sort_order>
                                        </manage_attributes>
                                        <manage_customers translate="title" module="aw_customerattributes">
                                            <title>Manage Customers</title>
                                            <sort_order>20</sort_order>
                                        </manage_customers>
                                    </children>
                                </aw_customerattributes>
                            </children>
                        </customer>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <clean_catalog_images_cache_after>
                <observers>
                    <aw_customerattributes_clean_image_cache>
                        <type>singleton</type>
                        <class>aw_customerattributes/observer</class>
                        <method>cleanImagesCache</method>
                    </aw_customerattributes_clean_image_cache>
                </observers>
            </clean_catalog_images_cache_after>
            <controller_action_postdispatch_adminhtml_customer_save>
                <observers>
                    <aw_customerattributes_customer_save_by_admin_postdispatch>
                        <class>aw_customerattributes/observer</class>
                        <method>customerSaveByAdminPostdispatch</method>
                    </aw_customerattributes_customer_save_by_admin_postdispatch>
                </observers>
            </controller_action_postdispatch_adminhtml_customer_save>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <aw_customerattributes>
                <use>standard</use>
                <args>
                    <module>AW_Customerattributes</module>
                    <frontName>aw_customerattributes</frontName>
                </args>
            </aw_customerattributes>
        </routers>
        <layout>
            <updates>
                <aw_customerattributes>
                    <file>aw_customerattributes.xml</file>
                </aw_customerattributes>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Customerattributes>
                    <files>
                        <default>AW_Customerattributes.csv</default>
                    </files>
                </AW_Customerattributes>
            </modules>
        </translate>
    </frontend>
</config>