<!--?xml version="1.0"?-->

<config>
  <modules>
    <Alw_Currencymodule>
      <version>1.0</version>
    </Alw_Currencymodule>
  </modules>
  
  <global>
    <models>
       <directory>  
              <rewrite>
                    <currency>Alw_Currencymodule_Model_Currency</currency>
              </rewrite>  
       </directory>                    
     </models>
    </global>
   
</config>
  
