<config>
    <modules>
        <Bilna_Catalog>
            <version>0.1.0</version>
        </Bilna_Catalog>
    </modules>
    <global>
        <models>
            <bilna_catalog>
                <class>Bilna_Catalog_Model</class>
            </bilna_catalog>
        </models>
    </global>
</config>