<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Catalog>
            <version>0.1.0</version>
        </Bilna_Catalog>
    </modules>

    <global>
        <models>
            <catalog>
                <rewrite>
                    <url>Bilna_Catalog_Model_Url</url>
                </rewrite>
                <resource>
                    <rewrite>
                        <url>Bilna_Catalog_Model_Resource_Url</url>
                    </rewrite>
                </resource>
            </catalog>
        </models>
    </global>
</config>