<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Fraud>
            <version>0.1.0</version>
        </Bilna_Fraud>
    </modules>
    <global>
        <models>
            <bilna_fraud>
                <class>Bilna_Fraud_Model</class>
            </bilna_fraud>
        </models>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                     <checkout_onepage_controller_success_action>
                        <type>singleton</type>
                        <class>Bilna_Fraud_Model_Observer</class>
                        <method>checkFraud</method>
                     </checkout_onepage_controller_success_action>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
        <helpers>
            <bilna_fraud>
                <class>Bilna_Fraud_Helper</class>
            </bilna_fraud>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                        <children>
                                            <bilna_fraud>
                                                <title>test</title>
                                            </bilna_fraud>
                                        </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
