.awafpgrid {
    font-family:Verdana;
    clear:both;
    overflow:visible;
}
.awafpgrid a,.awafpgrid a .label {
    color:#000;
}
.awafpgrid ul {
    clear:both;
    list-style: none !important;
}
.awafpgrid ul li {
    float:left;
    margin:0 1% 10px 0;
}
.awafpgrid .awafpprice,
.awafpgrid .awafpbutton,
.awafpgrid .awafptitle {
    font-size:12px; color:#000;
}
.awafpgrid .awafptitle a {
    font-weight:700;
    font-size:12px;
    color:#000;
}
.awafpgrid .price-box .price {
    font-weight:400;
    color:#000;
    font-size:12px;
}
.awafpgrid .afp-addtocart button {
    font-size:12px;
    border:0;
    background:none;
    cursor:pointer;
}
.awafpgrid .afp-addtocart button div {
    width:91px;
    background-image:url(../../images/addtocart.png);
    height:21px;
    line-height:21px;
}
.afp-thumbnail .onsale-category-container-list {
    float:none!important;
    margin: 0 auto;
}
.awafpgrid .afp-details,
.awafpgrid .awafptitle,
.awafpgrid .afp-thumbnail,
.awafpgrid .price-box,
.awafpgrid .afp-addtocart {
    text-align:center;
}

