<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_DisableNewsletterNotifications>
            <version>1.0.0</version>
        </Bilna_DisableNewsletterNotifications>
    </modules>
    <global>
        <models>
            <newsletter>
                <rewrite>
                    <subscriber>Bilna_DisableNewsletterNotifications_Model_Subscriber</subscriber>
                </rewrite>
            </newsletter>
        </models>
        <helpers>
            <bilna_disablenewsletternotifications>
                <class>Bilna_DisableNewsletterNotifications_Helper</class>
            </bilna_disablenewsletternotifications>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <bilna_disablenewsletternotifications>
                    <files>
                        <default>Bilna_DisableNewsletterNotifications.csv</default>
                    </files>
                </bilna_disablenewsletternotifications>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <newsletter>
            <subscription>
                <success_email_send>0</success_email_send>
                <un_email_send>0</un_email_send>
            </subscription>
        </newsletter>
    </default>
</config>