<?xml version="1.0"?>
<config>
  <modules>
    <Bilna_Rules>
      <version>1.0.0</version>
    </Bilna_Rules>
  </modules>

  <global>
    <models>
      <bilna_rules>
        <class>Bilna_Rules_Model</class>
        <resourceModel>rules_resource</resourceModel>
      </bilna_rules>
    </models>

    <helpers>
      <bilna_rules>
        <class>Bilna_Rules_Helper</class>
      </bilna_rules>
    </helpers>

    <events>
      <salesrule_validator_process>
        <observers>
          <bilna_rules_extension_model_observer>
            <type>singleton</type>
            <class>bilna_rules/observer</class>
            <method>handleValidation</method>
          </bilna_rules_extension_model_observer>
        </observers>
      </salesrule_validator_process>

      <salesrule_rule_condition_combine>
        <observers>
          <bilna_rules_extension_model_observer>
            <type>singleton</type>
            <class>bilna_rules/observer</class>
            <method>handleNewConditions</method>
          </bilna_rules_extension_model_observer>
        </observers>
      </salesrule_rule_condition_combine>
    </events>
  </global>

</config>
