#automation_settings table.form-list {
    width: 100%;
}
#automation_settings table.form-list td.value {
    width: auto;
}

#automation_settings .grid table {
    border: solid 1px #CCC;
}
#automation_settings .grid table tr {
    cursor: default !important;
}

#awfeatured_productsselector_table td {
    border-width: 0 1px 1px 0 !important;
    border-color: #DADFE0 !important;
    border-style: solid !important;
}
