.awafpgrid {
    clear:both;
	display:table;
    overflow:visible;
    margin-bottom: 20px;
}
.awafpgrid a,.awafpgrid a .label {
    color:#000;
}
.awafpgrid ul {
    clear:both;
    list-style: none !important;
    padding-left: 0;
}
.awafpgrid ul li {
    float:left;
    margin:10px 0 0;
    zoom: 1;
    padding: 10px 1%;
    border: 1px solid #f2f2f2;
    position: relative;
    width: 98%;
}

.awfeatured.awafpgrid ul li .left_thumb_list_product{
    width: 30%;
    height: auto;
    float: left;
}
.awfeatured.awafpgrid ul li .right_thumb_list_product{
    width: 70%;
    float: left;
}
.catalog-category-view .awafpgrid ul li{
	width:18% !important;
}
.awafpgrid ul li:first-child {
}
.afp-addtocart .out-of-stock span{
	width: 88px;
	height: 30px;
	bottom: 20px !important;
	line-height: 21px;
	color: #fff !important;
	position: absolute !important;
	font-family: Helvetica;
	font-size: 1em;
	font-weight: bold;
	border:1px solid #231F20;
	text-transform: uppercase;
	background-size: 88px 36px;
	text-align: center;
	line-height: 30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.blog-post-view .awafpgrid ul li{
	padding: 1%;
	width: 18% !important;
}
.awafpgrid .awafpprice,
.awafpgrid .awafpbutton,
.awafpgrid .awafptitle {
    font-size:12px; color:#000;
}
.awafpgrid .awafptitle {
	max-height: 45px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.awafpgrid .awafptitle span {
	display: inline-block;
	color: #fff;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
	background: #8dd240;
	padding: 0 3px;
	margin: 0 3px 0 0;
}
.awafpgrid .awafptitle a {
    font-weight:bold !important;
    font-size:1em;
    color: #707070;
}
.awafpgrid .price-box {
	min-height: 25px;
	position: relative;
}
.awafpgrid .price-box .price {
    font-weight:bold;
    color:#707070;
    font-size:1.2em;
}
.awafpgrid .price-box .old-price .price {
	font-weight: normal;
	font-size: 12px;
}
.awafpgrid .price-box .special-price .price {
	color: #e74949;
}
.awafpgrid .price-box .discount-product {
	color: #4ec7da;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 18px;
}
.awafpgrid .price-box a.minimal-price-link {
	display: none;
}
.awafpgrid .afp-addtocart button {
    font-size:12px;
    border:0;
    background:none;
    cursor:pointer;
}
.awafpgrid .afp-addtocart .link-cart-special,
.awafpgrid .afp-addtocart button.btn-buynow {
    width:50%;
    float: left;
	background:#231F20;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    /*background-image:url(../../../images/btn-buynow.png);*/
    height:30px;
    line-height:30px;
    color: #fff;
    font-family: Helvetica;
    position: relative !important;
    bottom: 0 !important;
    font-size: 0.9em;
    text-transform: uppercase;
}
.awafpgrid .afp-addtocart .link-wishlist{
    float: left;
    bottom: 0;
    display: block;
    text-align: center;
    width: 49%;
    font-weight: normal;
    line-height: 30px;
    position: relative;
}
.awafpgrid > ul > li:hover .afp-addtocart button.btn-buynow,
.awafpgrid > ul > li:hover .afp-addtocart a.link-cart-special, .awafpgrid > ul > li .afp-addtocart a.link-cart-special:hover,
.awafpgrid > ul > li .afp-addtocart button.btn-buynow:hover{
	background:#F48120;
}
 .awafpgrid > ul > li:hover .afp-addtocart a, .awafpgrid > ul > li .afp-addtocart a:hover{}
.awafpgrid .afp-addtocart .availability.out-of-stock a {
	position: relative;
	color: #231F20;
    font-size: 0.9em;
}
.awafpgrid .right_thumb_list_product .afp-addtocart .availability.out-of-stock{
	width: 50%;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 30px;
    line-height: 30px;
    font-family: Helvetica;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #231F20;
}
.awafpgrid > ul > li:hover  .right_thumb_list_product .afp-addtocart .out-of-stock a{
	background:none;
	color:#F48120;
	font-weight:normal;
}
.afp-thumbnail .onsale-category-container-list {
    width: 90% !important;
    height: auto !important;
}
.awafpgrid .afp-details,
.awafpgrid .afp-thumbnail {
    text-align:center;
}
.awafpgrid .afp-thumbnail {
	margin-bottom: 10px;
}
.awafpgrid .afp-thumbnail a{
    display: inline-block;
}
.awafpgrid .afp-thumbnail a img {
	display: block;
	z-index: 1;
    width: 100%;
	position: relative;
}
.featured-category .awafpgrid ul {
	margin-left: 8px;
}
.featured-category .awafpgrid ul li {
	width: 15.05% !important;
}
.left_thumb_list_product{
	height:260px;
	position:relative;
}

.right_thumb_list_product .ratings{
	margin:0;
}
.right_thumb_list_product .btn-cart{
	position:absolute;
	bottom:20px;
}
.right_thumb_list_product{
	min-height:85px;
	position:relative;
}
