<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Wrappinggiftevent>
            <version>1.1.1</version>
        </Bilna_Wrappinggiftevent>
    </modules>
  
    <global>
        <helpers>
            <wrappinggiftevent>
                <class>Bilna_Wrappinggiftevent_Helper</class>
            </wrappinggiftevent>
        </helpers>
    
        <blocks>
            <wrappinggiftevent>
                <class>Bilna_Wrappinggiftevent_Block</class>
            </wrappinggiftevent>
            <checkout>
                <rewrite>
                    <onepage_shipping_method>Bilna_Wrappinggiftevent_Block_Checkout_Onepage_Shipping_Method</onepage_shipping_method>
                </rewrite>
            </checkout>
            <!-- <rewrite>
                <onepage_shipping_method>Bilna_Wrappinggiftevent_Block_Checkout_Onepage_Shipping_Method</onepage_shipping_method>
            </rewrite> -->
            <!--adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>
                        Bilna_Wrappinggiftevent_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form
                    </sales_order_create_shipping_method_form>
                    
                    <sales_order_totals>
                        Bilna_Wrappinggiftevent_Block_Adminhtml_Sales_Order_Totals_Wrapping
                    </sales_order_totals>
                </rewrite>
            </adminhtml-->
        </blocks>
        
        <models>
            <sales>
                <rewrite>
                    <order>Bilna_Wrappinggiftevent_Model_Sales_Order</order>
                </rewrite>
            </sales>
        
            <wrappinggiftevent>
                <class>Bilna_Wrappinggiftevent_Model</class>
                <resourceModel>wrappinggiftevent_mysql4</resourceModel>
            </wrappinggiftevent>
        
            <wrappinggiftevent_mysql4>
                <class>Bilna_Wrappinggiftevent_Model_Mysql4</class>
                <entities>
                    <custom_quote>
                        <table>wrappinggiftevent_quote</table>
                    </custom_quote>
                
                    <custom_order>
                        <table>wrappinggiftevent_order</table>
                    </custom_order>

                    <manage>
                        <table>wrapping_gift_event</table>
                    </manage>
                </entities>
            </wrappinggiftevent_mysql4>
        </models>
    
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <checkout_controller_onepage_save_shipping_method>
                        <type>singleton</type>
                        <class>Bilna_Wrappinggiftevent_Model_Observer</class>
                        <method>paymentAddWrap</method>
                    </checkout_controller_onepage_save_shipping_method>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
          
            <sales_quote_save_after> <!-- Event called After Quote Object is saved -->
                <observers>
                    <save_after>
                        <type>singleton</type>
                        <class>Bilna_Wrappinggiftevent_Model_Observer</class> <!-- Over Model Class -->
                        <method>saveQuoteAfter</method> <!-- name of function -->
                    </save_after>
                </observers>
            </sales_quote_save_after>
          
            <sales_quote_load_after> <!-- Event called when Quote Object is loaded -->
                <observers>
                    <load_after>
                        <type>singleton</type>
                        <class>Bilna_Wrappinggiftevent_Model_Observer</class> <!-- Over Model Class -->
                        <method>loadQuoteAfter</method> <!-- name of function -->
                    </load_after>
                </observers>
            </sales_quote_load_after>
            
            <sales_model_service_quote_submit_after> <!-- Event called after order placed -->
                <observers>
                    <sales_model_service_quote_submit_after>
                        <type>singleton</type>
                        <class>Bilna_Wrappinggiftevent_Model_Observer</class> <!-- Over Model Class -->
                        <method>saveOrderAfter</method> <!-- name of function -->
                    </sales_model_service_quote_submit_after>
                </observers>
            </sales_model_service_quote_submit_after>
          
            <sales_order_load_after> <!-- Event called after Order Object is loaded -->
                <observers>
                    <sales_order_load_after>
                        <type>singleton</type>
                        <class>Bilna_Wrappinggiftevent_Model_Observer</class> <!-- Over Model Class -->
                        <method>loadOrderAfter</method> <!-- name of function -->
                     </sales_order_load_after>
                 </observers>
          </sales_order_load_after>
    </events>
    <sales>
        <quote>
            <totals>
                <wrappinggiftevent>
                    <class>Bilna_Wrappinggiftevent_Model_Total_Quote_Wrapping</class>
                    <after>wee,discount,tax,tax_subtotal,grand_total</after>
                    <renderer>Bilna_Wrappinggiftevent_Block_Checkout_Total</renderer>
                </wrappinggiftevent>
            </totals>
        </quote>
        <order_invoice>
            <totals>
                <wrappinggiftevent>
                    <class>Bilna_Wrappinggiftevent_Model_Total_Invoice_Wrapping</class>
                </wrappinggiftevent>
            </totals>
        </order_invoice>
        <order_creditmemo>
            <totals>
                <wrappinggiftevent>
                    <class>Bilna_Wrappinggiftevent_Model_Total_Creditmemo_Wrapping</class>
                    <after>subtotal</after>
                </wrappinggiftevent>
            </totals>
        </order_creditmemo>
    </sales>
    <resources>
      <wrappinggiftevent_setup>
            <setup>
              <module>Bilna_Wrappinggiftevent</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
      </wrappinggiftevent_setup>
      <wrappinggiftevent_write>
            <connection>
              <use>core_write</use>
            </connection>
      </wrappinggiftevent_write>
      <wrappinggiftevent_read>
            <connection>
              <use>core_read</use>
            </connection>
      </wrappinggiftevent_read>
    </resources>
  </global>
  <admin>
	<routers>
	  <wrappinggiftevent>
	    <use>admin</use>
		<args>
                    <module>Bilna_Wrappinggiftevent</module>
                    <frontName>wrappinggiftevent</frontName>
                </args>
            </wrappinggiftevent>
        </routers>
    </admin>
  
    <adminhtml>
        <!-- <menu>
            <bilna module="wrappinggiftevent">
                <title>Bilna</title>
                <sort_order>10</sort_order>
                <children>
                    <report module="wrappinggiftevent">
                        <title>Wrapping Gift Event</title>
                        <action>wrappinggiftevent/adminhtml_report</action>
                    </report>
                </children>
            </bilna>
        </menu> -->
        
        <!-- <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
		
                <admin>
                    <children>
                        <bilna translate="title" module="wrappinggiftevent">
                            <title>Wrappinggift</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <manage translate="title">
                                    <title>Manage wrapping Gift Event</title>
                                </manage>
                            </children>
                        </bilna>
                    </children>
                </admin>
            </resources>
        </acl> -->
	
        <layout>
            <updates>
                <wrappinggiftevent>
                    <file>wrappinggiftevent.xml</file>
		        </wrappinggiftevent>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <wrappinggiftevent>
                    <file>wrappinggiftevent.xml</file>
                </wrappinggiftevent>
            </updates>
        </layout>
    </frontend>
</config>
