<?xml version="1.0"?>
<config>
    <modules>
        <Phpro_Stockmonitor>
            <version>1.0.0</version>
        </Phpro_Stockmonitor>
    </modules>
	
    <global>
        <blocks>
            <stockmonitor>
                <class>Phpro_Stockmonitor_Block</class>
            </stockmonitor>
        </blocks>
        
        <models>
            <stockmonitor>
                <class>Phpro_Stockmonitor_Model</class>
                <resourceModel>stockmonitor_mysql4</resourceModel>
            </stockmonitor>
            
            <stockmonitor_mysql4>
                <class>Phpro_Stockmonitor_Model_Mysql4</class>
                
                <entities>
                    <stockmovement>
                        <table>stockmonitor_stockmovement</table>
                    </stockmovement>
                    
                    <overview>
                        <table>sales_flat_order_item</table>
                    </overview>
                </entities>
            </stockmonitor_mysql4>
            
            <stockmonitor_resource_eav_mysql4>
                <rewrite>
                    <product_collection>Our_Catalog_Model_Resource_Eav_Mysql4_Product_Collection</product_collection>
                </rewrite>
            </stockmonitor_resource_eav_mysql4>		
        </models>
        
        <helpers>
            <stockmonitor>
                <class>Phpro_Stockmonitor_Helper</class>
            </stockmonitor>
        </helpers>
        
        <resources>
            <stockmonitor_setup>
                <setup>
                    <module>Phpro_Stockmonitor</module>
					<class>Phpro_Stockmonitor_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </stockmonitor_setup>
            <stockmonitor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </stockmonitor_write>
            <stockmonitor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </stockmonitor_read>
        </resources>
        <events>
			<catalog_product_save_after>
                <observers>
                    <phpro_stockmonitor>
                        <type>singleton</type>
                        <class>stockmonitor/observer</class>
                        <method>catalog_product_save_after</method>
                    </phpro_stockmonitor>
                </observers>
			</catalog_product_save_after>
            <sales_order_place_before>
                <observers>
                    <stockmonitor_observer>
                        <type>singleton</type>
                        <class>stockmonitor/observer</class>
                        <method>sales_order_place_before</method>
                    </stockmonitor_observer>
                </observers>
            </sales_order_place_before>
			<sales_creditmemo_item_save_after>
                <observers>
                    <stockmonitor_observer>
                        <type>singleton</type>
                        <class>stockmonitor/observer</class>
                        <method>sales_creditmemo_item_save_after</method>
                    </stockmonitor_observer>
                </observers>
			</sales_creditmemo_item_save_after>
			<sales_order_item_save_before>
                <observers>
                    <stockmonitor_observer>
                        <type>singleton</type>
                        <class>stockmonitor/observer</class>
                        <method>sales_order_item_save_before</method>
                    </stockmonitor_observer>
                </observers>
            </sales_order_item_save_before>
			<sales_order_item_save_commit_after>
                <observers>
                    <stockmonitor_observer>
                        <type>singleton</type>
                        <class>stockmonitor/observer</class>
                        <method>sales_order_item_save_commit_after</method>
                    </stockmonitor_observer>
                </observers>
            </sales_order_item_save_commit_after>
        </events>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <stockmonitor before="Mage_Adminhtml">Phpro_Stockmonitor_Adminhtml</stockmonitor>
                    </modules>
                    <frontName>stockmonitor</frontName>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <stockmonitor>
                    <file>stockmonitor.xml</file>
                </stockmonitor>
            </updates>
        </layout>
    </adminhtml>
</config>
