<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bilna_Smsverification>
            <version>1.0.3</version>
        </Bilna_Smsverification>
    </modules>
    <global>
        <models>
            <smsverification>
                <class>Bilna_Smsverification_Model</class>
                <resourceModel>smsverification_mysql4</resourceModel>
            </smsverification>
            <smsverification_mysql4>
                <class>Bilna_Smsverification_Model_Mysql4</class>
                <entities>
                    <otplist>
                        <table>otp_list</table>
                    </otplist>
                    <history>
                        <table>coupon_usage_history</table>
                    </history>
                </entities>
            </smsverification_mysql4>
        </models>

        <helpers>
            <smsverification>
                <class>Bilna_Smsverification_Helper</class>
            </smsverification>
        </helpers>

        <resources>
            <smsverification_setup>
                <setup>
                    <module>Bilna_Smsverification</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smsverification_setup>

            <smsverification_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smsverification_write>

            <smsverification_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smsverification_read>
        </resources>

    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <bilna translate="title" module="smsverification">
                                            <title>Bilna</title>
                                            <children>
                                                <smsverificationbackend translate="title">
                                                    <title>SMS Verification Config</title>
                                                </smsverificationbackend>
                                            </children>
                                        </bilna>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
