.col2-left-layout .products-grid, .col2-right-layout .products-grid {
	width: 100%;
}
.block-layered-nav {
	background: #f8f8f8;
}
.block-layered-nav .block-content {
	border: none;
	background: none;
}
.block-layered-nav .block-title {
	background: none;
	text-indent: inherit;
}
.block-layered-nav .block-subtitle, .block-layered-nav dt.category, .sorter .view-mode, .toolbar-bottom .sorter, .category-title {
	display: none;
}
.block-layered-nav dt, .demo label {
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
}
.block-layered-nav dt {
	background: none;
	padding-left: 10px;
	margin-bottom: 5px;
}
.block-layered-nav dd li {
	background:url(../images/checkbox.png) no-repeat left top;
	padding-left: 20px;
	margin-top: 3px;
}
.block-layered-nav dt.category + dd li {
	border-top: 1px solid #dadada;
	padding: 5px 0;
	background: url(../images/arrow-2.png) no-repeat right center;
}
.block-layered-nav dt.category + dd li:first-child {
	border-top: none;
}
ol.added-menu li:first-child {
	border-top: 2px solid #707070;
}
ol.added-menu li {
	background: none !important;
}
ol.added-menu li:first-child {
	border-top: 2px solid #707070 !important;
}
ol.added-menu li a {
	display: block;
	font-weight: bold !important;
	background-repeat: no-repeat;
	background-position: right center;
}
ol.added-menu li a.link-bestseller {
	color: #ffa01b !important;
	background-image: url(../images/arrow-orange.png) !important;
}
ol.added-menu li a.link-whatsnew {
	color: #8dd240 !important;
	background-image: url(../images/arrow-green-circle.png) !important;
}
ol.added-menu li a.link-onsale {
	color: #fc8360 !important; 
	background-image: url(../images/arrow-red-circle.png) !important;
}
/* Tiny Scrollbar */
.tiny { width: auto; margin: 20px 0 10px; }
.tiny .viewport { width: auto; height: 80px; overflow: hidden; position: relative; }
.tiny .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.tiny .scrollbar{ background: #dfe0e0 /*url(../images/bg-scrollbar-track-y.png) no-repeat 0 0*/ url(../images/scroll-up.png) no-repeat; position: relative; background-position: 0 0; float: right; width: 15px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.tiny .track { background: #dfe0e0 /*url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%*/url(../images/scroll-down.png) no-repeat center bottom; height: 100%; width:13px; position: relative; padding: 0 1px; }
.tiny .thumb { background: transparent /*url(../images/bg-scrollbar-thumb-y.png)*/url(../images/track.png) no-repeat 50% top; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.tiny .thumb .end { background: transparent url(../images/track.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.tiny .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.demo {
	margin: 0 10px 15px;
	padding: 12px 0;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
.demo input[type="text"] {
	background: none;
	color: #707070;
	font-size: 12px;
	font-weight: normal;
	border: none;
	text-align: center;
}
.demo #slider-range {
	margin: 10px 0;
}
.category-desc {
	font-size: 10px;
	margin: 0 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dadada;
}
.category-desc span {
	display: block;
	font-weight: bold;
}
.category-desc p {}
.left-banner-category {
	padding: 10px;
}
.category-description {
	display: none;
}
.featured-product-catalog {
	padding-bottom: 20px;
	background: url(../images/label-featured-product.png) no-repeat center top, url(../images/dash-orange.png) repeat-x left 25px, url(../images/dash-orange.png) repeat-x left bottom;
}
.featured-product-catalog h2 {
	color: #fff;
	font-size: 24px;
	font-family: 'bebasregular';
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding: 13px 0;
	margin: 0 0 20px 0;
}
.toolbar .pager {
	border-bottom: none;
	padding: 8px;
}
.toolbar .limiter ul li {
	padding-left: 8px;
	background: url(../images/slash-grey.png) no-repeat left center;
}
.toolbar .limiter ul li:first-child {
	background: none;
	padding-left: 0;
}
.toolbar .limiter ul li a {
	color: #4ec7da;
}
.toolbar .sorter {
	margin-top: 10px;
}
.sorter .view-mode, .sorter .sort-by {
	float: none;
}
.sorter .sort-by label, .sorter .sort-by span.sort-active, .toolbar .limiter label, .toolbar .limiter ul li span.view-active {
	font-weight: bold;
}
.sorter .sort-by label, .toolbar .limiter label {
	display: block;
	vertical-align: inherit;
	margin-right: 5px;
}
.sorter .sort-by label, .sorter .sort-by ul, .toolbar .limiter label, .toolbar .limiter ul  {
	float: left;
}
.sorter .sort-by ul li, .toolbar .limiter ul li {
	display: inline-block;
}
.sorter .sort-by ul li {
	border-left: 1px solid #a4a4a4;
	padding: 0 0 0 7px;
	margin: 0 5px 0 0;
}
.sorter .sort-by ul li:first-child {
	padding-left: 0;
	border-left: none;
}
.sorter .sort-by a, .sorter .sort-by span {
	display: inline-block;
	color: #838383;
}
.toolbar-bottom {
	margin-bottom: 20px;
}
.toolbar-bottom .toolbar {
	margin-bottom: 20px;
}
.toolbar-bottom a.link-catalog-nav {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
	background-color: #9b9b9b;
	background-repeat: no-repeat;
	width: 100px;
	height: 45px;
	line-height: 45px;
}
.toolbar-bottom a.link-catalog-nav:hover {
	background-color:#96e2f3;
}
.toolbar-bottom a.link-catalog-nav.prev {
	float: left;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
	background-image: url(../images/arrow-prev-white.png);
	background-position: 15px center;
	padding-left: 35px;
	padding-right: 15px;
}
.toolbar-bottom a.link-catalog-nav.prev:hover {
	background-image: url(../images/arrow-prev-white-hover.png);
}
.toolbar-bottom a.link-catalog-nav.next {
	float: right;
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	background-image: url(../images/arrow-next-white.png);
	background-position: 125px center;
	padding-left: 20px;
	padding-right: 35px;
	text-align: right;
}
.toolbar-bottom a.link-catalog-nav.next:hover {
	background-image: url(../images/arrow-next-white-hover.png);
}