@import url('stylesheet.css');
body {
	margin: 0;
	padding: 0;
	line-height: normal;
	font-size: 0.75em;
	color: #707070;
	font-family: Helvetica;
	background: url(../images/border-top.jpg) repeat-x left top;
}
.wrapper {
	width: 100%;
}
.page {
	margin: 0 auto;
}
.main-container, .main-container.col1-layout .main {
	width: 1216px;
	margin: 20px auto 0;
	background: none;
	padding: 0;
}
.main {}
.main.col2-left-layout {}
.main.col2-left-layout .col-left.sidebar {}
.main.col2-left-layout .col-main {}
.breadcrumbs, 
.breadcrumbs a {}
.breadcrumbs a:hover {}
.left {
	float: left;
}

@media only screen and (max-width: 1215px) {
	.main-container, .main-container.col1-layout .main {
		width: 994px;
	}
}
/* --------------- 960 px layout -------------------- */
@media only screen and (max-width: 1023px) {
	.main-container, .main-container.col1-layout .main {
		width: 745px;
	}
}
/* --------------- smaller 959 px layout -------------------- */
@media only screen and (max-width: 767px) {
	.main-container, .main-container.col1-layout .main {
		width: 100%;
		margin-top: 0;
	}
	.main {
		min-height: inherit;
	}
}
/* --------------- 320 px layout -------------------- */
@media only screen and (max-width: 479px) { 
	
}