<?xml version="1.0"?>
<!--config>
    <modules>
        <Alw_Contacts>
            <version>0.1.0</version>
        </Alw_Contacts>
    </modules>
    <frontend>
        <routers-->

        <!-- Creates route to my module via /contacts/ - I used this for testing -->
            <!--contacts>
                <use>standard</use>
                <args>
                    <module>Alw_Contacts</module>
                    <frontName>contacts</frontName>
                </args>
            </contacts-->

        <!-- Sets Mage_Contacts route to Alw_Contacts -->              
            <!--contacts>
                <args>
                    <modules>
                        <Alw_Contacts before="Mage_Contacts">Alw_Contacts</Alw_Contacts>
                    </modules>
                </args>
            </contacts> 
        </routers>
   
    </frontend>
</config-->