<?xml version="1.0"?>
<config>
	<modules>
        <Bilna_SendReport>
            <version>0.1.0</version>
        </Bilna_SendReport>
    </modules>
	<frontend>
	    <routers>
			<sendreport>
			    <use>standard</use>
			    <args>
			        <module>Bilna_SendReport</module>
			        <frontName>sendreport</frontName>
			    </args>
			</sendreport>
	    </routers>
	</frontend>  
	<global>
	    <models>
	        <sendreport>
	            <class>Bilna_SendReport_Model</class>
	            <resourceModel>sendreport_mysql4</resourceModel>
	        </sendreport>   
	        <sendreport_mysql4>
	            <class>Bilna_SendReport_Model_Mysql4</class>        
	            <entities>
	                <salescategory>
	                    <table>send_report</table>
	                </salescategory>
	            </entities>         
	        </sendreport_mysql4>
	    </models>
	    <resources>
	    	<sendreport_setup>
                <setup>
                    <module>Bilna_SendReport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sendreport_setup>
	        <salescategory_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </salescategory_write>
	        <salescategory_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </salescategory_read>      
	    </resources>
	    <helpers>
            <sendreport>
                <class>Bilna_SendReport_Helper</class>
            </sendreport>
        </helpers> 
	</global>
</config>
