.main-container.col2-left-layout .main {
	padding-bottom: 80px;
}
.col2-left-layout .products-grid, .col2-right-layout .products-grid {
	width: 100%;
}
.block-layered-nav {
	background: #f8f8f8;
}
.block-layered-nav .block-content {
	border: none;
	background: none;
}
.block-layered-nav .block-title {
	background: none;
	text-indent: inherit;
	margin: 0 10px;
	padding: 10px 0 0 0;
}
.block-layered-nav .block-title strong span {
	color: #707070;
}
.block-layered-nav .block-subtitle, .block-layered-nav dt.category, .sorter .view-mode, .toolbar-bottom .sorter, .category-title {
	display: none;
}
.block-layered-nav dd {
	background: none;
	border-bottom: 1px solid #dadada;
	padding: 0 0 12px;
	margin: 0 12px 12px;
}
.block-layered-nav dt, .demo label, .block-layered-nav .block-title strong span, .block-layered-nav .lbl-filterby, a.back-to-top {
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
}
.block-layered-nav .lbl-filterby {
	background: #dfe0e0;
	padding: 8px 12px;
	font-size: 13px;
	margin-top: 15px;
}
.block-layered-nav dt {
	background: none;
	padding-left: 10px;
	margin-bottom: 5px;
}
.block-layered-nav dd li {
	/* margin-top: 3px; */
	margin: 5px 0;
}
.block-layered-nav dt.category + dd li {
	border-top: 1px solid #dadada;
	padding: 5px 0;
	background: none;
}
.block-layered-nav dt.category + dd li:first-child {
	border-top: none;
}
.block-layered-nav dt.category + dd li a {
	display: block;
	float: none;
	background: url(../images/arrow-2.png) no-repeat right center;
	padding-right: 15px;
}
.block-layered-nav dt.category + dd li a.bestseller, .block-layered-nav dt.category + dd li a.whatsnew, .block-layered-nav dt.category + dd li a.onsale {
	font-weight: bold !important;
	background-repeat: no-repeat;
	background-position: right center;
}
.block-layered-nav dt.category + dd li a.bestseller {
	color: #ffa01b !important;
	background-image: url(../images/arrow-orange.png) !important;
}
.block-layered-nav dt.category + dd li a.whatsnew {
	color: #8dd240 !important;
	background-image: url(../images/arrow-green-circle.png) !important;
}
.block-layered-nav dt.category + dd li a.onsale {
	color: #fc8360 !important; 
	background-image: url(../images/arrow-red-circle.png) !important;
}
.block-layered-nav dt.category + dd.odd {
	border-bottom: none;
}
ol.added-menu li:first-child {
	border-top: 2px solid #707070;
}
ol.added-menu li {
	background: none !important;
}
ol.added-menu li:first-child {
	border-top: 2px solid #707070 !important;
}
ol.added-menu li a {
	display: block;
	
}
ol.added-menu li a.link-bestseller {
	
}
ol.added-menu li a.link-whatsnew {
	
}
ol.added-menu li a.link-onsale {
	
}
/* Tiny Scrollbar */
.tiny { width: auto; /* margin: 20px 0 10px; */ margin: 0 0 10px; }
.tiny .viewport { width: auto; height: 145px; overflow: hidden; position: relative; }
.tiny .overview { list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
.tiny .scrollbar{ background: #dfe0e0 /*url(../images/bg-scrollbar-track-y.png) no-repeat 0 0*/ url(../images/scroll-up.png) no-repeat; position: relative; background-position: 0 0; float: right; width: 15px; -webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.tiny .track { background: #dfe0e0 /*url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100%*/url(../images/scroll-down.png) no-repeat center bottom; height: 100%; width:13px; position: relative; padding: 0 1px; }
.tiny .thumb { background: transparent /*url(../images/bg-scrollbar-thumb-y.png)*/url(../images/track.png) no-repeat 50% top; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
.tiny .thumb .end { background: transparent url(../images/track.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
.tiny .disable { display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.demo {
	margin: 0 10px 15px;
	padding: 12px 0;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
}
.demo input[type="text"] {
	background: none;
	color: #707070;
	font-size: 12px;
	font-weight: normal;
	border: none;
	text-align: center;
}
.demo #slider-range {
	margin: 10px 0;
}
.category-desc {
	font-size: 10px;
	margin: 0 10px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dadada;
}
.category-desc span {
	display: block;
	font-weight: bold;
}
.category-desc p {}
.left-banner-category {
	padding: 10px;
	display: none;
}
.category-description {
	display: none;
}
.show-filter {
	position: absolute;
	bottom: -60px;
	left: 0;
	background: #4ec8da;
	z-index: 99;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
	padding: 20px 0 20px 0;
	width: 100%;
	text-align: right;
	display: none;
}
a.triger-showfilter, .featured-product-catalog h2, .toolbar-bottom a.link-catalog-nav {
	color: #fff;
	font-family: 'bebasregular';
	text-transform: uppercase;
	letter-spacing: 1px;
}
a.triger-showfilter {
	display: block;
	font-size: 14px;
	background:#4ec8da url(../images/arrow-filter.png) no-repeat 135px right center;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	margin-right: 15px;
	-webkit-border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	border-radius: 0 10px 10px 0;
}
.category-image {
	float: left;
	width: 100%;
}
.category-image img {
	width: 100%;
}
.advertise {
	float: left;
	width: 40%;
}
.advertise ul li {
	display: inline-block;
	width: 49.6%;
	height: 49.6%;
	overflow: hidden;
}
.advertise ul li img {
	width: 100%;
	height: auto;
}
.featured-product-catalog {
	padding-bottom: 20px;
	background: url(../images/label-featured-product.png) no-repeat center top, url(../images/dash-orange.png) repeat-x left 25px, url(../images/dash-orange.png) repeat-x left bottom, url(../images/bg-pager-2.jpg) repeat-x left 15px;
}
.featured-product-catalog h2 {
	font-size: 24px;
	text-align: center;
	padding: 13px 0;
	margin: 0 0 10px 0;
}
.featured-category {
	height: 400px;
	overflow: hidden;
}
.toolbar .pager {
	border-bottom: none;
	padding: 8px;
}
.toolbar .pager .custome-nav {
	display: none;
}
.toolbar .limiter ul li {
	padding-left: 8px;
	background: url(../images/slash-grey.png) no-repeat left center;
}
.toolbar .limiter ul li:first-child {
	background: none;
	padding-left: 0;
}
.toolbar .limiter ul li a {
	color: #4ec7da;
}
.toolbar .sorter {
	margin-top: 10px;
}
.sorter .view-mode, .sorter .sort-by {
	float: none;
}
.sorter .sort-by label, .sorter .sort-by span.sort-active, .toolbar .limiter label, .toolbar .limiter ul li span.view-active {
	font-weight: bold;
}
.sorter .sort-by label, .toolbar .limiter label {
	display: block;
	vertical-align: inherit;
	margin-right: 5px;
}
.sorter .sort-by label, .sorter .sort-by ul, .toolbar .limiter label, .toolbar .limiter ul  {
	float: left;
}
.sorter .sort-by ul li, .toolbar .limiter ul li {
	display: inline-block;
}
.sorter .sort-by ul li {
	border-left: 1px solid #a4a4a4;
	padding: 0 0 0 7px;
	margin: 0 5px 0 0;
}
.sorter .sort-by ul li:first-child {
	padding-left: 0;
	border-left: none;
}
.sorter .sort-by a, .sorter .sort-by span {
	display: inline-block;
	color: #838383;
}
.pager .pages {
	font-weight: bold;
}
.pager .pages li a {
	color: #4ec7da;
}
.old-price .price {
	font-weight: normal;
	font-size: 12px !important;
}
.special-price .price {
	color: #e74949 !important;
}
.toolbar-bottom {
	margin-bottom: 20px;
	margin-top: 20px;
}
.toolbar-bottom .toolbar {
	margin-bottom: 20px;
}
.toolbar-bottom .toolbar .pager {
	padding-left: 0;
	padding-right: 0;
}
.toolbar-bottom .toolbar .pager .custome-nav {
	display: block;
	margin-top: 40px;
}
.toolbar-bottom .pager .amount {
	margin-left: 8px;
}
.toolbar-bottom .limiter {
	margin-right: 8px;
}
.toolbar-bottom a.link-catalog-nav {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
	background-color: #9b9b9b;
	background-repeat: no-repeat;
	width: 100px;
	height: 45px;
	line-height: 45px;
}
.toolbar-bottom a.link-catalog-nav:hover {
	background-color:#96e2f3;
}
.toolbar-bottom a.link-catalog-nav.prev {
	float: left;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	border-radius: 0 7px 7px 0;
	background-image: url(../images/arrow-prev-white.png);
	background-position: 15px center;
	padding-left: 35px;
	padding-right: 15px;
}
.toolbar-bottom a.link-catalog-nav.prev:hover {
	background-image: url(../images/arrow-prev-white-hover.png);
}
.toolbar-bottom a.link-catalog-nav.next {
	float: right;
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	border-radius: 7px 0 0 7px;
	background-image: url(../images/arrow-next-white.png);
	background-position: 125px center;
	padding-left: 20px;
	padding-right: 35px;
	text-align: right;
}
.toolbar-bottom a.link-catalog-nav.next:hover {
	background-image: url(../images/arrow-next-white-hover.png);
}
.toolbar-mobile {
	display: none;
	background: #efefef;
}
.toolbar-mobile .amount {
	padding: 15px 0;
	border-bottom: 1px solid #dadada;
	text-align: center;
}
.toolbar-mobile .pager {
	padding: 10px 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dadada;
}
.toolbar-mobile .sorter {
	padding: 10px 0;
	border-top: 1px solid #fff;
	text-align: center;
	margin: 0 auto;
	width: 252px;
}
.toolbar-mobile .sort-by, .toolbar-mobile .filter {
	padding-right: 0;
	padding: 10px 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: url(../images/txt-search-1.jpg) repeat-x left top;
}
.toolbar-mobile .sort-by .sort-by-option, .toolbar-mobile .filter .filter-option {
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	background: url(../images/arrow-blue.png) no-repeat right center;
}
.toolbar-mobile .sort-by .sort-by-option select, .toolbar-mobile .filter .filter-option select {
	color: #42bcd1;
	font-size: 1.2em;
	height: 25px;
	background: none;
	width: 80px;
	line-height: normal;
	border: 0;
	border-radius:0;
	height: 15px;
	-webkit-appearance: none;
	margin-right: 5px;
}
.toolbar-mobile .filter {
	margin-left: 5px;
}

.filter-toggle {
		display: none;
	}


@media only screen and (max-width: 1215px) {
	.advertise ul li {
		width: 49.4%;
		height: 49.4%;
	}
}
@media only screen and (max-width: 1023px) { 
	.advertise ul li {
		width: 49.2%;
		height: 49.2%;
	}
}




/* --------------- smaller 959 px layout -------------------- */
@media only screen and (max-width: 767px) {
	.category-description + p, .featured-product-catalog, .toolbar, .toolbar-mobile .limiter, .custome-nav, .show-filter, .toolbar-mobile .filter {
		display: none;
	}
	.col2-left-layout .products-grid, .col2-right-layout .products-grid {
		width: auto;
		margin: 0 10px;
	}
	.toolbar-mobile, .toolbar-bottom .toolbar-mobile .sorter {
		display: block;
	}
	.pager {
		background: none;
	}
	.pager .pages {
		margin: 0 auto;
	}
	.filter-toggle {
		display: block;
		margin: 12px;
	}
	.filter-toggle a {
		border: #707070;
		background: url("../images/arrow-blue.png") no-repeat scroll right 5px center #FFF;
		padding: 11px 25px 10px 10px;
		border: 1px solid #ccc;
		color: #4EC7DA;
		cursor: pointer;
	}
}
/* --------------- 320 px layout -------------------- */
@media only screen and (max-width: 479px) { 
	
}