@import url('stylesheet.css');
body {
	margin: 0;
	padding: 0;
	line-height: normal;
	font-size: 0.75em;
	color: #707070;
	font-family: Helvetica;
	background: url(../images/border-top.jpg) repeat-x left top;
}
.wrapper {
	width: 100%;
}
.page {
	margin: 0 auto;
}
.main-container, .main-container.col1-layout .main, .main-container.col2-left-layout .main, .main-container.col2-right-layout .main {
	width: 1216px;
	margin: 5px auto 0;
	background: none;
	padding: 0;
}
.main {}
.col2-left-layout .main {}
.col2-left-layout .main .col-left.sidebar, .col2-right-layout .main .col-right.sidebar {
	width: 167px;
	position:relative;
}
.col2-left-layout .main .col-main, .col2-right-layout .main .col-main {
	width: 1032px;
}
.breadcrumbs {
	font-size: 12px;
	font-family: helvetica;
	font-weight: bold;
        margin: 13px 0;
} 
.breadcrumbs a {
	color: #4ec7da;
	font-weight: bold;
}
.breadcrumbs a:hover {}
.breadcrumbs li strong {
	font-weight: normal;
}
.left {
	float: left;
}
.block-banner img {
	width: 100%;
}
.pager {
	background: url(../images/bg-pager.jpg) repeat-x left top;
	border-top: none;
}
.pager .amount {
	color: #838383;
	font-weight: bold;
}
.pager, .limiter {
	font-size: 12px;
}
.sorter {
	background: none;
	border-top: none;
	font-size: 12px;
}
.price-box .old-price .price-label, .price-box .special-price .price-label {
	display: none;
}
.price-box .old-price {}
.products-grid {
	background: none;
	border-bottom: none;
}
.products-grid li.item {
	width: 152px;
	padding-bottom: 12px;

    /*float:left;
    margin:15px 0 10px 0;
    padding: 7.6px;*/
    zoom: 1;
    position: relative;
    /*width: 13% !important;*/
}

.top_thumb_list_product .special-price,
.top_thumb_list_product .old-price,
.top_thumb_list_product .discount-product {
    margin: 0;
}
.products-grid li.item:hover {
	background-color: #fff;
	z-index: 10;
	margin-left:0;
	margin-right: 0;
	border-color: transparent;
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.products-grid .product-image {
	width: 152px;
	height: 152px;
	overflow: hidden;
}
.products-grid .product-image img {
	max-width: 100%;
	height:auto;
}
.products-grid .product-name, .products-grid .price-box {
	height: 55px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.products-grid .product-name span.lbl-newproduct {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-family: 'bebasregular';
	font-weight: normal;
	background: #8dd240;
	padding: 0 7px;
}
.products-grid .product-name a {
	color: #707070;
	font-size: 1em;
}
.products-grid .product-info-wrapper {
}
.products-grid .price-box .price, .products-grid .price-box .regular-price .price {
	color: #707070;
	font-size: 1.2em;
}
.products-grid .price-box {
	position: relative;
	height: 40px;
}
.products-grid .price-box .discount-product {
	color: #4ec7da;
	font-size: 11px;
	font-weight: bold;
	position: absolute;
	right: 0;
	bottom: 18px;
}
.products-grid .actions {
	position: relative;
}
.category-products .actions{
	position:static;
}
.category-products .pos-abs {
    bottom: 20px;
    position: absolute;
}
.top_thumb_list_product .regular-price{
	position:absolute;
	bottom:0;
}
.products-grid > li:hover button.btn-cart, button.btn-cart:hover  {
	background:#F48120;
}
button.btn-cart {
    width:88px;
	background:#231F20;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    /*background-image:url(../../../images/btn-buynow.png);*/
    height:30px;
    line-height:30px;
    color: #fff;
    font-family: Helvetica;
    font-size: 0.9em;
    text-transform: uppercase;
	position: absolute;
	bottom: 20px;
}
button.buynow_awrelated {
    background-image: url("../images/btn-buynow.png");
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 1em;
    font-weight: normal;
    height: 36px;
    line-height: 21px;
    position: absolute;
    text-transform: uppercase;
    top: 25px;
    width: 88px;
}
button.btn-cart span, button.btn-cart span span {
	background: none;
	border: none;
	height: auto;
}
.add-to-links li a {
	display: inline-block;
	font-weight: bold;
	font-size: 12px;
	color: #ffa01b;
	margin-left: 5px;
}
.ratings {
	height: 20px;
}
.block .btn-remove {
	margin-left: 0;
	margin-right: 5px;
}
.btn-remove {
	width: 14px;
	height: 14px;
	background: url(../images/btn-remove.png) no-repeat 0 0;
}
a.back-to-top {
	display: none;
	position: fixed;
	right: 0;
	bottom: 15%;
	background: #4ec7da;
	z-index:99;
	color: #fff;
	-moz-border-radius: 10px 0 0 10px;
	-webkit-border-radius: 10px 0 0 10px;
	border-radius: 10px 0 0 10px;
	padding: 13px 10px;
	text-align: center;
	width: 54px;
}
a.back-to-top img {
	margin-left: 3px;
	margin-top: 4px;
}

/* ajax login */
.Canvas .Shadowed {
	box-shadow: none;
}
.al-authorization-container-overlap .Close {
	padding: 10px !important;
}
.Canvas .Shadowed .Close a {
	background: url(../images/btn_close_big.png) right no-repeat;
	display: block;
	line-height: 22px;
	color: #fff;
	outline: none;
	text-decoration: none;
	text-indent: -9999em;
	z-index: -1;
}
.al-authorization-container-overlap .Canvas .Wrapper {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: white !important;
}
.al-authorization .Frame h2 {
	font-size: 1.16em;
	font-family: 'bebasregular';
	color: #343334;
	word-spacing: 2px;
}
.al-authorization .form-list li:first-child
 {
	/*background: url(../images/dash-orange.png) bottom repeat-x; */
	padding-bottom: 20px;
}
.al-authorization .form-list li:last-child {
	/*background: url(../images/dash-orange.png) bottom repeat-x; */
	padding-bottom: 20px;
	border-bottom: 3px dashed #fe8c08;
}
.al-authorization .form-list .field {
	width: 100%;
}
.al-authorization .form-list .field.name-firstname {
	margin-bottom: 8px;
}
.al-authorization .form-list li label {
	width: 100px;
	font-weight: normal;
	padding-top: 6px;
	color: #5d5d5d;
}
.al-authorization .form-list label.required em {
	right: 7px;
	top: 3px;
}
.al-authorization .form-list .input-box {
	clear: none;
	width: auto;
	float: left;
}
.al-authorization .form-list input.input-text {
	width: 220px;
	background: #f8f8f8;
	padding: 5px;
	border-color: #d8d8d8;
}
.al-authorization .form-list .buttons-set {
	border-top: 0;
	margin-top: 30px;
	padding: 0;
}
.al-authorization .form-list .buttons-set button.button {
	float: left;
}
.al-authorization .form-list .buttons-set button.button span {
	border: 0;
	background: #fd8e17;
	height: auto;
	padding: 0;
}
.al-authorization .form-list .buttons-set button.button span span {
	font-size: 1.4em;
	font-family: 'bebasregular';
	font-weight: normal;
	padding: 3px 10px;
	line-height: 2em;
}
.al-authorization .form-list .buttons-set p.required {
	display: none;
}
.al-authorization .form-list .buttons-set a {
	margin-left: 10px;
	color: #fd8e17;
	text-decoration: underline;
}
.al-authorizationform-register .form-list li label {
	float: left !important;
	width: 120px;
}
.al-authorizationform-register .form-list input.input-text {
	width: 200px;
}
.al-authorizationform-register .form-list li label.newsletter {
	float: none !important;
	width: auto;
	font-weight: bold;
}
.al-socialnets {
	margin-top: 30px;
	border-top: 1px #8d8d8d solid;
	position: relative;
}
.al-socialnets span {
	background: white;
	position: absolute;
	top: -9px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 130px;
}
.al-authorization .form-list .al-socialnets ul {
	margin-top: 20px;
}
.al-authorization .form-list .al-socialnets ul li {
	background: none;
	padding-bottom: 0;
}

@media only screen and (max-width: 1215px) {
	.main-container, .main-container.col1-layout .main {
		width: 994px;
	}
	.main-container.col2-left-layout .main {
		width: 100%;
	}
	.col2-left-layout .main .col-main {
		width: 815px;
	}
	.products-grid li.item {
		width: 143px;
	}
	.products-grid .product-image {
		width: 100%;
		height: auto;
	}
    .breadcrumbs {
        margin:0 0 13px 0;
    } 
}
/* --------------- 960 px layout -------------------- */
@media only screen and (max-width: 1023px) {
	.main-container, .main-container.col1-layout .main {
		width: 745px;
	}
	.col2-left-layout .main .col-left.sidebar {
		margin-top: -4px;
	}
	.col2-left-layout .main .col-main {
		width: 570px;
	}
	.products-grid li.item {
		width: 122px;
	}
    .breadcrumbs {
        margin: 10px 0;
    }
	
}
/* --------------- smaller 959 px layout -------------------- */
@media only screen and (max-width: 767px) {
	.main-container, .main-container.col1-layout .main, .col2-left-layout .main .col-main {
		width: 100%;
		margin-top: 0;
	}
	.main {
		min-height: inherit;
	}
	.col2-left-layout .main .col-left.sidebar, .col2-left-layout .main .col-main {
		float: none;
	}
	.col2-left-layout .main .col-left.sidebar {
		margin: 0;
		width: 100%;
	}
	.breadcrumbs {
		display: none;
	}
	.products-grid li.item {
		float: none;
		width: auto;
		border-bottom: 1px solid #dadada;
	}
	.products-grid .product-info-wrapper {
		float: left;
		margin-left: 10px;
	}
	.products-grid .actions button.btn-cart, .products-grid .actions .add-to-links {
		float: left;
	}
	/* .products-grid .actions .add-to-links {
		margin-top: 0;
		margin-left: 150px;
	} */
	.add-to-links li a {
		margin-top: 11px;
	}
}
/* --------------- 320 px layout -------------------- */
@media only screen and (max-width: 479px) { 
	.products-grid .actions button.btn-cart, .products-grid .actions .add-to-links {
		float: none;
	}
	/* .products-grid .actions .add-to-links {
		margin-left: 120px;
	} */

/* -------blog custom-------- */
/* .blog-index-list .main {
    width: 100%;
	background:none;
	display:block;
	padding: 0 !important;
}

.blog-index-list .col-main {width:75%;}
.blog-index-list .col-right {
    float: right;
    padding:0 0 0 3%;
    width: 22%;
}

.blog-post-view .main {
    width: 100%;
	background:none;
	display:block;
	padding: 0 !important;
}

.blog-post-view .col-main {width:75%;}
.blog-post-view .col-right {
    float: right;
    padding:0 0 0 3%;
    width: 22%;
}
	
	/* ajax login */
	.al-authorization-container-overlap .Canvas {
		margin-left: -130px !important;
		width: 260px !important;
	}
	.al-authorization .form-list .input-box {
		clear: both;
	}
	.al-authorization .form-list li label {
		padding-top: 0;
		padding-bottom: 5px;
	}
	.al-socialnets ul {
		margin-left: auto;
		margin-right: auto;
		width: 132px;
	}
}

.regular-price .price, .special-price .price{
    /*position: absolute;
    bottom: 0;*/
}



/* -------------------------------SPECIAL CATEGORY PAGE------------------------------- */

.wrapper.special-1 {
    background: url("../images/bg-krem.png")repeat;
}
.special-1 .toolbar {
    margin-bottom: 15px;
}
.special-1 .header-container {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
.special-1 .onsale-category-container {
    top: -18px !important;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100% !important;
}
@media only screen and (max-width: 1023px){
    .special-1 .onsale-category-container {
        width: 100% !important;
        top: -12px !important;
    }
}

@media only screen and (max-width: 767px){
    .special-1 .onsale-category-container {
        width: 100% !important;
        top: -8px !important;
    }
}

/* -------------------------------END SPECIAL CATEGORY PAGE------------------------------- */


