.header-container, .sticky-header-wrapper {
	width: 100%;
	border: none;
}
.header-container {
	background: none;
}
.sticky-header-wrapper {
	background: #f7f7f7;
	display: none;
	position: fixed;
	top:0;
	left: 0;
	z-index: 3;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
	-moz-box-shadow: 1px 1px 4px 0 #ccc;
	box-shadow: 1px 1px 4px 0 #ccc;
    padding: 2px 0;
}
.header, #nav, .sticky-header {
	width: 1216px;
	padding: 0;
}
.sticky-header {
	margin: 0 auto;
	background: #f7f7f7;
}
.sticky-header a.sticky-logo, .sticky-header ul.sticky-menu {	
	float: left;
}
.sticky-header a.sticky-logo {
	display: block;
	background: none;
	height: 34px;
}
.sticky-header ul.sticky-menu {
	margin: 0 0 0 40px;
	height: 34px;
}
.sticky-header ul.sticky-menu li {
	display: block;
	float: left;
	text-transform: uppercase;
	color: #b2b2b2;
	font-size: 14px;
	font-family: 'bebasregular';
	font-weight: normal;
	padding:0 15px 0;
	border-right: 1px solid #cecece;
	border-left: 1px solid #fafafa;
	height: 34px;
}
.sticky-header ul.sticky-menu li:first-child {
	border-left: none;
}
.sticky-header ul.sticky-menu li a {
	color: #b2b2b2;
	display:block;
	line-height: 34px;
}
.free-voucher-info {
	display: none;
	text-align: left;
	position: absolute;
	left: -1px;
	top: 35px;
	background: #fcfcfc;
	width: 313px;
	padding: 18px 20px;
	-moz-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.free-voucher-info h3 {
	color: #ffa01b;
	text-transform: uppercase;
	font-size: 24px;
	font-family: 'bebasregular';
	font-weight: normal;
	margin-bottom: 10px;
}
.free-voucher-info p {
	font-size: 14px;
	color: #707070;
	font-family: Helvetica, Arial;
	text-transform: none;
	margin-bottom: 5px;
}
.header-newsletter .block-subscribe {
	border: none;
	margin: 0;
}
.header-newsletter .block-subscribe .block-title, .header-newsletter .block-subscribe .form-subscribe-header {
	display: none;
}
.header-newsletter .block-subscribe .block-content {
	padding: 0;
	background: none;
}
.header-newsletter .block-subscribe .block-content .input-box, .header-newsletter .block-subscribe .block-content .actions {
	float: left;
}
.header-newsletter .block-subscribe .block-content .input-box {
	width: 237px;
	height: 25px;
	background: url(../images/txt-search.jpg) no-repeat left top;
	border-bottom: 1px solid #d0d0d0;
}
.header-newsletter .block-subscribe .block-content .input-box input.input-text {
	margin: 3px 0 0 5px;
	width: 205px;
	border: none;
	color: #bababa;
}
.header-newsletter .block-subscribe .block-content .actions {
	margin-top: 0;
}
.header-newsletter .block-subscribe .actions button.button {
	height: 26px;
	background: #ffa01b;
}
.header-newsletter .block-subscribe .actions button.button span {
	border: none;
	background: #ffa01b;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
	word-spacing: 3px;
}
.sticky-header ul.sticky-menu li.link-free-voucher {
	position: relative;
}
.sticky-header ul.sticky-menu li.link-free-voucher:hover {
	background: #fff;
}
.sticky-header ul.sticky-menu li.link-free-voucher:hover a {
	color: #707070;
}
.sticky-header ul.sticky-menu li.link-free-voucher:hover .free-voucher-info {
	display: block;
}
.sticky-header ul.sticky-menu li.link-customer-care, 
.sticky-header ul.sticky-menu li.link-customer-care2 {
	padding-top: 0;
	padding-bottom: 0;
	border-right: none;
}
.sticky-header ul.sticky-menu li.link-customer-care a, 
.sticky-header ul.sticky-menu li.link-customer-care2 a {
	color: #707070;
	font-size: 18px;
	background: url(../images/icon-phone.png) no-repeat left top;
	padding-left: 45px;
	height: 28px;
	line-height: 1.7em;
}
.sticky-header ul.sticky-menu li.link-customer-care2 {
	display: none;
}
.sticky-header .sticky-search, .sticky-header .sticky-top-cart {
	float: right;
}
.sticky-header .sticky-top-cart {
	background: #ffa01b;
	height: 34px;
	padding:0 10px;
	position: relative;
}
.sticky-header .sticky-top-cart a.link-minicart-sticky, .sticky-header .sticky-top-cart a.link-checkout {
	display: block;
	float: left;
	font-family: 'bebasregular';
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	margin: 3px 0;
	padding: 5px 0;
}
.sticky-header .sticky-top-cart a.link-minicart-sticky {
	border-right: 1px solid #eb8c00;
	padding-right: 10px;
}
.sticky-header .sticky-top-cart a.link-checkout  {
	padding-left: 10px;
}
.sticky-header .sticky-search {
	background: #fff;
	padding: 4px 0 2px 5px;
	margin: 3px 3px 3px;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
	-moz-box-shadow: 1px 1px 4px 0 #ccc;
	box-shadow: 1px 1px 4px 0 #ccc;
}
.sticky-header .sticky-search .form-search .input-keyword {
	float: left;
	
}
.sticky-header .sticky-search .form-search .input-keyword input.input-text {
	border: none;
	float: left;
	margin-right: 5px;
	color: #bababa;
}
.sticky-header .sticky-search .form-search .input-keyword button.btn-search-mobile {
	display: none;
}
.sticky-header .sticky-search .form-search .input-keyword .select-category {
	float: left;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 0 10px 0 0;
	/* margin: 3px 5px 0 0; */
	/* background: url(../images/arrow-select.png) no-repeat right center; */
	
}

.sticky-header .sticky-search .form-search .input-keyword .select-category select {
	background: none;
	width: 90px;
	line-height: normal;
	padding:0;
	border: 0;
	border-radius:0;
	/* height: 15px; */
	/* -webkit-appearance: none;
	margin-right: 5px; */
	height: 20px;
	padding: 0px;
	color: #707070;
}
.sticky-header .sticky-search .form-search button.button {
	float: left;
	width: 30px;
	height: 21px;
	background: url(../images/icon-lup.png) no-repeat center center;
	text-indent: -999999px;
	border-left: 1px solid #c1c1c1;
}
.sticky-header .sticky-search .form-search button.button span, .sticky-header .sticky-search .form-search button.button span span {
	background: none;
	padding: 0;
	border: none;
}
.sticky-header .mini-cart-sticky {
	display: none;
	position: absolute;
	top:34px;
	right: 0;
	border: 1px solid #ffa01b;
	background: #fff;
	width: 313px;
}
.sticky-header .mini-cart-sticky .block-cart {
	border: none;
	margin: 0;
	font-size: 0.95em;
}
.sticky-header .mini-cart-sticky .block-cart .block-content {
	background: #e9e9e9;
	padding: 0 0 10px 0;
	border: 1px solid #fff;
}
.sticky-header .mini-cart-sticky .block-cart .block-content .empty {
	margin-top: 10px;
}
.header {
	position: relative;
	text-align: left;
	padding: 0 0 15px;
	/* background: #fff; */
}
.header .menu-top, .header .menu-blog {
	clear: both;
    float: left;
	text-align: center;
}
.header .menu-top {
    width: auto;
    bottom: 0;
    left: 175px;
    /* margin-left: 10px; */
    position: absolute;
    display: block;
}

/* .header .menu-top:before {
    background: none repeat scroll 0 0 #95E1F1;
    content: "";
    height: 4px;
    left: -300%;
    position: absolute;
    right: 0;
    top: -4px;
    width: 300%;
} */
.header .menu-blog {
	right:0;
	width: 287px;
}
.menu-top ul li, .menu-blog span {
	display: inline-block;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
}
.menu-top ul li {
	background: #4EC7DA;
	width: 110px;
	padding: 7px 0 3px;
}
.menu-top ul li a {
	display: block;
	color: #fff;
}
.menu-top ul li:hover, .menu-top ul li.active {
	background: #e4c29c !important;
    box-shadow: 0 -4px 18px rgba(0, 0, 0, 0.1) inset;
}  
.menu-top ul li:last-child:hover {
	/* background: #ffb39c; */
	background: #95e1f1;
}
.menu-top ul li.home-menu:hover {
	background: #ffb29d;
}
.menu-blog span {
	background: #95e1f1;
	padding: 0 0 5px 0;
}
.menu-blog span a {
	display: block;
	border-top:2px dashed #fff;
	border-bottom: 2px dashed #fff;
	padding: 2px 10px;
	margin:0 10px;
	text-align: center;
	color: #fff;
}
.header .logo {
	margin: 10px 0 0 10px;
}
.keypoint {
	float: left;
	margin: 10px 0 0 26px;
}
.keypoint ul li {
	display: inline-block;
	padding: 0 0 0 40px;
	width: 21%;
    float: left;
    height:auto;
}
.keypoint ul li span {
	display: block;
	text-transform: uppercase;
	font-family: 'bebasregular';
    font-size: 11px;
}
.keypoint ul li p {
	line-height: 12px;
	font-size: 9px;
	color: #707070;
}
.keypoint ul li.free-shipping {
	background: url(../images/free-shipping.png) no-repeat left top;
}
.keypoint ul li.cod {
	background: url(../images/cod.png) no-repeat 5px top;
}
.keypoint ul li.return {
	background: url(../images/return.png) no-repeat 5px top;
}
.header .quick-access {
	padding: 0;
	width: 40%;
    position: absolute;
    right: 0;
}
.header .quick-access a.link-blog-mobile, .header .quick-access a.link-myaccount-mobile {
	display: none;
	float: left;
	padding: 42px 0 0 0;
	text-align: center;
	height: auto;
	text-align: center;
	color: #fdac49;
	margin: 0 20px 0 0;
}
.header .quick-access a.link-blog-mobile {
	width: 51px;
	background: url(../images/menu-blog-mobile.png) no-repeat center top;
}
.header .quick-access a.link-myaccount-mobile {
	background: url(../images/menu-account-mobile.png) no-repeat center top;
}
.header .quick-access .left .form-language {
	display: none;
}
.header .quick-access .top-cart {
	float: right;
	margin: 0 0 10px 0;
	position: relative;
	z-index: 3;
}
.header .quick-access .top-cart a {
	display: block;
	float: left;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'bebasregular';
	height: auto;
	line-height: 23px;
}
.header .quick-access .top-cart a.link-minicart, .header .quick-access .top-cart a.link-checkout {
	background-color:#ffa01b ;
	padding: 3px 10px;
}
.header .quick-access .top-cart a.link-minicart, .sticky-header .sticky-top-cart a.link-minicart-sticky {
	background-image: url(../images/cart.png);
	background-repeat: no-repeat;
	background-position: 5px center;	
	padding-left:36px;
}
.sticky-header .sticky-top-cart a.link-minicart-sticky {
	line-height: 1.5em;
}
.header .quick-access .top-cart a.link-blog {
	margin-left: 3px;
	background-color: #95e1f1;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}
.header .quick-access .top-cart a.link-blog span {
	display: block;
	padding: 2px 10px;
	margin:0 10px 3px;
	text-align: center;
}
.header .quick-access .top-cart a.link-checkout, .mini-cart-mobile .block-cart .actions button.button.btn-checkout, .sticky-header .sticky-top-cart a.link-checkout {
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
}
.header .quick-access .top-cart a.link-checkout, .sticky-header .sticky-top-cart a.link-checkout {
	background-position: 62px center;
	border-left: 1px solid #fff;
	padding-right:25px;
}
.sticky-header .sticky-top-cart a.link-checkout {
	line-height: 1.5em;
	height: 17px;
}
.header .mini-cart {
	display: none;
	position: absolute;
	right: 69px;
	top:30px;
	border: 1px solid #ffa01b;
	background: #fff;
	width: 342px;
}
.header .mini-cart .block-cart {
	border: none;
	margin: 0;
	font-size: 0.95em;
}
.header .mini-cart .block-cart .block-content {
	background: #e9e9e9;
	padding: 0 0 10px 0;
	border: 1px solid #fff;
}
.header .mini-cart .block-cart .block-content .empty {
	margin-top: 10px;
}
.mini-products-list {
	width: 100%;
	background: #fff;
}
.mini-products-list thead {
	background: #e9e9e9;
	border-bottom: 2px solid #fff;
}
.mini-products-list thead tr th {
	font-weight: bold;
	padding: 5px;
	text-align: left;
	font-size: 1.05em;
}
.mini-products-list thead tr th.price {
	text-align: right;
}
.mini-products-list tbody {
	border-top: 1px solid #e6e6e6;
}
.mini-products-list tbody tr.item {
	padding: 0 5px;
}
.mini-products-list tbody tr td {
	padding: 20px 5px;
	border-bottom: 1px solid #e6e6e6;
}
.mini-products-list tbody tr td.qty {
	text-align: center;
}
.mini-products-list tbody tr td.price {
	width: 80px;
	text-align: right;
	font-size: 14px;
    font-weight: bold;
}
.mini-cart-content {
	max-height: 300px;
	overflow: auto;
}
.mini-products-list a.product-image {
	display: block;
	width: 46px;
	height: 46px !important;
	overflow: hidden;
	border: none;
	float: none;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.mini-products-list .product-details, .mini-products-list .product-details a.product-name {
	margin: 0;
	color: #515151;
}
.mini-products-list .product-details a.product-name, .mini-cart .block-cart .amount a, .mini-cart-sticky .block-cart .amount a {
	float: none;
	font-family: Helvetica;
	font-weight: bold;
	color: #707070;
	line-height: normal;
	padding: 0;
	display: inline;
	height: auto;
}
.mini-products-list .product-details a.product-name {
	font-size: 0.95em;
	text-transform: capitalize;
	
}
.mini-cart .block-cart .amount a, .mini-cart-sticky .block-cart .amount a {
	text-transform: none;
	font-size: 1em;
	color: #fd8e17;
}
.mini-products-list input.input-text.qty {
	width: 28px !important;
	height: 18px;
	background:url(../images/bg-txt-qty.png) no-repeat left top ;
	border: none;
	text-align: center;
}
.mini-cart .block-cart .summary, .mini-cart .block-cart .actions, .mini-cart-sticky .block-cart .summary, .mini-cart-sticky .block-cart .actions  {
	background: none;
}
.mini-cart .block-cart .summary, .mini-cart-sticky .block-cart .summary {
	margin: 0;
	max-height: 80px;
}
.mini-cart .block-cart .subtotal, .mini-cart .block-cart .amount, .mini-cart-sticky .block-cart .subtotal, .mini-cart-sticky .block-cart .amount {
	text-align: right;
	font-size: 12px;
}
.mini-cart .block-cart .subtotal, .mini-cart-sticky .block-cart .subtotal {
	font-weight: bold;
	background: none;
}
.mini-cart .block-cart .subtotal {
	font-size: 14px;
}
.mini-cart .block-cart .subtotal span.price {
	color: #fd8e17;
}
.mini-cart .block-cart .actions, .mini-cart-sticky .block-cart .actions {
	padding-top: 0;
	padding-bottom: 0;
	text-align: left;
	border-bottom: none;
}
.mini-cart .block-cart .actions button.button.btn-checkout, .mini-cart-sticky .block-cart .actions button.button.btn-checkout {
	width: 100%;
}
.mini-cart .block-cart .actions button.button.btn-checkout, .mini-cart-mobile .block-cart .actions button.button.btn-checkout, .mini-cart-sticky .block-cart .actions button.button.btn-checkout {
	display: inline-block;
	float: none;
	background-color: #ffa01b;
	background-position: 107px 8px;
	text-align: center;
	padding-top: 6px ;
	padding-right: 45px;
	padding-bottom:2px ;
	padding-left: 30px;
	-webkit-padding-before: 2px ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.header .mini-cart-mobile {
	display: none;
	clear: both;
}
.header .mini-cart-mobile .block-cart {
	margin: 0;
}
.mini-cart .block-cart .actions button.button.btn-checkout span, .mini-cart .block-cart .actions button.button.btn-checkout span span, .mini-cart-mobile .block-cart .actions button.button.btn-checkout span, .mini-cart-mobile .block-cart .actions button.button.btn-checkout span span, .mini-cart-sticky .block-cart .actions button.button.btn-checkout span, .mini-cart-sticky .block-cart .actions button.button.btn-checkout span span {
	background: none;
	height: auto;
	padding-left: 0;
	padding-right: 0;
	font-size: 1.21em;
	text-transform: uppercase;
	font-family: 'bebasregular';
	font-weight: normal;
	line-height: normal;
}
.mini-cart .block-cart .actions button.button.btn-checkout span span img, .mini-cart-sticky .block-cart .actions button.button.btn-checkout span span img {
	/* margin-top: 5px; */ margin: 1px 0 0 8px;
	-webkit-margin-before: 6px;
}
.header .quick-access .left {
	margin: 4px 50px 0 0;
	position: relative;
}
.header .quick-access .store-phone, .header .links, .menu-tablet .links {
	float: none;
	font-family: Helvetica;
    display: block;
}
.header .links {
	margin: 2px 0 0 0;
}
.header .links li:first-child {
	border-right: 1px solid #f1f1f1; 
}
.header .links li.track-order, .header .links li.login {
	padding-left: 7px;
	padding-right: 5px;
}
.header .links li.login:after
{ 
	content:" / ";
}
.header .my-account-mobile .links li.login:after
{ 
	content:" ";
}
.header .links li {
	float: none;
	background: none;
	padding-left: 0px;
	padding-right: 0px;
}
.header .links li.first {
	border: none;
}
.header .links li.trackorder {
	background: none !important;
	display: none;
}
.header .links li.track-order {
	padding-left: 0;
}
.header .links li.register {
	border: none;
	padding: 0;
}
.header .links li.login {
	padding-left: 7px;
	padding-right: 0;
}
.header .links li.register, .menu-tablet .links li.register {
	padding-left: 5px;
	background: url(../images/slash.png) no-repeat left center !important;
}
.header .links a, .menu-tablet .links a {
	color: #4ec7da;
}
.header .links a:hover {
	text-decoration: underline;
}
.header .links li.myaccount, .menu-tablet .links li.myaccount {
	position: relative;
}

.header .links li.myaccount a.link-trigger-myaccount, .menu-tablet .links li.myaccount a.link-trigger-myaccount {
	display: inline-block;
	background: url(../images/icon-user.png) no-repeat left center;
	padding: 5px 0 5px 20px;
}
.header .links li.myaccount .toplink-myaccount, .menu-tablet .links li.myaccount .toplink-myaccount {
	display: none;
	position: absolute;
	top: 0px;
	left: 0;
	background: #fff;
	padding: 10px;
	z-index: 2;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
	-moz-box-shadow: 1px 1px 4px 0 #ccc;
	box-shadow: 1px 1px 4px 0 #ccc;
	width: 97%;
}
.header .links li.myaccount .toplink-myaccount {
	min-width: 190px;
    top: 18px;
}
.header .links li.myaccount .toplink-myaccount ul li, .menu-tablet .links li.myaccount .toplink-myaccount ul li  {
	border-top: 1px solid #dadada;
	border-left: none;
	padding-left: 0;
	padding-right: 0;
	font-size: 1.1em;
	display: block;
}
.header .links li.myaccount .toplink-myaccount ul li:first-child, 
.menu-tablet .links li.myaccount .toplink-myaccount ul li:first-child {
	border-top: none;
}
.header .links li.myaccount .toplink-myaccount ul li a,
.menu-tablet .links li.myaccount .toplink-myaccount ul li a {
	display: block;
	padding: 5px 0;
	color: #707070;
	font-size: 1em;
}
.header .form-language, .menu-tablet .form-language {
	float: right;
	clear: none;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 0;
	background: url(../images/arrow-select.png) no-repeat right center;
}
.gecko .header .form-language, .menu-tablet .form-language {
	float: right;
	clear: none;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 0;
	background: none;
}
.header .form-language {
	margin: 10px 0 0 0;
}
.form-language select {
	background: none;
	width: auto;
	margin-right: 13px;
	padding: 0 10px 0 25px;
	line-height: normal;
	border: 0;
	border-radius:0;
	height: 15px;
	color: #838383;
	font-size: 11px;
	font-family: Helvetica;
	font-weight: bold;
	-webkit-appearance: none;
}
.gecko .form-language select {
	background: none;
	width: auto;
	margin-right: 0;
	padding: 0;
	line-height: normal;
	border: 0;
	border-radius:0;
	height: 15px;
	color: #838383;
	font-size: 11px;
	font-family: Helvetica;
	font-weight: bold;
	-webkit-appearance: none;
}
.form-language select.english {
	background: url(../images/english.jpg) no-repeat left top;
}
.form-language .switch-language-mobile {
	display: none;
}
.header .form-search {
	position: relative;
	background: none;
	padding: 0;
	margin: 0 0 0 10px;
	top:inherit;
	right: inherit;
	float: right;
	width: auto;
}
.header .form-search .input-keyword {
	float: left;
	width: 286px;
	height: 32px;
	background: url(../images/txt-search.jpg) no-repeat left top;
}
.header .form-search .input-keyword input.input-text {

	width: 155px;
	height: 26px;
	border: none;
	max-width: 140px;
    min-width: 100px;
	color: #bababa;
	line-height: 26px;
	margin: 1px 0px 1px 5px;
}
.header .form-search .input-keyword .select-category {
	float: right;
	clear: none;
	width: auto;
	height: auto;
	overflow: hidden;
	padding: 0 10px 0 0;
	margin:0 5px 0 0;
	background: url(../images/arrow-green.png) no-repeat right center;
}

.header .form-search .input-keyword .select-category select {
	background: none;
	width: auto;
	line-height: normal;
	border: 0;
	border-radius:0;


	width:100px;

	height: 32px;
	color: #a0cc00;
	-webkit-appearance: none;
	margin-right: 5px;
}
.gecko div.header .form-search .input-keyword .select-category {
	float: right;
	clear: none;
	width: auto;
	margin:0 5px 0 0;
	height: auto;
	overflow: hidden;
	padding: 0 0 0 0;

	background: none;
}

.gecko div.header .form-search .input-keyword .select-category select {
	/*width: 96px;
	height: 20px;
	*/
	line-height: normal;
	border:inherit;
	border-radius:inherit;
	color: #a0cc00;
	-webkit-appearance: none;
	margin-right: 5px;
}
.header .form-search button.button {
	float: left;
	width: 34px;
	height: 32px;
	background: url(../images/btn-search.jpg) no-repeat left top;
	text-indent: -999999px;
}
.header .form-search button.button span, .header .form-search button.button span span {
	background: none;
	padding: 0;
}
.header .form-search button.button.btn-search-mobile {
	display: none;
	float: right;
}
.header .search-mobile {
	display: none;
	padding: 10px;
	background: #dadada;
	clear: right;
}
.header .search-mobile .form-search {
	float: none;
	margin: 0;
	height: 44px;
}
.header .search-mobile .form-search .input-keyword {
	width: 99.8%;
	height: 44px;
	border-left: 1px solid #ccc;
	background: url(../images/txt-search-1.jpg) repeat-x left top;
}
.header .search-mobile .form-search .input-keyword input.input-text {
	width: 50%;
	margin-top: 7px;
}
.header .search-mobile .form-search .input-keyword .select-category {
	background: url(../images/arrow-blue.png) no-repeat right center !important;
	margin-top: 10px;
	margin-right: 5px;
}
.header .search-mobile .form-search .input-keyword .select-category select {
	color: #42bcd1;
	font-size: 1.2em;
	height: 25px;
	width: auto;
	padding:0;
}
.header .search-mobile .form-search .input-keyword button.button {
	background: url(../images/btn-search-mobile.png) no-repeat center center;
	width: 47px;
	height: 44px;
}
.header .my-account-mobile {
	display: none;
    width: 94%;
    padding: 0 3%;
}
/*header menu*/
.nav-container:before {
    background: url(../images/wood-baby.png) repeat-x center center;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: -5px;
}
.nav-container {
	background: -webkit-linear-gradient(#3c9aa8, #4ec7da, #4ec7da); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3c9aa8, #4ec7da, #4ec7da); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3c9aa8, #4ec7da, #4ec7da); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3c9aa8, #4ec7da, #4ec7da); /* Standard syntax (must be last) */
    background-size: 1px 60px;
}

.dash {
	background: url(../images/dash.png) repeat-x center center;
	height: 5px;
}
#nav {
	text-align: left;
}
#nav ul, #nav div {
	position: inherit;
	left: 0;
	top: 0;
	width: auto;
	border: 0;
}
#nav ul li {
	background: none;
	padding: 3px 0;
	border-top:1px solid #dadada;
}

#nav ul li:first-child, #nav ul li .left-columns ul li:first-child {
	border: none;
}
#nav ul li a, #nav ul li a:hover {
	font-family: Helvetica;
	font-size: 0.9em;
	text-transform: capitalize;
	color: #707070 !important;
	letter-spacing: normal;
	background: url(../images/arrow-menu.png) no-repeat right center;
}
#nav ul li a.bestseller, #nav ul li a.whatsnew, #nav ul li a.onsale, #nav ul li a.whatsonsale {
	font-weight: bold !important;
	background-image: url(../images/arrow-color.png);
	background-repeat: no-repeat;
}
#nav ul li a.bestseller {
	color: #ffa01b !important;
	background-position: right 4px;
}
#nav ul li a.whatsnew {
	color: #8dd240 !important;
	background-position: right -20px;
}
#nav ul li a.onsale {
	color: #fc8360 !important; 
	background-position: right -45px;
}
#nav ul li a.whatsonsale {
	color: #fc8360 !important; 
	background-position: right -43px;
}
#nav ul li.level-top {
	position: relative;
}
#nav .level-hover {
	display: none;
	position: absolute;
	top:42px;
	left: auto;
	background: #fff url(../images/shadow.png) repeat-x left top;
	width: 500px;
	padding: 20px 10px 0;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
	-moz-box-shadow: 1px 1px 4px 0 #ccc;
	box-shadow: 1px 1px 4px 0 #ccc;
	z-index: 99;
}
#nav .level-hover.shown-sub {
	display: block;
}
#nav li.level-top {
	position: relative;
	float: left;
	display: block;
	vertical-align: middle;
}
#nav li.level-top.nav-for-moms, #nav li.level-top.nav-gift-sets {
    max-width: 63px;
}
#nav li.level-top:hover {
	background: #fff;
}
#nav li.level-top:hover a.level-top {
	color: #dadada;
}
#nav li.level-top.parent-10, #nav li.level-top.parent-11 {
	float: left;
	width: auto;
}
#nav li.level-top.parent-10:hover, #nav li.level-top.parent-11:hover {
	background:none;
}
#nav li.menu-salegift {
	float: right;
}
#nav li.menu-salegift a {
	display: block;
	float: left;
	width: auto;
}
#nav li.menu-salegift a.sale, #nav li.menu-salegift a.giftideas, #nav li.nav-sale, nav li.nav-our-choice {
	text-indent: -99999px;
	padding: 0;
}
#nav li.menu-salegift a.sale, #nav a.level-top.sale, #nav li.nav-sale {
	width: 68px;
	height: 42px;
	background: url(../images/sale.png) no-repeat center center;
}
#nav li.nav-sale {float: right;}
#nav li.nav-sale a span span {display: none;}
#nav li.nav-gift-sets {float: right;}
#nav li.nav-gift-sets a span span {color: #FEE13A;}
#nav li.nav-our-choice {float: right;}
#nav li.nav-our-choice a span span {display: none;}
#nav li.menu-salegift a.giftideas, #nav a.level-top.giftideas {
	width: 43px;
	height: 42px;
	background: url(../images/gift-ideas.png) no-repeat center center;
}

    #nav li.menu-salegift a.our-choice, #nav a.level-top.our-choice, #nav li.nav-our-choice {
        background: url("../images/our-choice.png") no-repeat scroll center center / 100px auto rgba(0, 0, 0, 0);
        width: 100px;
    }
    
    #nav li.level-top.nav-our-choice:hover {
        background: url("../images/our-choice.png") no-repeat scroll center center / 100px auto #4EC7DA;
    }

#nav a.level-top.sale, #nav a.level-top.giftideas {
	text-indent: -999999px;
	padding: 0 5px;
}

#nav li.level-top.parent-6 ul.shown-sub, #nav li.level-top.parent-7 ul.shown-sub, #nav li.level-top.parent-8 ul.shown-sub, #nav li.level-top.parent-9 ul.shown-sub, #nav li.level-top.parent-10 ul.shown-sub, #nav li.level-top.parent-11 ul.shown-sub {
	right: 0;
	left: auto;
}
#nav li.shop-by {
	width: 49px;
	vertical-align: top;	
	position: relative;
}
#nav a {
	color: #fff;
	text-transform: uppercase;
	padding: 0 12px;
	font-family: 'bebasregular';
	font-weight: normal;
	letter-spacing: 1px;
}
#nav a.level-top {
	display: table-cell;
	vertical-align: middle;
	float: none;
	font-size: 1.1em;
	height: 42px;
}
#nav a.link-shopby {
	position: absolute;
	top:0;
	left: 0;
	width: 39px;
	height: 40px;
	background: url(../images/arrow-down.png) no-repeat 28px 25px, url(../images/lbl-shopby.png) no-repeat left top;
	z-index: 2;
	padding: 9px 0 0 10px !important;
}
#nav a.link-shopby {
    background: #a27e79;
    margin-top: -5px;
}
#nav a.link-shopby:after {
border-color: #a27e79 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
border-style: solid;
border-width: 7px 25px;
content: "";
position: absolute;
right: 0;
top: 49px;
}
#nav span {
	white-space: inherit;
}
#nav li.label-sale-gift {
	float: right;
	margin-left: 5px;
}
#nav ul div {
	top:0;
}
#nav ul li .left-columns {
	float: left;
	width: 30%;
}
#nav ul li .left-columns ul li span {
	padding: 0;
}

#nav ul li .right-columns {
	float: right;
	width: 65%;
}
#nav ul li .right-columns .submenu {
	width: 45%;
}
#nav ul li .right-columns .popular-brand {
	float: left;
}
#nav ul li .right-columns .our-choice {
	float: right;
}
#nav ul li .right-columns .featured-product {
	text-align: right;
	margin: 20px 0 0 0;
	background: none;
}
#nav ul li .right-columns .featured-product a.featured-image {
	display: inline-block;
	border: 1px solid #dadada;
	width: 131px;
	height: 192px;
	overflow: hidden;
	background: none;
}
.nav-container-mobile {
	display: none;
	margin: 0 15px 0;
}
.nav-container-mobile ul, .nav-container-mobile .cat-sub li {
	list-style: none;
}
.nav-container-mobile .cat-sub li a {
	padding-left: 25px;
	padding-right: 25px;
}
.nav-container-mobile .cat-sub li a.bestseller {
    color: #FFA01B !important;
    font-weight: bold;
}
.nav-container-mobile .cat-sub li a.whatsonsale {
    color: #FC8360 !important;
    font-weight: bold;
}
.nav-container-mobile .cat-sub li a.whatsnew {
    color: #8DD240 !important;
    font-weight: bold;
}
.shopby {
	text-align: left;
	background: #fff;
}
.shopby ul.shop-by {
	list-style: none;
	padding: 0 0 5px 0;
	margin: 0 0 5px 20px;
	background: url(../images/dash.png) no-repeat left bottom;
}
.shopby ul:last-child {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.shopby ul.shop-by li {
	margin: 0 0 2px 0;
}

.shopby ul.shop-by li a:hover {color: #4EC7DA;}

.shopby ul.shop-by li span.title, .submenu span.title, #nav ul li .left-columns h2 {
	color: #707070;
	font-size: 1.1em;
	font-family: 'bebasregular';
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;

}
.shopby ul.shop-by li span.title, .submenu span.title {
	padding: 0 !important;
}
#nav ul li .left-columns h2 {
	margin-bottom: 10px;
}
.submenu span.title {
	margin-bottom: 10px;
}
.shopby ul.shop-by li a.link-seemore, .homepage-product a.link-viewmore-product, #nav .shopby ul.shop-by li a.link-seemore, #nav ul li a.browse-all {
	display: inline-block;
	padding: 0 20px 0 0;
	font-weight: bold !important;
	background: url(../images/arrow-2.png) no-repeat right center;
}
.level-top .browse-all{
	margin: 10px 0px;
}
#nav .shopby {
	display: none;
	width: 215px;
	background: #fff;
	position: absolute;
	top:53px;
	left:0;
	z-index: 9;
	padding-top: 10px;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
		-moz-box-shadow: 1px 1px 4px 0 #ccc;
		box-shadow: 1px 1px 4px 0 #ccc;
}

#nav .shopby ul.shop-by {
	margin-right: 20px;
}
#nav .shopby ul.shop-by li {
	border: none;
	padding: 0;
}
#nav .shopby ul.shop-by li, #nav .shopby ul.shop-by li a {
	background: none;
}
#nav .shopby ul.shop-by li span.title {
	padding: 0;
}
#nav .shopby ul.shop-by li a {
	font-size: 0.9em;
	color: #707070 !important;
	font-family: Helvetica;
	font-weight: normal !important;
	text-transform: capitalize;
	letter-spacing: normal;
}
#nav .shopby ul.shop-by li a:hover {color: #4EC7DA !important;}
#nav li .shown-sub li div.shown-sub { left:0; }
.header a.nav-mobile-trigger, .nav-mobile, .nav-mobile .nav-container #nav li.shop-by {
	display: none;
}
.nav-mobile {
	clear: both;
}
.header a.nav-mobile-trigger {
	float: left;
	width: 28px;
	height: 26px;
	background: url(../images/menu-mobile.png) no-repeat center center;
	text-indent: -999999px;
	margin: 20px 0 0 10px;
}
/* for menu */
.nav-container-mobile ul {
	list-style: none;
	padding-left: 0;
}
.nav-container-mobile ul ul a {
	padding-left: 20px;
}
.nav-container-mobile ul li {
	border-top: 1px solid #dadada;
}
.nav-container-mobile ul li:first-child {
	border-top: none;
}
.nav-container-mobile ul li.cat-leveltop {
    background: url("../images/arrow-menu-mobile.png") no-repeat scroll 98% 17px rgba(0, 0, 0, 0);
}
.nav-container-mobile .cat-leveltop a {
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
	color: #707070;
	font-size: 1.1em;
	font-family: Helvetica;
	letter-spacing: normal;
	display: block;
	text-transform: uppercase;
	text-align: left;
	padding-left:12px;
	padding-right: 12px;
}

.nav-container-mobile .cat-leveltop a.sale {
    color: #FC8360;
    font-weight: bold;
}
.nav-container-mobile ul li.cat-leveltop.parent {
	background: url(../images/arrow-menu-mobile.png) no-repeat 98% 17px;
	
}
.nav-container-mobile .cat-sub {
	display: none;
	border-top: 1px solid #dadada;
}
#nav li.shop-by:hover .shopby {
	display: block;
}
.cms-home #nav li.shop-by:hover .shopby {
	display: none;
}
/* end for menu */
.menu-tablet {
	display: none;
	margin: 3px auto 0;
	font-size: 11px;
    width: 1216px;
}
.menu-tablet .form-language, .menu-tablet .store-phone, .menu-tablet ul.links {
	float: right;
}
.menu-tablet .form-language {
	margin-right: 10px;
    display: none;
}
.menu-tablet ul.links {
	margin-left: 20px;
}
.menu-tablet .links li.myaccount .toplink-myaccount {
	left: auto;
	right: 0;
}


/*------------------------------------------------------ Style for new Header ------------------------------------------*/


.language-select-option {width: 65px; float: right;margin: 0; display: block;}
.language-select-option select {
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background: url("../images/select-arrow-new.png") no-repeat center right 10px; */
    padding-left: 20px;
    padding-right: 0;
    border: medium none;
}
.language-select-option select.country {
    background: url(../images/language-english.gif) center left 2px no-repeat rgba(0, 0, 0, 0);
}
.language-select-option img {display: block;}
.language-select-option select.bg-select-arrow {
    background: url("../images/select-arrow-new.png") no-repeat center right 10px;
}
/* .language-select-option select.bg-select-arrow:after {
    background: url("../images/select-arrow-new.png") no-repeat center right 10px;
    position: absolute;
} */
.footer .language-select-option {display: none;}

/* NEW SEARCH FIELD */
.search-container-new {
    max-width: 420px;
    width: 86%;
    float: left;
    display: block;
}
.search-container-new-mobile {
    display: none;
}

#navbar #nav-bar-middle {
    width: auto;
    height: 55px;
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    white-space: nowrap;
}

#navbar #nav-bar-inner {
    display: block;
    zoom: 1;
    padding: 0;
    margin: 0;
    height: auto;
    white-space: nowrap;
    background-position: 0px -724px;
}

#navbar #nav-bar-outer {
    display: block;
    position: relative;
    zoom: 1;
}

#navbar {
    position: relative;
    z-index: 198;
    font-family: "arial","sans-serif";
    font-size: 12px;
    line-height: 1em;
    margin: 0 -8px;
    display: block;
    zoom: 1;
    min-width: 1000px;
}



#nav-searchbar {
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    border-radius: 0px\9;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: auto;
    margin: 0;
}

#nav-searchbar .nav-submit-button {
    float: right;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 35px;
    width: auto;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    border: 1px solid;
    border-color: #4ec7da;
    background: -webkit-linear-gradient(#4ec7da,#3c9aa8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#4ec7da,#3c9aa8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#4ec7da,#3c9aa8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#4ec7da,#3c9aa8); /* Standard syntax (must be last) */
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-radius: 0px\9;
    background-position: 0px -396px;
    /* content: url(../images/search-icon-new.png); */
}

#nav-searchbar #nav-search-in-content {
    color: #777;
    font-size: 12px;
    white-space: nowrap;
    font-family: "arial","sans-serif";
    text-indent: 1px;
    height: 35px;
    margin: 0 21px 0 9px;
    line-height: 33px;
    text-overflow: ellipsis;
}

#nav-search-in #nav-search-in-content {
    display: inline-block;
}

#nav-searchbar .nav-submit-button .nav-submit-input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "arial","sans-serif";
    font-size: 13px;
    font-weight: bold;
    height: 100%;
    line-height: 33px;
    margin: 0 2px;
    outline: medium none;
    padding: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

#nav-searchbar #nav-search-in {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-position: 0 -532px;
    border-color: #BDBDBD #CDCDCD #CDCDCD;
    border-image: none;
    border-radius: 4px 0 0 4px;
    border-right: 1px solid #CDCDCD;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    height: 35px;
    overflow: hidden;
    position: relative;
}

searchbar #nav-search-in {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    height: 35px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-top-color: #bdbdbd;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    border-radius: 0px\9;
    background-position: 0px -532px;
}

.nav-sprite-v1 .nav-sprite {
    background-image: url(http://g-ecx.images-amazon.com/images/G/01/gno/sprites/global-sprite-v1._V341377470_.png);
    background-position: 0 1000px;
    background-repeat: repeat-x;
}

#navbar #nav-search-in.nav-facade-active .nav-down-arrow {
    display: block;
}
#navbar #nav-search-in .nav-down-arrow {
    display: none;
}

#navbar #nav-search-in.nav-facade-active .nav-down-arrow {
    display: block;
}
#navbar #nav-search-in .nav-down-arrow {
    display: none;
}
#nav-searchbar #nav-search-in .nav-down-arrow {
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #a0a0a0;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 8px;
    top: 14px;
}

#nav-searchbar .nav-facade-active #searchDropdownBox {
    cursor: pointer;
    height: 29px;
    left: 0;
    top: 0;
    width: auto;
}
#nav-searchbar #searchDropdownBox {
    font-family: "arial","sans-serif";
    left: 5px;
    margin: 0;
    outline: medium none;
    padding: 0;
    position: absolute;
    top: 7px;
    width: 190px;
}
.nav-facade-active #searchDropdownBox {
    opacity: 0;
    visibility: visible;
}
#searchDropdownBox {
    visibility: hidden;
}


#nav-searchbar .nav-searchfield-width {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #CDCDCD;
    border-top: 1px solid #BDBDBD;
    box-sizing: border-box;
    height: 35px;
    overflow: hidden;
    width: auto;
}

#nav-searchbar #nav-iss-attach {
    height: 100%;
    padding: 0;
    position: relative;
    white-space: normal;
}

#nav-searchbar #twotabsearchtextbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    box-sizing: border-box;
    color: #333333;
    font-family: "arial","sans-serif";
    font-size: 15px;
    height: 23px;
    left: 0;
    margin: 0;
    outline: medium none;
    padding: 0 0 0 8px;
    position: absolute;
    top: 6px;
    width: 100%;
}

#nav-searchbar #nav-iss-attach {
    white-space: normal;
}

#nav-searchbar #nav-iss-attach {
    white-space: normal;
}

#nav-searchbar #twotabsearchtextbox {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    box-shadow: none;
    box-sizing: border-box;
    color: #333333;
    font-family: "arial","sans-serif";
    font-size: 15px;
    height: 23px;
    left: 0;
    margin: 0;
    outline: medium none;
    padding: 0 0 0 8px;
    position: absolute;
    top: 6px;
    width: 100%;
}
/* END NEW SEARCH FIELD */

.search-for-sticky {
    position:fixed;
    top: 1px;
    display: block;
    z-index: 2;
    width: 33%;
    padding-right: 33%;
    margin-left: -93px;
    max-width: inherit;
}

.cart-for-sticky {
    position:fixed;
    top: 0;
    right: 0;
    display: block;
    z-index: 3;
    width: 70px;
    margin-right: 4.9%;
    padding-bottom: 7px !important;
    padding-top: 8px !important;
}

.header .menu-top-mobile-wood {
    background: url("../images/wood-baby.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    height: 5px;
    clear: both;
    width: 100%;
    display: none;
}
.menu-homepage-wood {
    background: url("../images/wood-baby.png") repeat-x;
    height: 5px;
    clear: both;
    width: 100%;
    display: block;
}

.quick-access .search-container-new {display: block;}

.cart-block-detail {
    position: fixed !important;
    top: 37px !important;
    right: 0 !important;
    margin-right: 4.9%;
    display: block;
}

@media only screen and (max-width: 1215px) {
	.header, #nav, .sticky-header {
		width: 994px;
	}
	.sticky-header ul.sticky-menu {
		margin: 3px 0 0 10px;
	}
	.sticky-header ul.sticky-menu li {
		padding-left: 10px;
		padding-right: 10px;
	}
	.sticky-header .sticky-top-cart {
		padding-left: 0;
		padding-right: 0;
	}
	.sticky-header .sticky-top-cart a.link-minicart-sticky {
		padding-right: 5px;
	}
	.sticky-header .sticky-top-cart a.link-checkout {
		padding-left: 5px;
		padding-right: 20px;
		background-position: 57px center;
	}
	.header .menu-blog {
		width: 277px;
	}
	.header .quick-access .left {
		margin-right: 5px;
	}
	.header .links li {
		padding-left: 4px;
		padding-right: 2px;
	}
	
	#nav li.shop-by:hover > .shopby {
		display: block;
	}
	#nav .shopby {
		-webkit-box-shadow: 1px 1px 4px 0 #ccc;
		-moz-box-shadow: 1px 1px 4px 0 #ccc;
		box-shadow: 1px 1px 4px 0 #ccc;
	}
	#nav a.level-top {
		font-size: 0.9em;
		padding-left: 5px;
		padding-right: 5px;
	}
	#nav li.level-top.shop-by {
		width: 49px;
	}
	.cms-home #nav li.shop-by:hover .shopby {
		display: block;
	}
	.sticky-header ul.sticky-menu li.link-customer-care {
		display: none;
	}
	.sticky-header ul.sticky-menu li.link-customer-care2 {
		display: block;
	}
    
    .header .quick-access .left {
        display: none;
        margin-right: 5px;
        position: absolute;
        top: 133px;
        right: 0;
    }
    .header .quick-access .store-phone, .header .links, .menu-tablet .links {
        float: left;
        font-family: Helvetica;
    }
    
    .header .links {
        margin: 0 0 0 10px;
    }
    .search-container-new {
        width: 83%;
    }
    .header .quick-access .left {
        display: none;
    }
    .menu-tablet {
        display: block;
        width: 994px;
    }
    .search-for-sticky {
        position:fixed;
        top: 1px;
        display: block;
        z-index: 2;
        width: 33% !important;
        padding-right: 33%;
        margin-left: -93px;
        max-width: inherit !important;
    }
}
/* --------------- 960 px layout -------------------- */
@media only screen and (max-width: 1023px) {
	.header, #nav, .sticky-header, .menu-tablet {
		width: 745px;
	}
	.sticky-header ul.sticky-menu {
		margin: 3px 0 0;
	}
	.sticky-header ul.sticky-menu li {
		font-size: 12px;
		padding-left: 3px;
		padding-right: 3px;
	}
	.sticky-header ul.sticky-menu li.link-customer-care2 a {
		font-size: 12px;
		padding-left: 0;
		line-height: 30px;
		background: none;
		padding-top: 2px;
	}
	.sticky-header .sticky-top-cart a.link-minicart-sticky {
		background: none;
		padding-left: 3px;
		padding-right: 3px;
	}
	.sticky-header .sticky-top-cart a.link-checkout {
		background: none;
		padding-left: 3px;
		padding-right: 3px;
	}
	.sticky-header .sticky-search .form-search .input-keyword input.input-text {
		width: 124px;
	}
	.keypoint {
		margin-left: 13px;
        width: 46%;
	}
	.header .menu-blog {
		width: 205px;
	}
	.header .quick-access .top-cart {
		margin-bottom: 5px;
		width: auto;
	}
	.header .quick-access .left {
		float: none !important;
		text-align: right;
        display: block;
	}
	/* .sticky-header .sticky-search .form-search .input-keyword .select-category,  */
	.header .links, .header .quick-access .store-phone, .header .form-language, .header .quick-access .top-cart a.link-checkout {
		display: none;
	}
	.header .form-search {
		margin-left: 0;
	}
	.header .form-search .input-keyword {
		width: 170px;
	}
	.header .form-search .input-keyword input.input-text {
		min-width:57px;
		width: 57px;
	}
	.header .form-search input.input-text {
		width: 90px;
	}
	.header .form-search .input-keyword .select-category select {
		width: 85px;
		margin-right: 0;
	}
	#nav {
		position: relative;
		font-size: 12px;
	}
	#nav .shopby {
		top:0;
		padding-top: 60px;
		z-index: 0;
	}
	#nav li.level-top.shop-by {
		position: absolute;
		bottom:-14px;
		left: 0;
		z-index: 99;
	}
	#nav li.menu-salegift a.sale, #nav a.level-top.sale, #nav li.nav-sale {
		width: 50px;
		background-size: 100% auto;
	}
	#nav li.menu-salegift a.giftideas, #nav a.level-top.giftideas {
		width: 35px;
		background-size: 100% auto;
	}
	#nav a.level-top.sale, #nav a.level-top.giftideas {
		padding: 0;
	}
    #nav li.level-top.nav-for-moms, #nav li.level-top.nav-gift-sets {
        max-width: 40px;
    }
	.menu-tablet {
		display: block;
	}
	#nav a.level-top {
		padding: 0px 3px;
	}

	
	/* megamenu-margin */
	ul.feeding___nursing_hover {margin-left: -50px;}
	ul.health___safety_hover {margin-left: -110px;}
	ul.toys___books_hover {margin-right: -305px;}
	ul.baby_gear___furniture_hover {margin-right: -235px;}
	ul.for_moms_hover {margin-right: -195px;}
	/* END megamenu-margin */
	
    
    .language-select-option select {
        margin: 8px 0 0 0;
        display: none;
        padding-left: 20px;
        padding-right: 28% ;
    }
    .language-select-option img {display: none;}
    #nav-searchbar {
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        margin: 8px 0 0 0;
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        width: auto;
    }
    .search-for-sticky #nav-searchbar { margin: 1px 0 0 0 !important;}
    
    .keypoint ul li {
        height: 27px;
    }
    .keypoint ul li p {
        color: #707070;
        display: none;
        font-size: 10px;
        line-height: 12px;
    }
    .keypoint ul li span {
        margin: 7px 0;
    }
    .keypoint {
        margin-left: 27px;
        margin-top: 6px;
        width: 46%;
    }
    .search-for-sticky {
        display: block;
        margin-left: -93px;
        padding-right: 33%;
        position: fixed;
        top: 2px;
        width: 32% !important;
        z-index: 2;
    }
    
    #nav a.link-shopby {
        background: none repeat scroll 0 0 #A27E79;
        margin-top: 0;
    }
    #nav a.link-shopby:hover { color: #D96708 !important;}
    
    .search-container-new {
        display: block;
        float: right;
        max-width: 420px;
        width: 70%;
    }
    .header .quick-access .left {
        display: none !important;
        margin: -1px;
	}
    .header .quick-access .left .store-phone, .header .quick-access .left .links {
        display: block;
        float: right;
    }
    .header .quick-access .left {
        display: none;
    }
    .menu-tablet {
        display: block;
        margin: 3px auto 0;
        font-size: 11px;
        width:745px;
    }
}
	

/* --------------- smaller 959 px layout -------------------- */
@media only screen and (max-width: 767px) {
	.header, #nav {
		width: 100%;
	}
	.header .logo {
		margin-top: 0;
	}
	.header .quick-access {
		margin: 3px 10px 5px 0;
	}
	.header .quick-access a.link-blog-mobile, .header .quick-access a.link-myaccount-mobile, .header .search-mobile, .header .search-mobile .form-search, .header .form-search button.button.btn-search-mobile, .nav-container #nav li {
		display: block;
	}
	.header .quick-access .top-cart {
		float: left !important;
		background: none;
		width: auto;
		margin: 0;
		padding: 0;
		border-top: none;
	}
	.header .quick-access .top-cart a.link-minicart {
		background: url(../images/menu-cart-mobile.png) no-repeat center top;
		color: #fdac49;
		text-indent: 0;
		font-family: Helvetica;
		text-transform: capitalize;
		padding: 42px 0 0 0;
		line-height: normal;
	}
    .header .quick-access .left {
        display: none !important;
	}
	.header a.nav-mobile-trigger {
		display: block;
		float: left;
	}
	.sticky-header-wrapper {
		display: none !important;
	}
	.dash, .menu-top, .menu-blog, .keypoint, .form-language select, .header .quick-access .top-cart a.link-checkout, .header .quick-access .left, .header .form-search button.button, #nav li.shop-by, #nav ul li .right-columns, #nav ul li .left-columns h2, .header .quick-access .top-cart a.link-blog, .header .quick-access .form-search, #nav li.menu-salegift, .menu-tablet {
		display: none;
	}
	.header .my-account-mobile ul.links {
		display: block;
	}
	.header .my-account-mobile ul.links li {
		display: block;
	}
	.header .my-account-mobile ul.links li.register {
		background: none !important;
	}
	.header .my-account-mobile ul.links li a {
		padding-left: 10px;
		padding-right: 10px;
		text-transform: uppercase;
	}
	.mini-cart-mobile {
		background: #ededed;
	}
	.mini-products-list thead tr th.price {
		text-align: center;
	}
	.mini-products-list tbody tr td {
		padding-left: 10px;
	}
	.mini-products-list a.product-image {
		width: 100%;
		height: auto !important;
	}
	.mini-products-list a.product-image img {
		width: 100%;
	}
	.mini-products-list, .mini-products-list .product-details a.product-name, .block-cart .summary {
		font-size: 1.1em;
	}
	.block-cart .summary, .block-cart .actions {
		background: none;
		text-align: right;
	}
	.block-cart .summary span {
		display: inline-block;
	}
	.block-cart .summary span.price {
		width: 120px;
	}	
	.block-cart .subtotal {
		background: none;
		text-align: right;
	}
	.nav-container-mobile {
		display: block;
	}
	.nav-container {
		display: none;
		background: #fff;
	}
	#nav a.level-top {
		height: auto;
	}
	.nav-container #nav a, .header .my-account-mobile ul.links li a {
		color: #707070;
		font-size: 1.1em;
		font-family: Helvetica;
		letter-spacing: normal;
		display: block;
	}
	.nav-container #nav li.level-top, .header .my-account-mobile ul.links li {
		width: 100%;
		border-bottom: 1px solid #dadada;
		border-top: 1px solid #f0f0f0;
		padding-top: 20px;
		padding-bottom: 20px;
		
	}
	.nav-container #nav li.level-top.parent {
		background: url(../images/arrow-menu-mobile.png) no-repeat 98% 17px;
	}
	.nav-container #nav li.level-top.parent-0 {
		border-top:none;
	}
	.nav-container #nav .level-hover {
		padding: 0 0 0 ;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background: none;
		top: 0;
	}
	#nav .level-hover {
		position: relative;
		width: auto;
		padding: 0;
	}
	#nav ul li .left-columns {
		float: none;
		width: auto;
	}
	#nav ul li a {
		padding-top:10px;
		padding-bottom: 10px;
	}
	#nav .level-hover.shown-sub {
		display: none;
	}
	.nav-container #nav ul li a {
		padding-left: 20px;
		padding-right: 20px;
	}
	.nav-container #nav ul li a, .nav-container #nav ul li a:hover {
		text-transform: uppercase;
		font-size: 12px;
		line-height: normal;
		background-image: none;
	}
	.nav-container #nav ul li,
	.nav-container #nav ul li:hover {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.nav-container #nav ul li .left-columns .view-box ul {
		display: block !important;
	}
	.nav-container #nav ul li a.browse-all {
		display: none;
	}
	.nav-container #nav ul li .left-columns ul.added-menu li a {
		background-image: none;
	}
	.form-language .switch-language-mobile {
		display: block;
	}
	.gecko div.header .form-search .input-keyword .select-category {
		margin-top: 12px;
	}
    
    .header .menu-top {
        display: none !important;
    }
    .nav-container {
        display: none !important;
    }
    .language-select-option {display: none;}
    .quick-access .search-container-new {display: none;}
    .search-container-new-mobile {
        display: block;
        width: 96%;
        padding: 10px 2%;
        float: left;
        background: none repeat scroll 0 0 #E7E7E7;
    }
    .header .quick-access {
        width: auto;
    }
    .search-for-sticky {
    display: none;
    }

    .cart-for-sticky {
        display: none !important;
    }
    
    .header .menu-top-mobile-wood {
        display: block;
    }
    .search-container-new {
        display: block;
        float: right;
        max-width: 767px !important;
        width: 100%;
        position: relative;
    }
    
    .cart-block-detail {
        display: none !important;
    }
    .header .mini-cart {
        display: none !important;
    }
    .menu-homepage-wood {
        display: none;
    }
    
}
/* --------------- 320 px layout -------------------- */
@media only screen and (max-width: 482px) { 
	.header a.nav-mobile-trigger, .header .logo {
		margin-left: 5px;
	}
	.header a.nav-mobile-trigger {
		margin-top: 20px;
	}
	.header .logo {
		margin-top: 5px;
		width: 136px;
	}
	.header .logo img {
		width: 80%;
	}
	.header .quick-access {
		margin-right: 3px;
		font-size: 8.66px;
	}
	.header .quick-access a.link-blog-mobile, .header .quick-access a.link-myaccount-mobile {
		margin-right: 5px;
	}
	.header .quick-access .top-cart a.link-minicart {
		font-size: 8.66px;
	}
	.header .quick-access a.link-blog-mobile {
		width: 39px;
		background-position: center 7px;
		background-size: 100% auto;
	}
	.header .search-mobile .form-search .input-keyword input.input-text {
		width: 35%;
	}
	.header .search-mobile .form-search .input-keyword .select-category select {
		width: 105px;
	}
    .header .menu-top-mobile {
        padding: 15px 1% 0;
    }

.menu-top-mobile ul li.mobile-baby:hover, .menu-top-mobile ul li.mobile-baby.active {
    background: none repeat scroll 0 0 #E4C29C;
}

.header .menu-top-mobile.baby-top-mob {
    border-bottom: none;
}
/* .language-select-option div select {
    background: url("../images/english.jpg") no-repeat center left 10px;
} */
.english-lang {
    background: url(../images/language-english.gif) center left 2px no-repeat !important;
}
.indonesia-lang {
    background: url(../images/language-indonesia.gif) center left 2px no-repeat !important;
	.header .links li.myaccount .toplink-myaccount, .menu-tablet .links li.myaccount .toplink-myaccount {
	display: none;
	position: relative;
	top: 0px;
	border-left: 2px solid #95E1F1;
	left: 0;
	background: #fff;
	padding: 10px;
	z-index: 2;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
	-moz-box-shadow: 1px 1px 4px 0 #ccc;
	box-shadow: 1px 1px 4px 0 #ccc;
	width: 97%;
}
}
@media only screen and (min-width: 482px) {
	.header .links li.myaccount:hover .toplink-myaccount, .menu-tablet .links li.myaccount:hover .toplink-myaccount {
		display: block;
	}
	.header .links li.myaccount .toplink-myaccount, .menu-tablet .links li.myaccount .toplink-myaccount {
	display: none;
	position: absolute;
	top: 15px;
	left: 0;
	background: #fff;
	padding: 10px;
	z-index: 2;
	-webkit-box-shadow: 1px 1px 4px 0 #ccc;
	-moz-box-shadow: 1px 1px 4px 0 #ccc;
	box-shadow: 1px 1px 4px 0 #ccc;
	width: 97%;
}
}
