.homepage {margin: 15px 0 0 0;}
.cms-home .homepage {margin: 15px 23px;}
.homepage-top {
}
.homepage-top-block {
	float: left;
}
/* .cms-index-index .homepage-top-block {
    float: left;
    margin: 0;
} */
.homepage-top-block.right {
	width: 185px;
	margin: 0;
}
.slider-wrapper {
	width: 750px;
	height: 333px;
	position: relative;
	z-index: 0;
}
.cms-home .slider-wrapper {
	width: 759px;
	height: 338px;
	position: relative;
	z-index: 0;
}
.banner-left-mainhomepage, .banner-right-mainhomepage {
    width: 194px; 
    height: 338px; 
    text-align: center; 
    float: left; 
    background: #fff;
    color: #fff;
    display: block;
}
.banner-left-mainhomepage {
    margin: 0 10px 0 0;
}
.banner-right-mainhomepage {
    margin: 0 0 0 10px;
}
.banner-left-mainhomepage img, .banner-right-mainhomepage img {
    width: 100%;
}
.slidesjs-slide > img {
    display: block;
    width: 100%;
}
.advertise {
	margin: 5px 0 0 0;
}
.advertise ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.advertise ul li {
	display: inline-block;
	margin: 0 0 0 15px;
}
.advertise ul li:first-child {
	margin: 0;
}
.homepage-top-block.left {
	width: 235px;
	margin: 0 30px 0 0;
	background: #fff;
}
.homepage-top-block.right a {
	display: block;
	margin: 0 0 5px 0;
}
.homepage-middle {
	margin: 0 10px;
}
.homepage-product {
	position: relative;
}
.style-mom-baby .homepage-product.onsale,
.style-baby .homepage-product.onsale {
	background: url(../images/label-list-product.png) no-repeat center top, url(../images/dash-2.png) repeat-x left 21px;
}
.style-mom-baby .homepage-product.newarrival,
.style-baby .homepage-product.newarrival {
	background: url(../images/label-new-arrival.png) no-repeat center top, url(../images/dash-2.png) repeat-x left 21px;
}
.style-mom-baby .homepage-product.mostpopular,
 .style-baby .homepage-product.mostpopular{
	background: url(../images/label-most-popular.png) no-repeat center top, url(../images/dash-2.png) repeat-x left 21px;
}
.homepage-product h2 {
	color: #fff;
	font-size: 24px;
	font-family: 'bebasregular';
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	padding: 12px 0;
	margin: 0 0 20px 0;
}
.homepage-product a.link-viewmore-product {
	position: absolute;
	top: 5px;
	right: 6px;
	display:none;
}
.cms-index-index .homepage-product a.link-viewmore-product {
	display:none !important;
}
.homepage-product a.link-viewmore-product:hover {
	color: #4EC7DA;
}

/* ----------------------------- CSS Aditional on HOMEPAGE NEW ----------------------------- */
.cms-index-index .homepage-product.onsale h2, .cms-index-index .homepage-product.newarrival h2, .cms-index-index .homepage-product.mostpopular h2{
	background: url("../images/shd_featured_title.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
	color: #707070;
	padding: 0;
	position: relative;
	font-size: 24px;
	font-family:'bebasregular';
	margin: 0 0 10px;
	text-align: left;
	}
.cms-home .homepage-product.onsale h2, .cms-home .homepage-product.newarrival h2, .cms-home .homepage-product.mostpopular h2{
	background: url("../images/shd_featured_title.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
	color: #707070;
	padding: 0;
	position: relative;
	font-size: 24px;
	font-family:'bebasregular';
	margin: 0 0 10px;
	text-align: left;
	}
.cms-home .homepage-product.onsale h2 span, .cms-home .homepage-product.newarrival h2 span, .cms-home .homepage-product.mostpopular h2 span{
	background: url("../images/arrow-2.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    margin: 9px 5px 0 0;
    padding: 0 24px 0 0;
}
.cms-home .homepage-product.onsale h2, .cms-home .homepage-product.newarrival h2, .cms-home .homepage-product.mostpopular h2{
	background: url("../images/shd_featured_title.png") repeat-x scroll center bottom rgba(0, 0, 0, 0);
	color: #707070;
	padding: 0;
	position: relative;
	font-size: 24px;
	font-family:'bebasregular';
	margin: 0 0 10px;
	text-align: left;
	}
.cms-home .homepage-product.onsale h2 span, .cms-home .homepage-product.newarrival h2 span, .cms-home .homepage-product.mostpopular h2 span{
	background: url("../images/arrow-2.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    float: right;
    font-family: helvetica;
    font-size: 12px;
    font-weight: bold;
    margin: 9px 5px 0 0;
    padding: 0 24px 0 0;
}
.cms-home .homepage-product.onsale h2:before, .cms-home .homepage-product.newarrival h2:before, .cms-home .homepage-product.mostpopular h2:before{
	bottom: 0;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
}
.cms-home .homepage-product.onsale h2:before, .cms-home .homepage-product.newarrival h2:before, .cms-home .homepage-product.mostpopular h2:before{
	bottom: 0;
	content: "";
	height: 5px;
	left: 0;
	position: absolute;
}
.cms-home .homepage-product.onsale h2:before{
	width: 170px;
	background: none repeat scroll 0 0 #F76A59;
}
.cms-home .homepage-product.onsale h2:before{
	width: 210px;
	background: none repeat scroll 0 0 #F76A59;
}
.cms-home .homepage-product.newarrival h2:before{
	width: 130px;
	background: none repeat scroll 0 0 #7dcd32;
}
.cms-home .homepage-product.newarrival h2:before{
	width: 140px;
	background: none repeat scroll 0 0 #7dcd32;
}
.cms-home .homepage-product.mostpopular h2:before{
	width: 150px;
	background: none repeat scroll 0 0 #42bcd1;
}
.cms-home .homepage-product.mostpopular h2:before{
	width: 160px;
	background: none repeat scroll 0 0 #42bcd1;
}

/* -----END additional homepage new------ */

.cms-home .homepage-bottom .block-wrapper > a{
	float: left;
    margin: 10px 18px;
	width:30.25%;
}
.cms-home .block-wrapper a p img{
	width:100%;
	height:150px;
}
.homepage-bottom {
	clear: both;
	margin: 20px 10px 20px;
}
.homepage-bottom ul.block-wrapper {
	list-style: none;
	padding: 0;
	margin: 0;
}
.homepage-bottom ul.block-wrapper li {
	display: inline-block;
	margin: 0 14px 34px;
	padding:10px 15px;
	width: 28.25%;
	background: #dad8d5;
	vertical-align: top;
}
.homepage-bottom ul.block-wrapper li.image-bottom-cust {
	padding: 0;
	width: 30.8%;
}
.homepage-bottom ul.block-wrapper li:last-child {}
.block-bottom {
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	border-top: 2px dashed #fff;
	border-bottom: 2px dashed #fff;	
	padding: 12px 0;
	height: 100px;
}
.block-bottom span {
	display: block;
	font-size: 23px;
	font-family: 'Fredoka One', cursive;
}
.block-bottom p {
	font-family: 'bebasregular';
	font-size: 14px;
	margin: 0;
}
.block-bottom p a {
	display: inline-block;
	text-decoration: underline;
	text-align: left;
	color: #fff;
	/*background-image: url(../images/arrow-1.png);
	background-repeat: no-repeat;
	background-position: right 5px;*/
	padding: 0 25px 0 0;
}
.block-bottom p a:hover {
	text-decoration: none;color: #FFA01B;
}
.block-bottom p a.link-how-to-buy {
	width: 58px;
	background-position: 40px 28px;
}
.block-bottom p a.link-shipping-table {
	width: 101px;
	background-position: 50px 28px;
}
.block-bottom p a.link-other-help {
	width: 66px;
	background-position: 50px 28px;
	padding-left: 0;
}
.block-bottom p a.link-bilna-credit {
	width: 80px;
	background-position: 61px 28px;
}
.block-bottom p a.link-reseller-program {
	width: 90px;
	background-position: 71px 28px;
}
.block-bottom p a.link-gift-voucher {
	width: 80px;
	background-position: 67px 28px;
}
.block-bottom p a img {
	margin-left: 5px;
	margin-top: 3px;
}
.block-bottom table tr td {
	padding: 0 15px;
}
.block-bottom table tr td a {
	font-family: 'bebasregular';
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
}
.block-bottom table tr td a:hover {color: #FFA01B;}
.block-bottom table tr td a img {
	margin-left: 5px;
	margin-top: 3px;
}
.homepage-bottom .testimonial-wrapper {
	float: left;
	position:relative;
	width: 45%;
}
.testimonial-wrapper h4, .media-partners span.title {
	font-size: 18px;
	font-weight: normal;
	font-family: 'bebasregular';
}
.testimonial-wrapper h4 {
	background: url(../images/label.png) no-repeat left top;
	color: #fff;
	width: 279px;
	height: 58px;
	margin: 0 0 10px 0;
}
.testimonial-wrapper h4 span {
	display: inline-block;
	margin: 18px 0 0 55px;
}
.testimonial {
	margin: 0 40px;
}
.testimonial-wrapper .view_all{
	display: table;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 39px;
}
.testimonial-wrapper .view_all a{
	text-decoration: underline;
    color:#A6A6A6
	}
#slides {
	  position:relative;
}
#slides .slidesjs-navigation {
  position:absolute;
  top:40px;
  z-index:10;
  height: 30px;
  width: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  display:block;
  text-indent: -9999px;
  cursor: pointer;
}
#slides .slidesjs-previous {
  left:0;
  background-image: url(../images/arrow-prev.png);
}
#slides .slidesjs-next {
  background-image: url(../images/arrow-next.png);
}
#slides .slidesjs-next {
	right: 0;
}
#slides-popup .slidesjs-next {
	left: 30px;
}
#slides-popup .slidesjs-navigation {
	bottom: 12px;
	top:auto;
	background-color: #ddd;
}
#slides-banner .slidesjs-navigation {
	display: none;
}
#slides-banner .slidesjs-pagination {
	position: absolute;
	right: 10px;
	bottom: 0;
	list-style: none;
	z-index: 99;
	padding: 0;
}
#slides-banner .slidesjs-pagination li {
	display: inline-block;
	margin: 0 0 0 5px;
}
#slides-banner .slidesjs-pagination li:first-child {
	margin-left: 0;
}

#slides-banner .slidesjs-pagination li.slidesjs-pagination-item a {
	display: block;
	width: 19px;
	height: 19px;
	text-indent: -999999px;
	background: url(../images/node.png) no-repeat center center;
}
#slides-banner .slidesjs-pagination li.slidesjs-pagination-item a.active {
	background: url(../images/node-active.png) no-repeat center center;
}
.homepage-bottom .media-partners {
	float: right;
	margin: 0 148px 0 0;
}
.media-partners span.title {
	display: block;
}
.media-partners ul.media-partners-wrapper {
	list-style: none;
	margin: 30px 0 0 0;
	padding: 0;
}
.media-partners ul.media-partners-wrapper li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 20px;
}
.media-partners ul.media-partners-wrapper li:first-child {
	margin: 0;
}

.banner-right-mainhomepage p, .banner-left-mainhomepage p {margin: margin: 0 0 0.25em !important;}




@media only screen and (max-width: 1215px) {
	.cms-home .homepage-bottom .block-wrapper > a{
    margin: 10px 8px;
	width:31.65%;
	}
	.cms-home .block-wrapper a p img{
		height:130px;
	}
	.homepage-top-block.left {
		display: none;
	}
    .cms-index-index .homepage-top-block {
        float: left;
        margin: 0;
    }
    .banner-left-mainhomepage, .banner-right-mainhomepage {
        height: 272px;
        text-align: center;
        width: 156px;
        display: block;
    }
	.homepage-top {
		width: 955px;
		margin: 0 auto;
		position: relative;
	}
    .cms-home .slider-wrapper {
        height: 272px;
        position: relative;
        width: 610px;
        z-index: 0;
    }
	.homepage-bottom ul.block-wrapper li {
		margin-left: 6px;
		margin-right: 6px;
		margin-bottom: 16px;
		width: 28.79%;
	}
        .homepage-bottom ul.block-wrapper li.image-bottom-cust {
            margin-bottom: 16px;
            margin-left: 6px;
            margin-right: 6px;
            width: 31.79%;
        }
	.block-bottom span {
		font-size: 19px;
	}
	.block-bottom p {
		font-size: 14px;
	}
	.block-bottom p a {
		background-position: right center;
	}
	.block-bottom p a.link-how-to-buy {
		width: 51px;
		background-position: 34px 20px;
	}
	.block-bottom p a.link-shipping-table {
		width: 84px;
		background-position: 40px 20px;
	}
	.block-bottom p a.link-other-help {
		width: 30px;
		background-position: 38px 20px
	}
	.block-bottom p a.link-bilna-credit {
		width: 62px;
		background-position: 51px 20px;
	}
	.block-bottom p a.link-reseller-program {
		width: 68px;
		background-position: 60px 20px;
	}
	.block-bottom p a.link-gift-voucher {
		width: 60px;
		background-position: 55px 20px
	}
	.block-bottom table tr td {
		padding: 0 5px;
	}
	.homepage-bottom .media-partners {
		margin: 0;
	}
}
/* --------------- 960 px layout -------------------- */
@media only screen and (max-width: 1023px) {
	.cms-home .homepage-bottom .block-wrapper > a{
    margin: 0 8px 10px 0;
	width:31.95%;
	}
	.cms-home .block-wrapper a p img{
		height:100px;
	}
	.homepage-top {
		width: 717px;
	}
    
    .cms-index-index .homepage-top-block {
        float: left;
        margin: 0;
    }
    .banner-left-mainhomepage, .banner-right-mainhomepage {
        height: 199px;
        text-align: center;
        width: 114px;
        display: block;
    }
	.homepage-top {
		width: 955px;
		margin: 0 auto;
		position: relative;
	}
    .cms-home .slider-wrapper {
        height: 200px;
        position: relative;
        width: 450px;
        z-index: 0;
    }
    
    
	.homepage-top-block.middle {
		width: 78%;
	}
    .cms-home .homepage-top-block.middle {
		width: 64%;
	}
	.slider-wrapper {
		width: 100%;
		height: 248px;
	}
	.advertise {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.advertise ul li {
		width: 49.25%;
		margin-left: 5px;
	}
	.advertise ul li a img {
		width: 100%;
	}
	.homepage-top-block.right, .category-mom-baby .homepage-top-block.right,
    .homepage-top-block.right, .category-baby .homepage-top-block.right    {
		width: 20%;
	}
	.homepage-top-block.right a {
	}
	.homepage-top-block.right a img {
		width: 100%;
	}
	.homepage-bottom ul.block-wrapper li {
		padding-left: 5px;
		padding-right: 5px;
		margin-left: 2.5px;
		margin-right: 2.5px;
		margin-bottom: 8px;
		width: 30.95%;
	}
	.homepage-bottom ul.block-wrapper li.image-bottom-cust {
		padding: 0;
		width: 31.2%;
	}
	.block-bottom {
		height: 111px;
	}
	.block-bottom p a {
		font-size: 12px;
	}
	.block-bottom p a.link-how-to-buy {
		width: 34px;
		background-position: 30px 17px;
	}
	.block-bottom p a.link-shipping-table {
		width: 68px;
		background-position: 35px 17px;
	}
	.block-bottom p a.link-other-help {
		width: 25px;
		background-position: 33px 17px;
	}
	.block-bottom p a.link-bilna-credit {
		width: 40px;
		background-position: 43px 17px;
	}
	.block-bottom p a.link-reseller-program {
		width: 48px;
		background-position: 50px 17px;
	}
	.block-bottom p a.link-gift-voucher {
		width: 37px;
		background-position: 46px 17px;
	}
	.block-bottom table tr td {
		padding: 0 2px;
	}
	.block-bottom table tr td a {
		font-size: 12px;
	}
	.block-bottom table tr td a img {
		margin-left: 2px;
	}
	.homepage-bottom .testimonial-wrapper, .homepage-bottom .media-partners {
		float: none;
		width: 100%;
	}
	.homepage-bottom .testimonial-wrapper {
		margin-top: 20px;
	}
	.testimonial-wrapper h4, .media-partners span.title {
		text-align: center;
	}
	.testimonial-wrapper h4 {
		background: url(../images/label-2.png) no-repeat center top, url(../images/dash-2.png) repeat-x left 22px;
		width: 100%;
	}
	.testimonial-wrapper h4 span {
		margin-left: 0;
	}
	.homepage-bottom .media-partners {
		margin-top: 20px;
	}
	.media-partners ul.media-partners-wrapper li {
		width: 22%;
		text-align: center;
	}
}
/* --------------- smaller 959 px layout -------------------- */
@media only screen and (max-width: 767px) {
	.homepage-middle, .homepage-bottom, .advertise, .homepage-top-block.right, .sticky-header-wrapper {
		display: none;
	}
	.homepage-top {
		width: 100%;
	}
	.homepage-top-block.middle {
		width: 100%;
	}
    .banner-left-mainhomepage, .banner-right-mainhomepage {
        display: none;
    }
    .cms-home .homepage-top-block.middle {
		width: 100%;
	}
    .cms-home .slider-wrapper {
		width: auto;
        height: auto;
	}
	.slider-wrapper {
		height: auto;
	}
	#slides .slidesjs-pagination, #slides-banner .slidesjs-pagination {
		position: relative;
		width: auto;
		text-align: center;
		right: 0;
		margin: 10px 0;
	}
}
/* --------------- 320 px layout -------------------- */
@media only screen and (max-width: 479px) { 
	
}


