.menu-navigation{
    display: inline-block;
    clear: both;
    width: 100%;
    position: relative;
}
.wrap-megamenu, .link-space-header{
    float: left;
    color: #fff;
}
.wrap-megamenu{
    width: 185px;
    cursor: pointer;
    position: absolute;
    padding: 5px 0;
    background: #55909a;
    z-index: 999;
}
.button-megamenu{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    text-indent: 20px;
}
.button-megamenu:after{
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:0;
    background: url(../../../img/skin/arrow.png) no-repeat -8px -713px;
}
.link-space-header{
    text-indent: 30px;
    padding: 0 0 0 205px;
    width: 100%;
    font-size: 1.2em;
}
.link-space-header p{
    margin: 0;
    font-size: 1em;
    position: relative;
    padding: 5px 0;
    background: #51c6d8;
}
.wrap-second-cat > ul > p > a {
    line-height: 1.6em;
    font-size: 1em;
}
.link-space-header p:after{
    padding: 20px 0;
    width: 25px;
    height: 25px;
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top:0;
    background: url(../../../img/skin/arrow.png) no-repeat -5px -373px;
}
.megamenu{
    -moz-box-shadow: -1px -1px 7px #d1cfd1;
    -webkit-box-shadow: -1px -1px 7px #d1cfd1;
    box-shadow: -1px -1px 7px #d1cfd1;
    position: absolute;
    width: 100%;
    color: #707070;
    background: #fff;
    z-index: 98;
    display: none;
    top: 27px;
    height: 415px;
}
.menu-navigation .first-level, .menu-navigation .second-level{
    float: left;
}
.menu-navigation .first-level .second-level{
    position: absolute;
    left: 185px;
    top: 20px;
}
.menu-navigation .first-level{
    width: 185px;
    margin: 20px 20px 0 0;
}
.menu-navigation .first-level > ul{
    border-right: 1px solid #ededed;
}
.wrap-second-cat{
    padding-right: 20px;
    position: absolute;
    float: left;
    z-index: 99;
}
.menu-navigation .first-level > ul > li{
    line-height: 2.5em;
    font-size: 1.1em;
    text-rendering: geometricPrecision;
    font-weight: bold;
    text-indent: 10px;
    margin-left: 10px;
    background-image: url(../../../img/skin/arrow.png);
    background-repeat: no-repeat;
    background-position: right -90px;
}
.menu-navigation li a, .menu-navigation .second-level p a{
    color: #707070;
    text-decoration: none;
}
.menu-navigation .second-level p{
    margin: 0;
    text-indent: 20px;
}
.menu-navigation .first-level .second-level li{
    font-size: 1em;
    text-indent: 20px;
}
.menu-navigation .first-level .second-level{
    display: none;
}
.menu-navigation .first-level .default .second-level{
    display: block;
    width: 985px;
    z-index: 9;
}
.menu-navigation .first-level .default, .menu-navigation .first-level > ul > li:hover {
    background-color:#51c6d8;
    background-image: url(../../../img/skin/arrow.png);
    background-repeat: no-repeat;
    background-position: right -611px;
    color: #fff;
}
.menu-navigation .first-level .default > a, .menu-navigation .first-level > ul > li:hover > a {
    color: #fff;
}
.menu-navigation .first-level li:hover .second-level{
    display: block;
    width: 985px;
    z-index: 90;
    background: #fff;
}
.menu-navigation .first-level .second-level ul{
    margin-bottom: 10px;
    font-weight: normal;
}
.menu-navigation .first-level .second-level p a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color:#55909a;
}
.wrap-banner {
    float: right;
    width: 100%;
    padding: 0 10px 0 0;
    border-left: 1px solid #ededed;
    z-index: 0;
    padding-left: 210px;
}
.wrap-banner .first-banner-megamenu, .wrap-banner .second-banner-megamenu, .wrap-banner .third-banner-megamenu{
    float: left;
    padding: 0 0 0 10px;
}
.wrap-banner img{
    float:left;
    width: 100%;
    padding: 0 0 10px;
}
.wrap-banner .first-banner-megamenu{
    width: 51%;
}
.wrap-banner .second-banner-megamenu{
        width: 25%;
}
.wrap-banner .third-banner-megamenu{
    width: 24%;
}
.wrap-banner .first-banner-megamenu .bottom-left-firstbanner, .wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
    width: 50%;
    float: left;
}
.wrap-banner .first-banner-megamenu .bottom-left-firstbanner{
    padding: 0 5px 0 0;
}
.wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
    padding: 0 0 0 5px;
}
@media (min-width: 1023px )and (max-width: 1199px ){
    .menu-navigation .first-level li:hover .second-level, .menu-navigation .first-level .default .second-level{
        width: 785px;
    }
    .wrap-banner .first-banner-megamenu{
        width: 67%;
    }
    .wrap-banner .second-banner-megamenu{
            width: 33%;
    }
    .wrap-banner .third-banner-megamenu{
        display: none;
    }
    .menu-navigation{
        margin: 10px 0 0;
    }
}
@media (min-width: 992px )and (max-width: 1022px ){
    .menu-navigation .first-level li:hover .second-level, .menu-navigation .first-level .default .second-level{
        width: 785px;
    }
    .wrap-banner .first-banner-megamenu{
        width: 67%;
    }
    .wrap-banner .second-banner-megamenu{
        width: 33%;
    }
    .menu-navigation{
        margin: 10px 0 0;
    }
    .wrap-banner .third-banner-megamenu{
        display: none;
    }
}
@media (min-width: 768px )and (max-width: 991px ){
    
    .menu-navigation{
        margin: 10px 0 0;
    }
    .wrap-banner .first-banner-megamenu{
        width: 100%;
    }
    .wrap-banner .second-banner-megamenu{
        display: none;
    }
     .wrap-banner .third-banner-megamenu{
        display: none;
    }
    .menu-navigation .first-level li:hover .second-level, .menu-navigation .first-level .default .second-level{
        width: 560px;
        height: 395px;
    }
}