.menu-navigation{
    clear: both;
    display: inline-block;
    margin: 17px 0 0;
    position: relative;
    width: 100%;
	float:left;
	font-size:12px;
}
.catalog-category-view .wrap-banner {
	display:none;
}
.catalog-category-view .menu-navigation .megamenu{
	width: 390px;
}
.bg-dark-megamenu{
	position:fixed;
	z-index:98;
	display:none;
	transition:All 1s ease;
	-webkit-transition:All 1s ease;
	-moz-transition:All 1s ease;
	-o-transition:All 1s ease;
	top:0;
	right:0;
	left:0;
	height:100%;
	background:rgba(45, 44, 44, 0.7);
}
.wrap-megamenu, .link-space-header{
    float: left;
    color: #fff;
}
.wrap-megamenu{
    width: 185px;
    cursor: pointer;
	height:26px;
    position: absolute;
    padding: 16px 0 0;
    background: url(../images/megamenu/shd-megamenu-button.png) repeat-x bottom #F15A29;
    z-index: 999;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
}
.wrap-megamenu:hover {
    background: url(../images/megamenu/shd-megamenu-button-hover.png) repeat-x bottom #F15A29;
}
.button-megamenu{
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.1em;
    font-weight: bold;
    text-indent: 8px;
}
.button-megamenu:after{
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:10px;
    background: url(../images/megamenu/arrow.png) no-repeat -8px -713px;
}
.link-space-header{
    text-indent: 30px;
    padding: 0 0 0 205px;
    width: calc(100% - 205px);
    font-size: 1.2em;
}
.link-space-header p{
    margin: 0;
    font-size: 1em;
    position: relative;
    padding: 8px 0;
	line-height:1.1em;
    background: #51c6d8;
}
.wrap-second-cat > ul > p > a {
    line-height: 1.6em;
    font-size: 1em;
}
.link-space-header p:after{
    width: 25px;
    height: 25px;
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top:3px;
    background: url(../images/megamenu/arrow.png) no-repeat -5px -373px;
}
.menu-navigation .megamenu.megamenu-active{
    height: 515px;
	border-top: 1px solid #e9e9ea;
}
.menu-navigation .megamenu{
    position: absolute;
    width: 100%;
    color: #707070;
    background: #fff;
    z-index: 98;
    display: block;
    top: 42px;
	overflow:hidden;
    height: 0;
}
.menu-navigation .first-level, .menu-navigation .second-level{
    float: left;
}
.menu-navigation .first-level .second-level{
    position: absolute;
    left: 186px;
    top: 20px;
}
.menu-navigation .first-level{
    width: 185px;
    margin: 0 20px 0 0;
	height:100%;
	background: #D1D3D4;
}
.menu-navigation .first-level > ul{
	margin-top:20px;
}
.wrap-second-cat{
    padding-right: 20px;
    position: relative;
    float: left;
    z-index: 99;
	width:179px;
}
.menu-navigation .first-level > ul > li{
    line-height: 2.5em;
    font-size: 1.04em;
    text-indent: 10px;
    margin-left: 10px;
    /*/*background-image: url(../images/megamenu/arrow.png);*/
    background-repeat: no-repeat;
    background-position: right -90px;
}
.menu-navigation li a, .menu-navigation .second-level p a{
    color: #414042;
    text-decoration: none;
	display:block;
	position:relative;
}
.menu-navigation li div{
	text-transform:uppercase;
}
.menu-navigation .second-level  a{
	text-transform:none;
}
.menu-navigation .second-level p{
	line-height: 1.6em;
    margin: 0;
    padding-bottom: 5px;
    text-indent: 0;
}
.menu-navigation .first-level .second-level .wrap-second-cat ul > li{
    font-size: 0.93em;
    line-height: 1.6em;
    padding-left: 20px;
    text-indent: 0;
}
.menu-navigation .first-level .second-level li:hover a{
	color:#F48120;
	text-decoration:underline
}
.menu-navigation .first-level .second-level{
    display: none;
}
.menu-navigation .first-level .active-cat > a, .menu-navigation .first-level > ul > li:hover > a, .menu-navigation .first-level > ul:hover > li.active-cat:hover > a {
    color: #F48120;
}
.menu-navigation .first-level ul:hover .active-cat > a{
	color:#414042;
}
.menu-navigation .first-level .active-cat, .menu-navigation .first-level > ul > li:hover {
    background-color:#F48120;
}
.menu-navigation .first-level > ul > li:hover > a:after{
	content:"►";
	color:#F48120;
	position:absolute;
	left: 145px;
	top:0;
}

.menu-navigation .first-level ul.hover-cat .active-cat > a{
	color:#707070;
}
.menu-navigation .first-level > ul > li.hover-cat > a {
    color: #424143;
}
.menu-navigation .first-level > ul.hover-cat > li.cat-hover > a {
    color: #F05A2A;
}
.menu-navigation .first-level .active-cat .second-level,
.menu-navigation .first-level .hover-cat .second-level{
    display: block !important;
    width: 1030px;
    z-index: 1;
	height:485px;
	overflow:hidden;
	padding-top: 4px;
    background: #fff;
}
.menu-navigation .first-level > ul > li.active-cat .second-level{
	display:block;
}
/*.menu-navigation .first-level > ul:hover > li.active-cat .second-level{
	display:none;
}*/
.menu-navigation .first-level .second-level ul{
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: normal;
	padding-top:4px;
}
.menu-navigation .first-level > ul > li.active-cat > a:after, .menu-navigation .first-level > ul:hover > li.active-cat:hover > a:after{
	content:"►";
	color:#F48120;
	position:absolute;
	left: 145px;
	top:0;
}
.menu-navigation .first-level > ul:hover > li.active-cat > a:after{
	content:"";
}
.menu-navigation .first-level > ul > li.active-cat, .menu-navigation .first-level > ul:hover > li.active-cat:hover{
    /*background-image: url(../images/megamenu/arrow.png);*/
    background-repeat: no-repeat;
    background-color:#fff;
    background-position: right -611px;
}
.menu-navigation .first-level > ul:hover > li.active-cat{
    background-color:transparent;
    /*background-image: url(../images/megamenu/arrow.png);*/
    background-repeat: no-repeat;
    background-position: right -90px;
}
.menu-navigation .first-level > ul:hover > li.active-cat .second-level{
	display:none;
}
.menu-navigation .first-level > ul > li:hover{
    background-color:#fff;
    /*background-image: url(../images/megamenu/arrow.png);*/
    background-repeat: no-repeat;
    background-position: right -611px;
}
.menu-navigation .first-level > ul:hover > li.active-cat:hover .second-level{
	display: block;
	height: 485px;
	overflow: hidden;
}
.menu-navigation .first-level .active-cat .second-level{
    display: block;
    width: 1030px;
    z-index: 9;
	height: 485px;
	overflow: hidden;
}
.catalog-category-view .menu-navigation .first-level .active-cat .second-level{
	width:200px;
}
.menu-navigation .first-level li:hover .second-level{
    display: block;
    width: 1030px;
	height: 485px;
	overflow: hidden;
    z-index: 90;
    background: #fff;
}
.catalog-category-view .menu-navigation .first-level li:hover .second-level{
	width:197px
}
.menu-navigation .first-level .second-level ul{
    margin-bottom: 10px;
    font-weight: normal;
}
.menu-navigation .first-level .second-level p a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    color:#55909a;
}
.menu-navigation .wrap-banner {
    float: right;
    width: calc(100% - 235px);
    border-left: 1px solid #ededed;
    z-index: 0;
}
.menu-navigation .wrap-banner .first-banner-megamenu, .wrap-banner .second-banner-megamenu, .wrap-banner .third-banner-megamenu{
    float: left;
    padding: 0 0 0 12px;
}
.menu-navigation .wrap-banner .first-banner-megamenu .main-banner{
	position:relative;
}
.menu-navigation .wrap-banner img{
    float:left;
    width: 100%;
}
.menu-navigation .wrap-banner .first-banner-megamenu img, li.active-cat .wrap-banner .first-banner-megamenu .main-banner{
    margin: 0 0 10px;
}
.menu-navigation .wrap-banner .second-banner-megamenu img{
    padding: 0 0 12px;
}
.menu-navigation .wrap-banner .third-banner-megamenu img{
    padding: 0 0 12px;
}
.menu-navigation .wrap-banner .first-banner-megamenu{
    width: 48%;
}
.menu-navigation .wrap-banner .second-banner-megamenu{
    width: 23%;
}
.menu-navigation .wrap-banner .third-banner-megamenu{
    width: 23%;
}
.menu-navigation .wrap-banner .first-banner-megamenu .bottom-left-firstbanner, .menu-navigation .wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
    width: 48%;
    float: left;
}
.menu-navigation .wrap-banner .first-banner-megamenu .bottom-left-firstbanner{
    padding: 0 7px 0 0;
}
.menu-navigation .wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
    padding: 0 0 0 7px;
}
.menu-navigation .megamenu-stiky{
	position:fixed;
	top:42px;
	width:1216px;
}
.menu-navigation .first-level > ul > li{
	cursor:pointer;
}
.menu-navigation .first-level > ul > li.first-level-cat.active-cat.hover-cat > div.first-level-url{
	color:#F15A29 !important;
}
.menu-navigation .first-level > ul > li.first-level-cat.hover-cat div{
	color:#F15A29;
}
@media (min-width: 1023px )and (max-width: 1215px ){
    .menu-navigation .first-level li:hover .second-level, .menu-navigation .first-level .active-cat .second-level{
        width: 805px;
    }
    .menu-navigation .wrap-banner .first-banner-megamenu{
        width: 64%;
    }
    .menu-navigation .wrap-banner .second-banner-megamenu{
            width: 31%;
    }
    .menu-navigation .wrap-banner .third-banner-megamenu{
        display: none;
    }
	.menu-navigation .wrap-banner .first-banner-megamenu .bottom-left-firstbanner{
		padding: 0 4px 0 0;
		width: 49%;
	}
	.menu-navigation .wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
		padding: 0 0 0 3px;
		width: 49%;
	}
	.menu-navigation .megamenu-stiky{
		width:994px;
	}
	.menu-navigation .wrap-banner .first-banner-megamenu img, li.active-cat .wrap-banner .first-banner-megamenu .main-banner{
		margin: 0 0 12px;
	}
}
@media (min-width: 768px )and (max-width: 1022px ){
    .menu-navigation .wrap-banner .first-banner-megamenu{
        width: 96%;
    }
    .menu-navigation .wrap-banner .second-banner-megamenu{
        display: none;
    }
    .menu-navigation  .wrap-banner .third-banner-megamenu{
        display: none;
    }
    .menu-navigation .first-level li:hover .second-level, .menu-navigation .first-level .active-cat .second-level{
        width: 550px;
        height: 430px !important;
    }
	.megamenu{
		height: 0;
	}
	.menu-navigation .wrap-banner {
		width: calc(100% - 200px);
	}
	.menu-navigation .megamenu.megamenu-active {
		height: 460px;
	}
	.menu-navigation .wrap-banner .first-banner-megamenu .bottom-left-firstbanner{
		padding: 0 3px 0 0;
	}
	.menu-navigation .megamenu-stiky{
		width:745px;
	}
	.menu-navigation .menu-navigation .first-level > ul > li{
		font-size: 1.1em;
	}
}
@media (max-width: 768px ) {
	.menu-navigation .menu-navigation{
		display:none;
	}
	.bg-dark-megamenu{
		display:none !important;
	}
}