/* myaccount.css */

.col2-left-layout .main .col-left.sidebar {
	width: 175px;
}

/* login non pop-up */
.account-login {
	margin-bottom: 30px;
}
.account-login .content {
	background: none;
	/* -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-bottom: 1px solid #bbb6a5; */
}
.account-login .new-users h2, 
.account-login .registered-users h2 {
	background: none;
	padding-left: 0;
	font-family: 'bebasregular';
	font-weight: normal;
	font-size: 1.4em;
	color: #343334;
	word-spacing: 3px;
	background: url(../images/dash-orange.png) bottom repeat-x; 
	border-bottom: 0;
	padding-bottom: 15px;
}
.account-login .col-2.registered-users .content p {
	margin-bottom: 10px;
}
.account-login .al-authorization .form-list li:first-child {
	background: none;
	padding-bottom: 0;
} 
.account-login .al-authorization .form-list li:last-child {
	background: none;
	padding-bottom: 0;
}
.account-login .buttons-set {
	background: none;
	border: 0;
    background: url(../images/dash-orange.png) top repeat-x;
    padding-top: 30px;
    margin-top: 20px !important;
}
.account-login .buttons-set button.button span {
	border: 0;
	background: #fd8e17;
	height: auto;
	padding: 0;
}
.account-login .buttons-set button.button span span {
	font-size: 1.4em;
	font-family: 'bebasregular';
	font-weight: normal;
	padding: 3px 10px;
	line-height: 2em;
	border: 0;
	background: #fd8e17;
	height: auto;
}
.account-login .col-2.registered-users button.button {
	float: left;
}
#forgotpwdbtn {
	padding-left: 10px;
	color: #fd8e17;
	text-decoration: underline;
}

/* create account non pop-up */
.account-create {
	margin-bottom: 30px;
}
.account-create .fieldset {
	background: none;
	border: 0;
	margin: 0;
	padding: 15px 20px 0;
}
.account-create .fieldset .legend {
	border: 0;
	background: 0;
	padding: 0;
	margin: 0;
	float: none;
	color: #434343;
	margin: 0 0 8px;
}
.account-create .buttons-set {
	border-top: 0;
	margin-top: 0;
	margin-left: 15px;
    background: url(../images/dash-orange.png) top repeat-x;
    padding-top: 30px;
    margin-top: 20px;
}
.account-create .buttons-set .required, 
.account-create .buttons-set .back-link {
	display: none;
}
.account-create .buttons-set button.button {
	float: left;
}
.account-create .buttons-set button.button span {
	border: 0;
	background: #fd8e17;
	height: auto;
	padding: 0;
}
.account-create .buttons-set button.button span span {
	font-size: 1.4em;
	font-family: 'bebasregular';
	font-weight: normal;
	padding: 3px 10px;
	line-height: 2em;
	border: 0;
	background: #fd8e17;
	height: auto;
}

/* left */
.block.block-account {
	border: 0;
}
.block-account .block-title {
	background-image: none;
	background-color: #dfe0e0;
	padding: 12px 7px;
}
.block-account .block-title strong {
	color: #707070;
	font-family: 'bebasregular';
	font-size: 1.3em;
	font-weight: normal;
	padding: 3px 0;
}
.block-account .block-content {
	background: none;
}
.block-account .block-content ul {
	margin-top: 10px;
}
.block-account .block-content li, 
.block-account .block-content li.current {
	padding: 10px 0;
}
.block-account .block-content li a, 
.block-account .block-content li.current {
	border-bottom: 0;
}
.block-account .block-content li.current {
	color: #838383;
	background: url(../images/arrow-myaccount.png) right center no-repeat;
}
.block-account .block-content li.current strong {
	font-weight: normal;
}
.block-account .block-content li a, 
.block-account .block-content li a:hover {
	color: #ffa01b;
	font-weight: bold;
}

.page-title {
	border-bottom: 0;
	background-color: #ffa01b;
	padding: 12px 7px;
	margin: 0 0 15px;
	width: auto;
}
.customer-account-login .page-title {display:none;}
.customer-account-login .account-create .fieldset .legend {display:none !important;}
.page-title h1 {
	color: white;
	font-family: 'bebasregular';
	font-size: 1.3em;
	font-weight: normal;
	word-spacing: 5px;
}
.my-account .col2-set .col-1, 
.my-account .col2-set .col-2 {
	width: 80%;
	float: none;
	padding-bottom: 40px;
}

/* My Dashboard */
.dashboard .welcome-msg {
	padding: 10px 10px 30px;
}
.dashboard .welcome-msg p {
	font-size: 1.2em;
	color: #515151;
}
.dashboard .welcome-msg p.hello {
	font-size: 1.4em;
	margin-bottom: 15px;
}
.box-account.box-info {
	background: none;
	padding: 0;
	border: 0;
	margin-bottom: 0;
}
.dashboard .col2-set {
	margin-bottom: 0;
}
.box-account.box-info .col2-set address {
	margin-bottom: 10px;
}
.box-account.box-info .col2-set .box {
	border-top: 1px #bcbcbc solid;
	padding: 10px 10px 30px;
}
.dashboard .box .box-title {
	background: none;
}
.dashboard .box .box-title a {
	font-weight: bold;
	color: #ffa01b;
}
.dashboard .box-account.box-recent, 
.dashboard .box-account.box-reviews {
	background: 0;
	border: 0;
	padding: 10px 10px 0;
	border-top: 1px #bcbcbc solid;
}
.dashboard .box-account .box-head {
	border-bottom: 0;
}
.dashboard .box-account .box-head a {
	color: #fd810d;
	font-weight: bold;
}
.dashboard .box-recent .box-head h2, 
.dashboard .box-reviews .box-head h2 {
	background-image: none;
	padding-left: 0;
}
.dashboard .box .box-title h3, 
.dashboard .box .box-title h4, 
.dashboard .box-recent .box-head h2, 
.dashboard .box-reviews .box-head h2 {
	color: #515151;
	text-transform: capitalize;
}

/* Personal Details */
.my-account {
	margin-bottom: 30px;
}
.my-account .fieldset {
	border: 0;
	background: 0;
	padding: 15px 20px 0;
	margin: 0;
}
.my-account .fieldset.personal-details {
	margin: 0 0 50px;
}
.my-account .fieldset.change-password {
	border-top: 1px #afafaf solid;
	padding-top: 20px;
}
.my-account .fieldset .legend {
	border: 0;
	background: 0;
	padding: 0;
	margin: 0;
	float: none;
	color: #434343;
	margin: 0 0 8px;
}
.my-account .fieldset .form-list .field {
	width: 100%;
	margin-bottom: 8px;
}
.my-account .fieldset .form-list .field.name-firstname, 
.my-account .fieldset .form-list .field.new-password {
	margin: 0 0 8px;
}
.my-account .fieldset .form-list label {
	color: #434343;
	font-weight: normal;
	width: 160px;
	padding-top: 4px;
}
.my-account .fieldset .form-list label.required em {
	right: 10px;
	top: 3px;
}
.my-account .fieldset .form-list .input-box {
	clear: none;
	float: left;
	width: auto;
}
.form-list input.input-text {
	background: #f7f7f7;
	border-color: #dedede;
}
.form-list input.input-text#street_2 {
	margin-left: 160px;
}
.form-list li.wide input.input-text, 
.form-list input.input-text {
	width: 405px;
}
.form-list select {
	width: 410px;
}
#checkoutSteps .form-list select {
    width: 425px !important;
}
.my-account .buttons-set {
	border-top: 0;
	width: 590px;
}
.my-account .buttons-set p.required, 
.my-account .buttons-set p.back-link {
	display: none;
}
.my-account .buttons-set button.button {
	float: none;
}
.my-account .buttons-set button.button span {
	border: 0;
	background: #fd8e18;
	padding: 10px 0;
	height: 30px;
}
.my-account .buttons-set button.button span span {
	font-family: 'bebasregular';
	font-size: 1.3em;
	font-weight: normal;
	word-spacing: 5px;
	padding: 5px 20px;
}

/* Address Book */
.addresses-list li.item {
	background: 0;
	border: 0;
	padding: 15px 20px 0;
	margin: 0;
}
.addresses-list li.item.billing-address {
	margin-bottom: 50px;
}
.addresses-list li.item.shipping-address {
	border-top: 1px #afafaf solid;
	margin-bottom: 50px;
}
.addresses-list li.item h3 {
	float: left;
	color: #424242;
	margin-bottom: 15px;
}
.addresses-list li.item a, 
.addresses-additional-wrap a {
	color: #ffa01b;
}
.addresses-list li.item p {
	text-align: right;
}
.addresses-list li.item.empty p {
	text-align: left;
	clear: left;
}
.addresses-list li.item address {
	clear: left;
}
.addresses-list h2 {
	text-transform: capitalize;
	color: #424242;
	float: left;
}
.addresses-list p.new-address {
	text-align: right;
}
.addresses-additional-wrap {
	padding: 15px 20px 0;
	border-top: 1px #afafaf solid;
}

/* Order History */
.my-account .pager {
	background: 0;
}
.my-account .pager .pager {
	border-top: 2px #5f5f5f solid;
}
.my-account .pager .pager .pager-wrapper {
	padding: 0;
}
.my-account .pager-wrapper {
	color: #6e6e6e;
	padding: 0 10px;
}
.my-account .pager .buttons-set, 
.my-account .pager-wrapper .pages, 
.my-account .custome-nav {
	display: none;
}
.my-account .pager-wrapper .limiter {
	font-weight: bold;
}
.my-account .pager-wrapper .limiter label, 
.my-account .pager-wrapper .limiter ul {
	float: left;
}
.my-account .pager-wrapper .limiter label {
	margin-right: 5px;
}
.my-account .pager-wrapper .limiter ul li {
	display: inline-block;
}
.my-account .pager-wrapper .limiter ul li {
	padding-left: 8px;
	background: url(../images/slash-grey.png) no-repeat left center;
}
.my-account .pager-wrapper .limiter ul li:first-child {
	background: none;
	padding-left: 0;
}
.my-account .pager-wrapper .limiter ul li a, 
.my-account .data-table .link-reorder, 
.my-account .data-table .link-view-order {
	color: #fd810d !important;
	font-weight: bold;
}
.my-account .data-table {
	border: 0;
	margin: 20px 0 15px;
}
.my-account .data-table td {
	padding: 7px 8px;
}
.my-account .data-table thead th {
	background-image: none;
	background-color: #5d5d5d;
	color: white;
	border-right: 0;
	padding: 7px 8px;
}
.my-account .data-table .odd, 
.my-account .data-table .even {
	background: white;
}
.my-account .data-table tbody td {
	border-bottom: 0;
	border-right: 0;
}
.my-account .order-info {
	background: none;
}
.my-account .order-date {
	padding: 10px 10px;
}
 
.my-account {
	background: none;
	margin: 0;
	border: 0;
	border-top: 1px #bcbcbc solid;
	
	/* width: auto;
padding: 10px 10px 30px;	
	margin: 0 2%;
	*/
	float: left;
    width: 100%;
    
}
.my-account .order-info-box {
	background: none;
	margin: 0;
	border: 0;
	border-top: 1px #bcbcbc solid;
	padding: 10px 10px 30px;
	/* width: auto; */
	float: left;
    margin: 0 2%;
    width: 43%;
}
.order-items.order-details {
	background: none;
	margin: 0;
	border: 0;
	border-top: 1px #bcbcbc solid;
	padding: 10px 10px 30px;
	/* width: auto; */
	float: left;
    /* margin: 0 2%; */
    width: 96%;
}
.my-account #my-orders-table thead th, 
.my-account #my-orders-table tbody td {
	word-wrap: break-word;
	white-space: normal;
}
.my-account #my-orders-table tfoot {
	border-bottom: none;
}
.my-account #my-orders-table tfoot tr {
	background: none;
}
.my-account #my-orders-table tfoot tr td {
	border-right: 0;
}
.my-account #my-orders-table tfoot tr.subtotal td.last {
	width: 20%;
}
.my-account #my-orders-table tfoot tr.first td {
	background: none;
	border-top: 1px solid #afafaf;
}
.my-account #my-orders-table tfoot tr.last {
	border-top: 1px solid #afafaf;
}
.my-account #my-orders-table tbody tr {
	background: none !important;
	border-bottom: 1px solid #afafaf;
}
.my-account .dashboard #my-orders-table tbody tr {
	border-bottom: 0;
}

/* Review */
#my-reviews-table .product-name a {
	color: #515151;
}
#my-reviews-table tbody td.last a {
	color: #fd810d;
	font-weight: bold;
}
.form-list li .orange-dash { background: url(../images/dash-orange.png) bottom repeat-x; padding-bottom:20px;}
.error-msg {
    border-color: #F16048;
    background-color: #FFF;
    background-image: url('../images/i_msg-error.gif');
    color: #DF280A;
}
.no-orders, 
.no-reviews {
	margin-left: 7px;
	margin-top: 30px;
}
.product-review .product-img-box {
	margin-left: 10px;
}

/* Newsletter Subscribe */
.my-account .fieldset.newsletter-subscribe .control #subscription, 
.my-account .fieldset.newsletter-subscribe .control label {
	float: left;
}
.my-account .fieldset.newsletter-subscribe .control #subscription {
	margin-top: 2px;
}
.my-account .fieldset.newsletter-subscribe .control label {
	width: 280px;
	padding-top: 0;
}
.my-account .buttons-set.newsletter-subscribe {
	text-align: left;
	margin-left: 35px;
}

.low-res {
	display: none;
}

@media (max-width: 1215px) {
	.col2-left-layout .main .col-main {
		width: 810px;
	}
}

@media (max-width: 1023px) {
	.col2-left-layout .main .col-main {
		width: 560px;
	}
	.col2-left-layout .main .col-left.sidebar {
		margin-top: 0px;
	}
	.account-login .content {
		min-height: 380px !important;
	}
	.form-list li.wide .input-box {
		width: 260px;
	}
	.form-list li.wide input.input-text, 
	.form-list input.input-text {
		width: 254px;
	}
	.form-list select {
		width: 260px;
	}
	.my-account .buttons-set {
		width: 440px;
	}
}

@media (max-width: 767px) {
	.col2-left-layout .main .col-left.sidebar, 
	.col2-left-layout .main .col-main {
		width: 100%;
	}
	.account-login .col2-set .col-1, 
	.account-login .col2-set .col-2 {
		width: 100%;
	}
	.account-login .col2-set .col-1 .content, 
	.account-login .col2-set .col-2 .content {
		margin: 15px;
	}
	.account-login .content {
		min-height: 0 !important;
		height: auto;
	}
	.low-res {
		display: block;
	}
	.hi-res {
		display: none;
	}
	#my-orders-table th.action, 
	#my-reviews-table th.action {
		width: 20%;
	}
}

@media (max-width: 479px) {
	.account-login .al-authorization .form-list input.input-text {
		width: 215px;
	}
	.form-list input.input-text#street_2 {
		margin-left: 0;
	}
	.my-account .fieldset .form-list label {
		padding-top: 0;
		padding-bottom: 3px;
	}
	.my-account .fieldset .form-list label.required em {
		right: 50px;
	}
	.my-account .fieldset .form-list .confirm-password label.required em {
		right: 20px;
	}
	.title-buttons h1 {
		float: none;
	}
	.my-account .fieldset.newsletter-subscribe .control label {
		width: 245px;
	}
	.my-account .buttons-set {
		width: 275px;
		text-align: left;
		margin-left: 15px;
	}
}