.static-page-area {
	padding: 0;
	margin: 0;
	width: 100%;
	color: #707070;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
}

.static-page-wrapper {
	padding: 0;
	margin: 0;
	width: 94%;
	padding: 0 3%;
}

.static-page-wrapper p, .static-page-wrapper label, .static-page-wrapper li{
	color: #707070;
	font:12px/1.55 Arial, Helvetica, sans-serif;
}
.static-page-wrapper ol, .static-page-wrapper ul{
	list-style:decimal;
	margin:0 0 0 22px;
}
.center-text-sp{text-align:center;}
.font-base-text {font-family: helvetica, arial;}
.font-base-text-bold {font-family: helvetica, arial; font-weight: bold;}

.fb-13 {font-size: 13px !important;}
.fb-14 {font-size: 14px !important;}
.fb-15 {font-size: 15px !important;}
.fb-18 {font-size: 18px !important;}
.fb-20 {font-size: 20px !important;}
.fb-bebas {font-family: 'bebasregular' !important;}

.clear-static {clear: both;}

.fc-base-blue {color:#4ec7da !important;}
.fc-base-blue2 {color: #2F93BF !important;}
.fc-base-orange {color:#ffa01b !important;}
.fc-base-yellow {color:#ffe449 !important;}
.fc-base-peach {color:#fc8360 !important;}
.fc-base-green {color:#8dd240 !important;}

.fc-base-red {color:#e72b2f;}
.fc-base-orange-sp {color:#fc6a33;}

.bc-white {background: #FFF;}

.base-bold {font-weight: bold !important;}

.static-page-wrapper a {
	color: #707070;
	font-size: 12px/1.55em;
	line-height: 1;
	text-decoration: none;
}

.rounded-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.rounded-10 {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.rounded-15 {
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.rounded-20 {
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
}

.rounded-300 {
	border-radius: 300px;
	-moz-border-radius: 300px;
	-webkit-border-radius: 300px;

}

.clear-sp {clear:both;}
.title-sp {color:#fc6a33; font-size: 18px !important; font-weight: bold;font-size: Arial, Helvetica, sans-serif; padding: 10px 0 0;}
.title-sp-25 {font-size: 25px !important; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.image-sp {width:100% !important;}
.image-sp img {width:100% !important;}


.bc-content-area .image-sp {float: left; padding: 0 2% 15px; width: 94% !important;}
	
.image-sp2 {width:100% !important;}
.image-sp2 img {width:100% !important;}

.text-sp {font-size: 14px; margin: 0 auto;text-transform: none;}
.text-sp2 {font-size: 14px; margin: 0 auto; padding: 0;}


.static-page-content {
    display: block;
    position: relative;
    z-index: 1;
}

.static-page-content table {
    border: 1px solid #6ec9e8;
}


.static-page-content table tr th {
    background: none repeat scroll 0 0 #6ec9e8;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px;
}

.static-page-content table tr td {
    border-bottom: 1px solid #6ec9e8;
    border-right: 1px solid #6ec9e8;
    color: #666666;
    font-size: 14px;
    padding: 5px;
}

.table-sp {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 10px;
    margin: 0 3%;
    padding: 20px 0;
    width: 94%;
}
ul.decimal-ul li {
		list-style-type: decimal;
	}

.bc-content-area {width: 100%; float: left;}
.bc-content-area img {width: 98%; padding: 5px 1% 20px;}
.line-sp-blue {
	border-top: 2px dashed #2f93bf;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom:20px;
	width: 94%;
  }

.static-page-area ol li {font-size:14px; margin:0 0 10px;line-height:1.35; list-style: decimal outside none;}
.wrapper-voucher a {text-decoration:none;}
.line-height-1 {line-height:1 !important;}
.line-dashed{border-bottom: 2px dashed #A0A0A0; margin:10px 0 15px}


/* --------------------------------------------Gift Voucher static page */

	.button-area-voucher {
		padding: 0 2%;
		width: 96%;
		margin: 0 auto;
	}
	
	.button-voucher1 {
		background: #36ccaf;
		padding: 18px 10px 13px;
		text-align: center;
		font-size: 30px;
		color: #fff;
		margin: 10px 0;
		clear: both;
		width: 190px;
		display: block;
	}
	
	.button-voucher1:hover {
		box-shadow:1px 1px 2px #d7d7d7;
		text-decoration:none;
	}
	
	.button-voucher2 {
		background: #FF1493;
		padding: 10px 20px;
		text-align: center;
		font-size: 20px;
		color: #fff;
		margin: 10px 0;
		clear: both;
	}
	.back-button-area {
		margin: 20px 0;
		color: #FFF;
		width: 96%;
		padding: 0 2%;
	}
	.back-button-voucher {
		background: none;
		padding: 10px 20px;
		width: 40px;
		color: #36ccaf;
		display: block;
		border: 1px solid #36ccaf;
	}
	
	.back-button-voucher:hover {
		background: #36ccaf;
		padding: 10px 20px;
		width: 40px;
		color: #FFF;
		display: block;
		border: 1px solid #36ccaf;
		text-decoration:none;
	}

	.button-voucher3 {
		background: #36ccaf;
		padding: 18px 10px 13px;
		text-align: center;
		font-size: 30px;
		color: #fff;
		margin: 10px 0;
		clear: both;
		width: 190px;
		display: block;
	}
	
	.button-voucher3:hover {
		text-decoration:none;
		box-shadow:1px 1px 2px #d7d7d7;
	}
	
	.button-area-voucher2 {
		width: 96%;
		padding: 0 2%;
		margin: 0 auto;
		display:none;
	}
	
	.voucher-parent {
		display:none;
	}
	
	form.area-voucher {
		margin:-0;
		text-align: left;
		font-size: 14px;
		width: 96%;
		padding: 0 2%;
		display: block;
	}
	
	.voucher-input {
		padding: 5px;
		width: 60px;
		font-size: 14px;
		border: 1px solid #36ccaf;
		box-shadow: 1px 1px 5px #d7d7d7 inset;
		background: #FFF;
		text-align: center;
		border-radius: 5px;
	}
	
	.header-voucher-banner {
		width: 96%;
		padding: 0 2%;
		margin-bottom: 20px;
	}
	
	.header-voucher-banner img {
		width: 100%;
	}
	
	.voucher-parent.text-sp {
		padding: 0 2%;
		width: 96%;
	}
	
/* ----------------End Gift Voucher Static Page */








/* Styles for MOM's & BABY WORLD */

@keyframes shake-mbw{
0% { transform: translate(2px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(0px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(2px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(2px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes shake-mbw{
0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes shake-mbw {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-mbw{
display:inline-block;
}

.shake-mbw, .shake-mbw:hover, .shake-mbw:focus{
animation-name: shake-mbw;
animation-duration: 0.8s;
transform-origin:50% 50%;
animation-iteration-count: infinite;
animation-timing-function: linear;

-moz-animation-name: shake-mbw;
-moz-animation-duration: 0.8s;
-moz-transform-origin:50% 50%;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;

-webkit-animation-name: shake-mbw;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}



	/* shake originale */

@keyframes shake2{
0% { transform: translate(2px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(0px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(2px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(2px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes shake2{
0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes shake2 {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake2{
display:inline-block;
}

.shake2:hover,
.shake2:focus{
animation-name: shake;
animation-duration: 0.8s;
transform-origin:50% 50%;
animation-iteration-count: infinite;
animation-timing-function: linear;

-moz-animation-name: shake;
-moz-animation-duration: 0.8s;
-moz-transform-origin:50% 50%;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;

-webkit-animation-name: shake;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
}

	/* END shake originale */

.bg-mwb {
	background: url('../../../../../media/wysiwyg/landing-page/mwb_bg2.jpg') no-repeat; position:relative; margin:0 auto; padding:0; display:block; width: 911px; height: 938px;
}


.prod1 {
	margin:403px 0 0 93px;
	position:absolute;
}

.pita-1 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-1.png') no-repeat;
	position:absolute;
	width:114px;
	height:18px;
	margin: 67px 0 0 -10px;
}

.makanan-bayi {
	background: url('../../../../../media/wysiwyg/landing-page/makanan-bayi.png') no-repeat;
	position:absolute;
	margin: 0px 0 0 -10px;
	margin:0px;
	background-size: 100px auto;
	width: 100px;
	height: 70px;
}
.makanan-bayi:hover {
	background: url('../../../../../media/wysiwyg/landing-page/makanan-bayi.png') no-repeat;
	position:absolute;
	margin: -12px 0 0 -10px;
	background-size: 120px auto;
	width: 120px;
	height: 101px;
	animation-duration: 0.8s;
}


.prod2 {
	margin:404px 0 0 269px;
	position:absolute;
}

.pita-2 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-2.png') no-repeat;
	position:absolute;
	width:168px;
	height:37px;
	margin: 89px 0 0 -29px;
}

.perlengkapan-makan {
	background: url('../../../../../media/wysiwyg/landing-page/Food-equip.png') no-repeat;
	position:absolute;
	background-size: 105px auto;
	width: 105px;
	height: 103px;
}
.perlengkapan-makan:hover {
	background: url('../../../../../media/wysiwyg/landing-page/Food-equip.png') no-repeat;
	position:absolute;
	margin: -23px 0 0 -11px;
	background-size: 130px auto;
	width: 130px;
	height: 130px;
	animation-duration: 0.8s;
}

.prod3 {
	margin:394px 0px 0px 368px;
	position:absolute;
}
.pita-3 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-3.png') no-repeat;
	position:absolute;
	width:114px;
	height:18px;
	margin: 58px 0 0 12px;
}
.ibu-sgm {
	background: url('../../../../../media/wysiwyg/landing-page/ibu-sgm.png') no-repeat;
	margin: -3px 0 0 5px;
	position:absolute;
	background-size: 68px auto;
	width: 68px;
	height: 62px;
}
.ibu-sgm:hover {
	background: url('../../../../../media/wysiwyg/landing-page/ibu-sgm.png') no-repeat;
	margin: -23px 0 0 -10px;
	position:absolute;
	background-size: 90px auto;
	width: 90px;
	height: 88px;
	animation-duration: 0.8s;
	z-index: 800;
}
.ibu-lactamil {
	background: url('../../../../../media/wysiwyg/landing-page/ibu-lactamil.png') no-repeat;
	margin: -6px 0 0 76px;
	position:absolute;
	background-size: 61px auto;
	width: 61px;
	height: 65px;
}
.ibu-lactamil:hover {
	background: url('../../../../../media/wysiwyg/landing-page/ibu-lactamil.png') no-repeat;
	margin: -29px 0 0 56px;
	position:absolute;
	background-size: 94px auto;
	width: 94px;
	height: 88px;
	animation-duration: 0.8s;
	z-index: 800;
}

.prod4 {
	margin:254px 0 0 668px;
	position:absolute;
}
.pita-4 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-4.png') no-repeat;
	position:absolute;
	width:170px;
	height:18px;
	margin: 65px 0 0 12px;
}
.info-ibu {
	background: url('../../../../../media/wysiwyg/landing-page/info.png') no-repeat;
	margin:0px 0 0 50px;
	background-size: 119px auto;
	position:absolute;
	width: 119px;
	height: 75px;
}
.info-ibu:hover {
	background: url('../../../../../media/wysiwyg/landing-page/info.png') no-repeat;
	margin:0px 0 0 50px;
	position:absolute;
	background-size: 119px auto;
	width: 119px;
	height: 75px;
	animation-duration: 0.8s;
}

.prod5 {
	margin:464px 0 0 618px;
	position:absolute;
}
.pita-5 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-5.png') no-repeat;
	position:absolute;
	width:114px;
	height:18px;
	margin: 87px 0 0 -17px;
}
.pakaian {
	background: url('../../../../../media/wysiwyg/landing-page/pakaian.png') no-repeat;
	margin:0px 0 0 0px;
	background-size: 78px auto;
	position:absolute;
	width: 78px;
	height: 105px;
}
.pakaian:hover {
	background: url('../../../../../media/wysiwyg/landing-page/pakaian.png') no-repeat;
	margin:0px 0 0 -6px;
	position:absolute;
	background-size: 90px auto;
	width: 90px;
	height: 134px;
	animation-duration: 0.8s;
}

.prod6 {
	margin:455px 0 0 742px;
	position:absolute;
}
.pita-6 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-6.png') no-repeat;
	position:absolute;
	width:155px;
	height:18px;
	margin: 83px 0 0 -28px;
}
.mandi {
	background: url('../../../../../media/wysiwyg/landing-page/per-mandi.png') no-repeat;
	margin:0px 0 0 0px;
	background-size: 105px auto;
	position:absolute;
	width: 105px;
	height: 90px;
}
.mandi:hover {
	background: url('../../../../../media/wysiwyg/landing-page/per-mandi.png') no-repeat;
	margin:-18px 0 0 0px;
	position:absolute;
	background-size: 125px auto;
	width: 125px;
	height: 109px;
	animation-duration: 0.8s;
}


.prod7 {
	margin:575px 0 0 521px;
	position:absolute;
}
.pita-7 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-7.png') no-repeat;
	position:absolute;
	width:114px;
	height:18px;
	margin: 58px 0 0 -17px;
}
.mainan {
	background: url('../../../../../media/wysiwyg/landing-page/mainan.png') no-repeat;
	margin:0px 0 0 0px;
	background-size: 135px auto;
	position:absolute;
	width: 135px;
	height: 140px;
}
.mainan:hover {
	background: url('../../../../../media/wysiwyg/landing-page/mainan.png') no-repeat;
	margin:-20px 0 0 -5px;
	position:absolute;
	background-size: 154px auto;
	width: 154px;
	height: 176px;
	animation-duration: 0.8s;
}

.prod8 {
	margin:678px 0 0 659px;
	position:absolute;
}
.pita-8 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-8.png') no-repeat;
	position:absolute;
	width:114px;
	height:18px;
	margin: 106px 0 0 36px;
}
.popok {
	background: url('../../../../../media/wysiwyg/landing-page/popok.png') no-repeat;
	margin:0px 0 0 0px;
	background-size: 188px auto;
	position:absolute;
	width: 188px;
	height: 114px;
}
.popok:hover {
	background: url('../../../../../media/wysiwyg/landing-page/popok.png') no-repeat;
	margin:-9px 0 0 -25px;
	position:absolute;
	background-size: 214px auto;
	width: 214px;
	height: 131px;
	animation-duration: 0.8s;
}

.prod9 {
	margin:523px 0 0 33px;
	position:absolute;
}
.pita-9 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-9.png') no-repeat;
	position:absolute;
	width:141px;
	height:18px;
	margin: 85px 0 0 61px;
}
.perlengkapan-bayi {
	background: url('../../../../../media/wysiwyg/landing-page/perlengkapan-bayi.png') no-repeat;
	margin:0px 0 0 0px;
	background-size: 127px auto;
	position:absolute;
	width: 127px;
	height: 166px;
}
.perlengkapan-bayi:hover {
	background: url('../../../../../media/wysiwyg/landing-page/perlengkapan-bayi.png') no-repeat;
	margin:-10px 0 0 0px;
	position:absolute;
	background-size: 150px auto;
	width: 150px;
	height: 188px;
	animation-duration: 0.8s;
}

.prod10 {
	margin: 700px 0 0 57px;
	position:absolute;
}
.pita-10 {
	background: url('../../../../../media/wysiwyg/landing-page/pita-10-2.png') no-repeat;
	position:absolute;
	width:211px;
	height:19px;
	margin: 66px 0 0 61px;
	z-index: 801;
}
.susu-1sgm {
	background: url('../../../../../media/wysiwyg/landing-page/susu-sgm.png') no-repeat;
	margin: -2px 0 0 143px;
	background-size: 67px auto;
	position:absolute;
	width: 67px;
	height: 67px;
}
.susu-1sgm:hover {
	background: url('../../../../../media/wysiwyg/landing-page/susu-sgm.png') no-repeat;
	margin:-25px 0 0 138px;
	position:absolute;
	background-size: 90px auto;
	width: 90px;
	height: 110px;
	animation-duration: 0.8s;
	z-index: 800;
}
.susu-2bebelac {
	background: url('../../../../../media/wysiwyg/landing-page/susu-bebelac.png') no-repeat;
	margin:-5px 0 0 216px;
	background-size: 76px auto;
	position:absolute;
	width: 76px;
	height: 67px;
}
.susu-2bebelac:hover {
	background: url('../../../../../media/wysiwyg/landing-page/susu-bebelac.png') no-repeat;
	margin:-23px 0 0 207px;
	position:absolute;
	background-size: 101px auto;
	width: 101px;
	height: 110px;
	animation-duration: 0.8s;
	z-index: 800;
	
}
.susu-3nutrilon {
	background: url('../../../../../media/wysiwyg/landing-page/susu-nutrilon.png') no-repeat;
	margin: -4px 0 0 298px;
	background-size: 64px auto;
	position:absolute;
	width: 64px;
	height: 70px;
}
.susu-3nutrilon:hover {
	background: url('../../../../../media/wysiwyg/landing-page/susu-nutrilon.png') no-repeat;
	margin:-23px 0 0 287px;
	position:absolute;
	background-size: 85px auto;
	width: 85px;
	height: 110px;
	animation-duration: 0.8s;
	z-index: 800;
	
}

/* End Large MWB */



/* -------------------------min-700px width MWB------------------------ */

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
	.bg-mwb {
		background: url('../../../../../media/wysiwyg/landing-page/mwb_bg2.jpg') no-repeat;
		position:relative; 
		margin:0 auto; 
		padding:0; 
		display:block; 
		width: 911px; 
		height: 938px;
		background-size: 742px;
	}


	.prod1 {
		margin:303px 0 0 68px;
		position:absolute;
	}

	.pita-1 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-1.png') no-repeat;
		position:absolute;
		width:114px;
		height:18px;
		margin: 67px 0 0 -10px;
	}


	.prod2 {
		margin:308px 0 0 211px;
		position:absolute;
	}

	.pita-2 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-2.png') no-repeat;
		position:absolute;
		width:168px;
		height:37px;
		margin: 89px 0 0 -29px;
	}

	.prod3 {
		margin:394px 0px 0px 368px;
		position:absolute;
	}
	.pita-3 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-3.png') no-repeat;
		position:absolute;
		width:114px;
		height:18px;
		margin: 58px 0 0 12px;
	}

	.prod4 {
		margin:189px 0 0 537px;
		position:absolute;
	}
	.pita-4 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-4.png') no-repeat;
		position:absolute;
		width:170px;
		height:18px;
		margin: 65px 0 0 12px;
	}

	.prod5 {
		margin:296px 0 0 470px;
		position:absolute;
	}
	.pita-5 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-5.png') no-repeat;
		position:absolute;
		width:114px;
		height:18px;
		margin: 87px 0 0 -17px;
	}

	.prod6 {
		margin:350px 0 0 600px;
		position:absolute;
	}
	.pita-6 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-6.png') no-repeat;
		position:absolute;
		width:155px;
		height:18px;
		margin: 83px 0 0 -28px;
	}


	.prod7 {
		margin:442px 0 0 405px;
		position:absolute;
	}
	.pita-7 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-7.png') no-repeat;
		position:absolute;
		width:114px;
		height:18px;
		margin: 58px 0 0 -17px;
	}

	.prod8 {
		margin:570px 0 0 532px;
		position:absolute;
	}
	.pita-8 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-8.png') no-repeat;
		position:absolute;
		width:114px;
		height:18px;
		margin: 106px 0 0 36px;
	}

	.prod9 {
		margin:395px 0 0 33px;
		position:absolute;
	}
	.pita-9 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-9.png') no-repeat;
		position:absolute;
		width:141px;
		height:18px;
		margin: 85px 0 0 61px;
	}

	.prod10 {
		margin:559px 0 0 15px;
		position:absolute;
	}
	.pita-10 {
		background: url('../../../../../media/wysiwyg/landing-page/pita-10-2.png') no-repeat;
		position:absolute;
		width:211px;
		height:19px;
		margin: 66px 0 0 61px;
		z-index: 801;
	}
}



/* ---------------------------------------- End min MWB 700px ------------------------------------------------------ */






	/* For Mobile Moms & Baby World */

	.header-mobile-mwb {
		width:100%;
		background: url("../images/header-MWB-red.png") repeat-x;
		height: 94px;
	}
	
	.header-mobile-mwb img {
		position: absolute;
		right: 10px;
		top: 210px;
		width: 82%;
		max-width: 385px;
		z-index: 100;
	}
	
	.block-button-mwb {
		width: 100%;
		height: 74px;
		clear: both;
		display: block;
		padding: 3px 2%;
		text-align: left;
	}
	
	.block-button-mwb img {
		display: block;
		float: left;
		width: 70px;
		margin: 3px 10%;
	}
	
	.block-button-mwb p {
		float: left;
	}
	
	.menu-thumbs-mwb ul li {
		list-style: none outside none;
		margin: 10px 0;
		text-decoration: none;
		width: 95%;
		border: 1px solid #d7d7d7;
		background: url("../images/arrow-red-mwb.png") no-repeat right 5px center #ebebeb;
		background-size: 30px;
		display: block;
		padding: 10px 0;
	}
	
	.menu-thumbs-mwb h2 {
		padding: 20px 45px 20px 0;
		display: table-cell; vertical-align: middle;
		height: 100%;
	}
	
	@media only screen and (min-width: 768px) { 
		.web-ver-mwb {display: block}
		.mobile-ver-mwb {display: none;}
	}
	
	@media only screen and (max-width: 767px) { 
		.web-ver-mwb {display: none}
		.mobile-ver-mwb {display: block;}
	}



	/*END For Mobile Moms & Baby World */


/* END Styles for MOM's & BABY WORLD */


/*style Tanya Ahli */
.registered-users ul.form-list{
	list-style-type:;
}

/*style Tanya Ahli */


/*testimonial*/
.static-tagline{
	font-size:14px;
	color:#c1c1c1;	
	margin: 0 !important;
}
.static-page-content > h3 {
    font-size: 21px;
	color: #FFA01B !important;
}
.static-testi-row {
	margin:15px 0 0;
}
.static-testi-row h3{
	font-size:18px;
	color:#a0da4e;
}
.static-testi-row h2{
	color: #FFB041;
    font-weight: bold;
}
.static-testi-row p{
	font-size:12px;
	line-height:20px;
	color:#989898;
}
.static-page-content table tr td {
    border-bottom: 1px solid #6ec9e8;
    color: #666666;
    font-size: 14px;
    padding: 5px;
	margin:0 10px 0 0;
}

/*end testimonial*/

/* style for company static page */
.contacts-formcms {
    min-height: 540px !important;
}
.cms-main {
    display: block;
    float: left;
    min-height: 350px;
    padding-bottom: 100px;
    position: relative;
    width: 95%;
	padding: 10px 5%;
}
.contactForm-content {
    font-size: 14px;
}
.contactForm-content .static-tagline {
    color: #F58D66;
    font-family: helvetica,arial,'sans-serif';
    font-size: 14px;
}
.contactForm-content {
    font-size: 14px;
}
.contactForm-leftbox {
    float: left;
    margin-right: 20px;
    width: 340px;
}
.contactForm-leftbox h3, .contactForm-rightbox h3 {
    margin-bottom: 15px;
}
.contactForm-content ul {
    list-style: none outside none !important;
}
.contactForm-rightbox {
    float: left;
    width: 340px;
}
.cms-main .fieldset {
    background: none;
    border: none;
    margin: 28px 0;
    padding: 22px 25px 12px 33px;
}
.contactForm-leftbox h2, .contactForm-rightbox h2 {
    margin-bottom: 15px;
	font-size: 16px;
    font-weight: normal;
}
.contactForm-leftbox h3, .contactForm-rightbox h3 {
    margin-bottom: 15px;
	font-size: 16px;
    font-weight: normal;
}
.cms-main .fieldset .legend {
    background: none;
    border: none;
    color: #a0a0a0;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
}

.cms-main .page-title h1, .page-title h2 {
    color: #a0a0a0;
    font-size: 20px;
    margin: 10px 0;
	font-weight: bold;
}
.cms-main input.input-text, select, textarea {
    background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #CFCFCE;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; */
    color: #666666;
    padding: 7px 5px;
}

.cms-main .contactForm-leftbox .form-list .input-box, .contactForm-rightbox .form-list .input-box {
    clear: none;
    float: left;
    width: 214px;
}
.cms-main.contactForm-leftbox textarea {
    width: 204px;
}
.cms-main .form-list label {
    color: #666666;
    float: left;
    font-weight: bold;
    padding: 0 0 10px;
    position: relative;
    z-index: 0;
}
.cms-main .buttons-set button.button {
    float: right;
    margin-left: 5px;
}
.cms-main .buttons-set button.button span {
    background: none repeat scroll 0 0 #FF763F;
    border: 1px solid #FF763F;
	padding:3px 20px 10px;
}
.cms-main .buttons-set button.button span span {
    background: none;
    border: none;
}
.cms-main .contactForm-leftbox {
    float: left;
    margin-right: 20px;
    width: 340px;
}
.cms-main .contactForm-rightbox {
    float: left;
    width: 340px;
}
/* END style for company static page */


/* .nav-container-2013 ul#nav ul.shown-sub {
background: none repeat scroll 0 0 #F8F2E8;
border-top: medium none;
top: 40px !important;
}
.nav-container-2013 #nav ul .left-left-block {
float: left;
width: 33%;
padding-top: 18px;
}
.nav-container-2013 ul#nav .nav-10-sub {
background: #000000;
display: none;
min-height: 250px;
left: 0;
position: absolute;
min-width: 300px;
left: 250px;
z-index: 999;
} */


.gift-menu-wrapp {
	background: none repeat scroll 0 0 #fcfcfc !important;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1) !important;
    /* margin-left: 440px; */
    padding: 20px !important;
    position: absolute !important;
    top: 42px !important;
    width: 460px !important;
	display: none;
	right: 0 !important;
	z-index: 99999 !important;
}
.title-gift-megamenu {
	text-align: left!important;
	margin-bottom: 10px!important;
}
.title-gift-megamenu h2 {
	color: #707070!important;
    font-family: 'bebasregular'!important;
    font-size: 1.1em!important;
    font-weight: normal!important;
    letter-spacing: 1px!important;
    text-transform: uppercase!important;
}
.gift-menu-wrapp ul li{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    /* border-bottom: 1px solid #DADADA!important; */
	background: url("../images/arrow-menu.png") no-repeat scroll right center rgba(0, 0, 0, 0)!important;
    padding: 3px 0!important;
}
.gift-menu-wrapp ul li:last-child {
	color: #36ccaf!important;
}
.gift-menu-wrapp ul li .spacing{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0)!important;
    border-bottom: 1px solid #DADADA!important;
    padding: 3px 0!important;
}
.gift-menu-wrapp a span {
	color: #707070!important;
    text-decoration: none!important;
	/* font-size: 14px; */
}
.gift-menu-wrapp a span:hover {
	color: #FFA01B!important;
    text-decoration: none!important;
}
.bg-hover-menu {
	background: none repeat scroll 0 0 #FFFFFF !important;
}


/* Sticky */
.td-promo-cont {
	display: none;
	position: absolute;
	top: 35px;
	/* left: 14%; */
	z-index: 9999999999;
	margin-left: -15px;
}
.td-promo-cont {background:none;}
.td-promo-cont:hover {background:#fff;}
.bg-white {background:#fff;}


.td-contact-sticky-cont {
	display: none;
	position: absolute;
	top: 35px;
	/* left: 14%; */
	z-index: 9999999999;
	margin-left: -15px;
}

/* Megamenu backup */
.megamenu-product {
	text-align: right;
	margin: 20px 0 0 0;
	background: none;
	float: right;
}

.megamenu-product a.megamenu-image {
	display: inline-block;
	border: none !important;
	width: 190px;
	/* height: 192px; */
	overflow: hidden;
	background: none;
}
.megamenu-product a.megamenu-image img {
	width: 100%;
}
.td-contact-sticky-cont .title-font {
	font-family: 'bebasregular';
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.td-contact-sticky-cont a {
    background: none !important;
    color: #707070;
    font-size: 18px;
    height: 28px;
    line-height: 1.7em;
    padding-left: 0px !important;
}

/* -------------- Gift Idea Pages ------------------ */
.cont-20-percent {
	width: 16%;
	padding: 10px 2%;
	float: left;
}

.wrapper-gift {
		width: 94%;
		margin:0 auto;
		padding: 0;
	}
	
	.tittle-gift-blue {font-family: 'InsaniburgerRegular'; font-size: 40px; color:#04BEEF; text-align: center; margin-top:20px;line-height: 1;}
	.tittle-gift-green {font-family: 'InsaniburgerRegular'; font-size: 40px; color:#86B940; text-align: center; margin-top:20px;line-height: 1;}
	
	.tittle-gift-blue-detail {font-family: 'InsaniburgerRegular'; font-size: 40px; color:#04BEEF; text-align: left; margin-top:20px;}
	.tittle-gift-green-detail {font-family: 'InsaniburgerRegular'; font-size: 40px; color:#86B940; text-align: left; margin-top:20px;}
	
	.body-text-gift {font-family: 'tin_doghouseregular'; font-size:14px; text-align:center;}
	.body-text-left {font-family: 'tin_doghouseregular'; font-size:14px; text-align:left;}
	.body-text-right {font-family: 'tin_doghouseregular'; font-size:14px; text-align:right;}
	.line-blue {clear:both;border-bottom: 2px dashed #04BEEF; margin: 20px 0;}
	.line-green {clear:both;border-bottom: 2px dashed #86B940; margin: 20px 0;}
	
	.clear-gift {clear:both;}
	.submain-area-gift {
		width: 100%;
		margin:0 auto;
		clear:both;
	}
	.tittle-gift-pink{
		text-align:center;
		margin: 10px 0;
	}
	
	.submain-area-gift .images {
		width: 35%;
		float: left;
		padding: 10px 0;
	}
	
	.submain-area-gift img {
		margin: 0 auto;
		width: 90%;
	}
	
	.submain-area-gift .text {
		width:43%;
		float: left;
		padding: 10px 30px;
		margin-top: 88px;
	}
	
	.submain-area-gift-detail .text {
		width:55%;
		float: left;
		padding: 10px 30px;
		margin-top: 30px;
	}
	
	.submain-area-gift-detail {
		width: 100%;
		margin:0 auto;
	}
	
	.submain-area-gift-detail .images {
		width: 35%;
		float: left;
		padding: 10px 0;
	}
	
	.submain-area-gift-detail img {
		margin: 0 auto;
		width: 90%;
	}
	
	.submain-area-gift label.blue {font-size: 15px; color:#04BEEF;}
	.submain-area-gift label.green {font-size: 15px; color:#86B940;}
	
	.check-area-gift {
		font-size: 15px;
		color:#04BEEF;
		height:25px;
		padding:8px 10px 0px 40px;
		background: url('http://assets.bilna.com/media/wysiwyg/gift-idea/btnchecklistmoms-normal.jpg') no-repeat;
		background-position:0px;
		text-decoration:none;
		transition-delay: 0s;
		transition-duration: 0.1s;
		transition-property: all;
		transition-timing-function: ease;
		display:table;
	}
	
	.check-area-gift:hover {
		background: url('http://assets.bilna.com/media/wysiwyg/gift-idea/btnchecklistmoms-rollover.jpg') no-repeat;
		background-position:0 0px;
		text-decoration:none;
	}
	
	.btn-bottom-detail {
		padding: 10px 0;
	}
	
	.btn-bottom-detail img{
		width:293px;
	}
	ul.body-text-left {margin-left: 0px; list-style-type: none;}
	
@media only screen and (max-width:680px) {
	.submain-area-gift .images {
		width: 94%;
		float: left;
		padding: 10px 3%;
	}
	
	.submain-area-gift .text {
		width:94%;
		float: left;
		padding: 10px 3%;
		margin-top: 0px;
	}
	.body-text-gift {font-family: 'tin_doghouseregular'; font-size:14px; text-align:center;}
	.body-text-left {font-family: 'tin_doghouseregular'; font-size:14px; text-align:left;}
	.body-text-right {font-family: 'tin_doghouseregular'; font-size:14px; text-align:left;}
	
	.submain-area-gift-detail .images {
		width: 94%;
		float: left;
		padding: 10px 3%;
	}
		.tittle-gift-blue {
		color: #04BEEF;
		font-family: 'InsaniburgerRegular';
		font-size: 55px;
		line-height: 1;
		margin-top: 20px;
		text-align: center;
	}
	.submain-area-gift-detail .text {
		width:94%;
		float: left;
		padding: 10px 3%;
		margin-top: 0px;
	}
}

	.submain-area-gift a.blue {font-size: 15px; color:#04BEEF;}
	.submain-area-gift a.green {font-size: 15px; color:#86B940;}
	
	.btn-bottom-detail img{
		width:280px;
	}
	ul.body-text-left {margin-left: 0px; list-style-type: none;}
}

.hide-something-ideas {}
.hide-something-ideas .featured-product-catalog {display: none;}
.hide-something-ideas .note-msg {display: none !important;}


.gift-menu-wrapp2.gift-pages ul li{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DADADA;
	background: url("../images/arrow-2.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 7px 0;
}
.gift-menu-wrapp2 {
	background: none repeat scroll 0 0 #fcfcfc;
    /* box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1); */
    /* margin-left: 440px; */
    padding: 20px 21px;
    width: 100%;
	display: block;
}
.title-gift-megamenu {
	text-align: left;
	margin-bottom: 10px;
	padding: 20px;
}
.title-gift-megamenu h2 {
	color: #707070;
    font-family: 'bebasregular';
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.gift-menu-wrapp2 ul li .spacing{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DADADA;
    padding: 3px 0;
}
.gift-menu-wrapp2 a span {
	color: #707070;
    text-decoration: none;
	/* font-size: 14px; */
}
.gift-menu-wrapp2 a span:hover {
	color: #FFA01B;
    text-decoration: none;
}

.gift-menu-wrapp2 .list-gift-left {float: left;width: 100%;text-align: left}



/*--------------- Left-menu-static-page --------- */

.left-sp-menu-wrapp {
	width: 90%;
	padding: 10px;
	margin: 5px 0;
	background: none repeat scroll 0 0 #fcfcfc;
}
h2.block-grey-title-left {
	width: 90%;
	padding: 10px 5% 7px;
	margin-bottom: 10px;
	color: #707070;
    font-family: 'bebasregular' !important;
    font-size: 1.1em;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
	background: #d8d9d9;
	text-align: left;
}
.left-sp-menu-wrapp .gift-pages ul li{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DADADA;
	background: url("../images/arrow-2.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    padding: 7px 0;
	font-size: 12px;
}
.left-sp-menu-wrapp ul li {
	font-size: 12px;
    line-height: 1.4em;
}
.left-sp-menu-wrapp ul li a{
	text-decoration: none;
	color: #707070;
	line-height: 1.3em;
	padding-left: 6%;
}
.left-sp-menu-wrapp ul li a:hover{
	text-decoration: none;
	color: #FFA01B;
}
.container-left-com {
	margin-bottom: 10px;
}

/*=============Panin======================*/
.wrapper-photo {
			width: 100%;
			margin: 0 auto;
			padding: 0;
					font-family:tin_doghouseregular ;
					font-size: 14px !important;
	}

	.wrapper-2-column-foto {
			width: 100%;
	}

	.foto-2-column {
			width: 45%;
			float: left;
			margin: 10px 2.5%;
	}
	.text-2-column {
			width: 45%;
			float: left;
			margin:85px 0 2.5%;
	}
	.foto-2-column img {width: 90%; margin: 10px 5%; clear:both;display:block;}

	.main-img {width:100%; margin: 0 0 20px 0;}
	.main-img img {width: 100%;}

	.content-img {margin: 10px 20%; width: 60%;}
	.content-img img {width:100%;}

	.ribbon-winner {width: 187px; height:23px; background:
	url(&quot;http://assets.bilna.com/media/wysiwyg/banner-static-page/ribbon-winner.png&quot;) no-repeat; margin: -33px auto 20px;}
	.ribbon-winner div {color:#FFF;padding: 2px 0;text-align: center;}

	.text-area {width: 100%; margin: 10px 0 20px 0;}
	.text-purple {color: #8d5493; font-size:18px !important;}
	.text-title-static {font-family: 'InsaniburgerRegular'; font-size: 20px;width: 100%;}
	.text-body {font-family:tin_doghouseregular ; font-size: 14px;}

	.text-area-bottom {width: 100%; padding: 20px 0; border-bottom: 2px dashed #d26dbe; border-top: 2px dashed #d26dbe; font-size:
	14px; text-align: left; }

	.line-clear-panin {clear: both; border-bottom: 2px dashed #f03d39;width: 100%;}
	.clear {clear: both;}
	.center-text {text-align: center; width:80%; margin: 0 10%  !important;}

	.text-area ol li {list-style-type: decimal; margin-left: 5px;}

	.orange-text {color:#e9aa3a;}
	.pink-text {color:#fc3274;}
	.blue-panin {color:#1e83bd}
	.column_product_static {
		float: left;
		padding: 10px 0;
		text-align: center;
		width: 24%;
		border-bottom:1px solid #d2d2d2;
		position:relative;
		height:200px;
		border-right:1px solid #d2d2d2;
	}
	
	.column_product_static_center {
		float: left;
		padding:10px 0;
		border-right:1px solid #d2d2d2;
		text-align: center;
		width: 24%;
		position:relative;
		height:200px;
	}
	.column_product_static:nth-child(5){
		border-right:none;
	}
	.column_product_static_center:nth-child(9){
	 	border-right:none;
	 }
	.column_product_static_center img, .column_product_static img{
		width:60%;
	}
	.tindog_static {
		bottom: 10px;
		position: absolute;
		width: 100%;
	}
	.pupcat_pink{
		font-size:18px;
	}
/*==============end panin==================*/
.hide-featured .featured-product-catalog {
    display: none;
}
/*====================BNI====================*/
	.line-clear {clear: both; border-bottom: 2px dashed #f7d154;width: 100%;}
	.orange-text {color:#e9aa3a;}
	.pink-text {color:#fc3274;}
	.purple {color:#8d5493}
	
/*====================end BNI====================*/


/* --------- Daily Deals ------------------- */
.wrap_deals{
				display: block;
				margin: 0 auto;
				position: relative;
				width: 60%;
			}
			.banner_large_deals{
				margin: 10px 0;
				float:left;
				width:50%;
				text-align:center;
			}
			.banner_large_deals img{
				width:94%;
			}
			.thumb_small_deals{
				float: left;
				margin: 10px 0;
				text-align: center;
				width: 33%;
			}
			
			.wrap_small_deals{
				clear:both;
				display:block;
			}
			.wrap_deals_large{
				clear:both;
				display:block;
			}
			@media only screen and (max-width: 1215px) { 
			.thumb_small_deals img{
				width:90%;
			}
			}
			@media only screen and (max-width: 1024px) { 
				.wrap_deals{
					width:100%;
					}				
				.banner_large_deals img {
					width: 90%;
				}
				.thumb_small_deals img{
					width: 90%;
				}
			}
/* ---------------- End Daily Deals -------------------- */

/* ---------------- COD -------------------- */
	.cod_page{
	color:#878787;
	font-family:helvetica;
	}
	.cod_page .title_cod{
	color: #4EC7DA;
    font-family: bebasregular;
    font-size: 20px;
    margin: 1.8em 0 0.7em;
    text-transform: uppercase;
	}
	.cod_page .text-sp2 > li {
    margin: 0 0 10px;
}
/* ---------------- end COD -------------------- */


/* --------------------------------------- Start FORM BUILDER --------------------------------------- */
.formbuilder-form .std ul {
    list-style: disc outside none;
    padding-left: 0em !important;
}
.formbuilder-form ul li  {
    margin: 0 0 0 11px;
}
.formbuilder-form ul li  {
    list-style-type: none;
    clear: both;
}
.formbuilder-form ul li em{color: #FF0000;}
.formbuilder-form ul li .form-text {clear: both;}
.formbuilder-form ul li .form-question {
    clear: both;
    margin-left:0px;
    font-weight: bold;
    /* max-width: 414px; */
    padding: 0 0 5px;
    width: 56%;
    border-bottom: 1px solid #ebebeb;
}
.formbuilder-form ul li div.form-radio{
    clear: both;
    margin-left:0px;
}
.formbuilder-form ul li div.form-radio input{
    margin: 2px 5px 0 0;
    width: 20px !important;
}
.formbuilder-form ul li div.form-radio label{
    margin: 6px 0px;
    width: auto !important;
}

.formbuilder-form ul li label  {
    float: left;
    width: 135px;
}

.formbuilder-form ul li div.form-checkbox{
    clear: both;
    margin: 40px 0 0 0;
}
.formbuilder-form ul li div.form-checkbox input{
    margin: 2px 5px 0 0;
    width: 20px !important;
}
.formbuilder-form ul li div.form-checkbox label{
    margin: 6px 0px;
    width: auto !important;
}

.formbuilder-form ul li input{
    background: none repeat scroll 0 0 #F9F9F9;
    border: medium none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
    color: #666666;
    float: left;
    height: 26px !important;
    margin-right: 60px;
    padding: 7px 5px;
    width: 40% !important;
    margin-bottom: 20px;
    display: block;
}
.formbuilder-form p.required {
    clear: both;
    color: #FF0000;
    float: left;
    font-size: 11px;
    margin: 0 32px;
    padding: 0;
}
.formbuilder-form button.button {
    width: 42%;
}
.formbuilder-form button.button span {
    background: none repeat scroll 0 0 #FFA01B;
    border: medium none;
    font-weight: normal;
    padding: 10px 20px;
    margin-left: 160px;
    margin-top: 20px;
    max-width: 100px;
    float: right;
}

@media only screen and (max-width: 1023px) {
    .formbuilder-form ul li .form-question, .formbuilder-form ul li div.form-radio, .formbuilder-form ul li label, .formbuilder-form ul li div.form-checkbox {
        margin-left: 0px !important;
    }
    .formbuilder-form ul li .form-question {width: 100%;}
    .formbuilder-form button.button span {
        margin-left: 0px !important;
    }
    .formbuilder-form ul li input{
        background: none repeat scroll 0 0 #F9F9F9;
        border: medium none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
        color: #666666;
        float: left;
        height: 26px !important;
        margin-right: 0;
        padding: 7px 5px;
        width: 70% !important;
        margin-bottom: 20px;
        display: block;
    }
    .formbuilder-form button.button {
        width: 72%;
    }

}


/* --------------------------------------- END FORM BUILDER --------------------------------------- */
/* ---------------- ETUDE -------------------- */
.etude li span.right{
	display:inline-flex;
	float:none !important;
}
.etude li {
	margin:0 !important;
}
.etude ul{
	list-style-type:none;
}
.etude span.left{
width:68px;
}

/* ---------------- ETUDE -------------------- */

/* POP UP - ASI DISCLAIMER */
.popup-asi_disclaimer {
    background: none ;
    position: fixed;
    /* background: #000; */
    width: 100%;
    height: 100%;
    z-index: 10;
}
.popup-asi_disclaimer-inner {
    background: rgba(0,0,0,0.6);
    bottom: 0;
    color: #707070;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: left;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.popup-asi_disclaimer-inner .box-asi {
    width: 60%;
    max-width: 380px;
    background: #fff;
    padding: 20px;
    margin:10% auto 0;
    box-shadow: 0 0 10px #222;
    border-radius: 10px;
}
.dash-yellow {
    border-bottom: 2px dashed #fd8e17;
    margin: 5px 0;
}
.close-asi {
    clear: both;
    cursor: pointer;
}
.fl-right {float: right;}
.fl-none {float: none;}
button.button span.lanjut-button {
    background: #fd8e17;
    padding: 5px 20px;
    max-width: 200px;
    text-align: center;
    width: auto;
    border: none;
    margin: 10px auto 5px;
    max-width: 80px;
}
button.button-area {
    width: 100% !important;
}
.close-now {}

/* END ------------ POP UP - ASI DISCLAIMER */

/*---------------bilna kredit-------------------------*/
.title-bilna-kredit{
		font-family: helvetica, arial, san-serif; 
		font-weight: bold; 
		width:100%; 
		height:20px; 
		float:left;
		text-transform:uppercase;
		color:#0faa1e;
		font-size: 22px;
		text-align:center;
		padding:20px 0;
		margin-bottom:20px;
	}
.menu-tahap-bilna-kredit{
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0fa1aa;
	font-family: helvetica, arial, san-serif; 
	font-weight: bold; 
	width:110px; 
	height:110px; 
	float:left; 
	border-radius:55px; 
	background-size:cover;
	margin-right:5px;
	margin-left:5px;
}
.wrap-menu-kredit{
	margin: 0 10%; 
	width: 80%;
	float:left;
}
.sign-in{
	margin-bottom:20px;
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa9a;
	background-position: 0 0;
	
}
.shop{
	margin-top:20px;
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa9a;
	background-position: -110px 0px;
}
.priview{
	margin-bottom:20px;
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa9a;
	background-position: -220px 0px;
}
.invite{
	margin-top:20px;
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa6a;
	background-position: -330px 0px;
}
.friends-shop{
	margin-bottom:20px;
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa42;
	background-position: -440px 0px;
}
.special-promotion{
	margin-top:20px;
	background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa1e;
	background-position: -550px 0px;
}
#numb-one .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_signup.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_signup.jpg") repeat-x center;
	width:100%;
}
#numb-two .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_shop.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_shop.jpg") repeat-x center;
	width:100%;
}
#numb-three .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_review.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_review.jpg") repeat-x center;
	width:100%;
}
#numb-four .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_invite_friend.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_invite_friend.jpg") repeat-x center;
	width:100%;
}
#numb-five .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_friends_shop.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_friends_shop.jpg") repeat-x center;
	width:100%;
}
#numb-six .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_special_promotion.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_special_promotion.jpg") repeat-x center;
	width:100%;
}
#numb-seven .title-desc-kredit{
	background:url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/bg_syaratdanketentuan.jpg") no-repeat center, url("http://assets.bilna.com/media/wysiwyg/static-page-img/bilna-kredit/dashed_syaratdanketentuan.jpg") repeat-x center;
	width:100%;
}

.title-desc-kredit p{
	margin:0;
	padding:10px 0;
	color:#fff;
	text-align:center;
}
.desc-kredit{
	color:#0fa1aa;
	height:auto; float:left;
	font-size: 13px;
	text-align:left;
	padding:20px;
	margin: 10px 0px 0px 0px; 
	line-height: 15px;
}
#numb-seven li{
	color:#0bc91d;
}
.container-menu-kredit{
	display:table;
	margin:0 auto;
}
@media (max-width: 1215px){

	.wrap-menu-kredit {
		margin: 0 2%;
		width: 96%;
	}
}
@media (max-width: 1023px){ 
	.wrap-menu-kredit{
		width:80%;
		margin:0 10%;
	}
	.menu-tahap-bilna-kredit{
		width:100px;
		height:100px;
		background-size:600px 102px;
		margin-right:20px;
		margin-left:20px;
	}
	.sign-in{
		background: url('http://assets.bilna.com/media/wysiwyg/how-to-buy/button-bc-top.png') #0faa9a;
		background-position: -5px 0;
	}
	.shop{
		margin-top:20px;
		background-position: -100px 0px;
	}
	.priview{
		background-position: -200px 0px;
	}
	.invite{
		margin-bottom:20px;
		margin-top:0px;
		background-position: -300px 0px;
	}
	.friends-shop{
		margin-top:20px;
		background-position: -400px 0px;
	}
	.special-promotion{
		margin-bottom:20px;
		margin-top:0px;
		background-position: -500px 0px;
	}
	
}
@media (max-width: 767px){
	.title-bilna-kredit{
		padding-right:0;
		padding-left:0;
	}
	.wrap-menu-kredit{
		width:100%;
		margin:0;
		
	}
	.menu-tahap-bilna-kredit{
		width:85px;
		margin-right:5px;
		margin-left:5px;
		height:85px;
		background-size:520px 84px;
	}
	.sign-in{
		background-position: 0 0;
	}
	.shop{
		margin-top:20px;
		background-position: -90px 9px;
	}
	.priview{
		background-position: -176px 0;
	}
	.invite{
		margin-top:20px;
		background-position: -260px 0;
	}
	.friends-shop{
		background-position: -348px 0;
	}
	.special-promotion{
		margin-top:20px;
		background-position: -435px 0;
	}
}
/* @media (max-width: 607px){
	.wrap-menu-kredit {
		margin: 0;
		width: 100%;
	}
} */
@media (max-width: 607px){
	.title-bilna-kredit{
		padding:20px 0;	
		font-size:17px;
	}
	.invite, .special-promotion{
		margin-top:0;
	}
	.container-menu-kredit{
		width: 285px;
	}
}

/*-------------end of bilna kredit-----------------*/
