<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Netsuite>
            <version>0.1.0</version>
        </Bilna_Netsuite>
    </modules>
    
    <global>
        <models>
            <netsuite>
                <class>Bilna_Netsuite_Model</class>
            </netsuite>
        </models>
        
        <helpers>
            <netsuite>
                <class>Bilna_Netsuite_Helper</class>
            </netsuite>
        </helpers>
    </global>
</config>
