<?xml version="1.0"?>
<config>
    <tabs>
        <bilna translate="label" module="netsuite">
            <label>Bilna Extensions</label>
            <sort_order>0</sort_order>
        </bilna>
    </tabs>
    
    <sections>
        <bilna_netsuite translate="label" module="netsuite">
            <label>Netsuite</label>
            <tab>bilna</tab>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <netsuite translate="label" module="netsuite">
                    <label>Netsuite Webservice Configuration</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <email translate="label">
                            <label>Email</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>This email id belongs to admin user created in Netsuite.</comment>
                        </email>
                        <password translate="label">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Password for admin user created in Netsuite.</comment>
                        </password>
                        <account translate="label">
                            <label>Account</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Account id from Netsuite.</comment>
                        </account>
                        <role translate="label">
                            <label>Role</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Keep this value to 3.</comment>
                        </role>
                    </fields>
                </netsuite>
            </groups>
        </bilna_netsuite>
    </sections>
</config>
