<config>
    <modules>
        <Bilna_Queue>
            <version>0.2.0</version>
        </Bilna_Queue>
    </modules>
    <global>
        <helpers>
            <bilna_queue>
                <class>Bilna_Queue_Helper</class>
            </bilna_queue>
        </helpers>
        <models>
            <bilna_queue>
                <class>Bilna_Queue_Model</class>
                <resourceModel>bilna_queue_mysql4</resourceModel>
            </bilna_queue>
            <bilna_queue_mysql4>
                <class>Bilna_Queue_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>queue_order</table>
                    </order>
                    <orderlog>
                        <table>queue_order_log</table>
                    </orderlog>
                </entities>
            </bilna_queue_mysql4>
        </models>
        <resources>
            <bilna_queue_setup>
                <setup>
                    <module>Bilna_Queue</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bilna_queue_setup>
        </resources>
    </global>
    <default>
        <bilna_queue>
            <rabbitmq_settings>
                <port>5672</port>
            </rabbitmq_settings>
        </bilna_queue>
    </default>
</config>