<?xml version="1.0"?>
<config>
  <modules>
    <Bilna_Newpage>
      <version>0.1.0</version>
    </Bilna_Newpage>
  </modules>
  <frontend>
    <routers>
      <newpage>
        <use>standard</use>
          <args>
            <module>Bilna_Newpage</module>
            <frontName>newpage</frontName>
          </args>
      </newpage>
    </routers>
		<layout>
		  <updates>
			<newpage>
			  <file>newpage.xml</file>
			</newpage>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <newpage>
        <class>Bilna_Newpage_Helper</class>
      </newpage>
    </helpers>
	<blocks>
	  <newpage>
		<class>Bilna_Newpage_Block</class>
	  </newpage>
	</blocks>
	<models>
	  <newpage>
		<class>Bilna_Newpage_Model</class>
		<resourceModel>newpage_mysql4</resourceModel>
	  </newpage>
	  <newpage_mysql4>
		<class>Bilna_Newpage_Model_Mysql4</class>
		<entities>		  
			  <pagenew>
				<table>page_new</table>
			  </pagenew>
		</entities>
	  </newpage_mysql4>
	</models>
	<resources>
	  <newpage_setup>
		<setup>
		  <module>Bilna_Newpage</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </newpage_setup>
	  <newpage_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </newpage_write>
	  <newpage_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </newpage_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <newpage>
	    <use>admin</use>
		<args>
		  <module>Bilna_Newpage</module>
		  <frontName>newpage</frontName>
		</args>
	  </newpage>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <newpage module="newpage">
		<title>Newpage</title>
		<sort_order>100</sort_order>
		<children>
		  <pagenew module="newpage">
		    <title>Manage Pagenew</title>
			<sort_order>0</sort_order>
			<action>newpage/adminhtml_pagenew</action>
		  </pagenew>
		</children>
	  </newpage>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<newpage translate="title" module="newpage">
			  <title>Newpage</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <pagenew translate="title">
			<title>Manage Pagenew</title>
			<sort_order>0</sort_order>
		  </pagenew>
			  </children>
			</newpage>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<newpage>
		  <file>newpage.xml</file>
		</newpage>
	  </updates>
	</layout>
  </adminhtml>
</config> 