body{
    font-size: 100%;
    font-family: arial;
}
h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
}
p{
    font-size: 1.2em;
}
form input{
    font-size: 1.3em;
    text-indent: 10px;
    border: 1px solid #c9c9c9;
    padding: 7px 0;
}
a{
    cursor: pointer;
}
form label{
    font-size: 1.1em;
    min-width: 160px;
}
.header button{
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 1.3em;
    line-height: 2.5em;
    color: #fff;
    margin: 0 0 0 5px;
    font-weight: bold;
    border: none;
}
button{
    font-size: 1.3em;
    line-height: 2.5em;
    color: #fff;
    margin: 0 0 0 5px;
    font-weight: bold;
    border: none;
}
.badges{
    border-radius: 10px;
    line-height: 1.8em;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: #868686;
}
.sosmed-button{
    cursor: pointer;
    padding: 10px 20px 10px 50px;
    float: left;
    margin: 10px;
}
.sosmed-button p{
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.facebook{
    background: url(../../../img/skin/sosmed-icon.png) no-repeat 12px -2px #3760a0;
}
.twitter{
    background: url(../../../img/skin/sosmed-icon.png) no-repeat 12px -71px #51c6d8;
}
.google-plus{
    background: url(../../../img/skin/sosmed-icon.png) no-repeat 12px -38px #f47b6a;
}


form li{
    margin: 10px 0;
}
.wrap-content{
    min-height: 200px;
    position: relative;
}
.content-right{
    min-height: 200px;
}
.paging{
   background: #fbfbfb;
    margin: 10px 0;
    display: table;
    padding: 0;
    width: 100%;
}
.paging .showing{
    display: table;
    line-height: 2.5em;
    float: left;
    margin: 0;
    color: #a8a8a8;
    text-indent: 10px;
}
.paging .pagination{
    float: right;
    margin: 0;
}
.paging .pagination a{
    border:0;
    color: #a8a8a8;
    background-color:transparent;
}
.button-cart-area{
    display: table;
    margin: 10px 0;
    width: 275px;
}
.button-cart-area label, .button-cart-area input, .button-cart-area button{
    float: left;
}
.button-cart-area label{
    margin: 0;
    padding: 3px 0;
    font-size: 1.2em;
    line-height: 2em !important;
    width: 14%;
 }
.button-cart-area input{
   margin: 0 5px;
    padding: 5px 0;
    width: 11%;
}
.button-cart-area button{
    width: 60%;
    display: inline-block;
}
.list-prod-area{
    padding: 20px 0;
}
.category-page .prod-widget-horizontal{
    display: none;
}
.category-page .prod-widget-vertical{
    display: block;
}

li{
    font-size: 1.1em;
    line-height: 1.6em;
}
li.head-list{
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
}
.footer{
}
.wrap-mbc h4{
    font-family: 'HelveticaNeue-BoldCond';
    border-bottom: 1px solid #55909a;
    text-transform: uppercase;
    margin: 0;
}
.slider-page{
    position: absolute;
    width: 100%;
    padding: 5px 10px;
    display: table;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    
}
.slider-page a {
    line-height: 1.5em;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid;
    margin: 0 5px;
    width: 20px;
    float: left;
    color: #fff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block;
    
}

@media (min-width: 468px ) and (max-width: 767px ) {
    .wrap-middle-content > .row{
        margin-right: 0;
        margin-left: 0;
    }
    .paging .showing{
        display: none;
    }
    
}
@media (max-width: 468px ) {
     .wrap-middle-content > .row{
        margin-right: 0;
        margin-left: 0;
    }
    
    .paging .showing{
        display: none;
    }
}

/*============================= layout style =========================*/
.two-column-left .wrap-content .content-right,
.two-column-right .wrap-content .content-left{
    width: 185px;
    color: #777777;
}
.two-column-left-product .wrap-content .content-right,
.two-column-right-product .wrap-content .content-left{
    width: 320px;
    color: #777777;
}
.two-column-right .wrap-content .content-left{
    left: 0;
    float: left;
}
.two-column-right .wrap-content .content{
    padding: 0;
    top: 0;
    float: left;
    margin-left: 20px;
    width: calc(100% - 205px);
}
.two-column-left .wrap-content .content{
    padding: 0;
    top: 0;
    float: left;
    padding-right: 20px;
    width: calc(100% - 205px);
}
.two-column-left-product .wrap-content .content{
    padding: 0;
    top: 0;
    float: left;
    padding-right: 20px;
    width: calc(100% - 320px);
}
.two-column-left .wrap-content .content-right,
.two-column-left-product .wrap-content .content-right{
    right: 0;    
    float: right;
    padding-left: 10px;
}
@media (min-width: 992px ) and (max-width: 1022px ) {
    .two-column-left-product .wrap-content .content-right{
        width: 100%;
    }
    .two-column-left-product .wrap-content .product-widget-area-right{
        display: none;
    }
    .two-column-left-product .wrap-content .content{
        width: 100%;
    }
    .two-column-left .wrap-content .content-right, .two-column-left-product .wrap-content .content-right{
        padding: 0;
    }
}
@media (min-width: 768px ) and (max-width: 991px ){
     .two-column-left-product .wrap-content .content-right{
        width: 100%;
    }
    .two-column-left-product .wrap-content .product-widget-area-right{
        display: none;
    }
    .two-column-left-product .wrap-content .content{
        width: 100%;
    }
    .two-column-left .wrap-content .content-right, .two-column-left-product .wrap-content .content-right{
        padding: 0;
    }
}
@media (min-width: 468px ) and (max-width: 767px ) {
    .two-column-right .wrap-content .content-left{
        display: none;
    }
     .two-column-left-product .wrap-content .content-right{
        width: 100%;
    }
    .two-column-left-product .wrap-content .product-widget-area-right{
        display: none;
    }
    .two-column-left-product .wrap-content .content{
        width: 100%;
        padding: 0;
    }
    .product-detail .list-prod-area{
        display: none;
    }
    .two-column-left .wrap-content .content-right, .two-column-left-product .wrap-content .content-right{
        padding: 0;
    }
    .two-column-right .wrap-content .content{
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 468px ) {
     .two-column-left-product .wrap-content .content-right{
        width: 100%;
    }
    .two-column-right .wrap-content .content{
        width: 100%;
        margin: 0;
    }
    .two-column-right .wrap-content .content-left{
        display: none;
    }
    .two-column-left-product .wrap-content .product-widget-area-right{
        display: none;
    }
    .two-column-left-product .wrap-content .content{
        width: 100%;
        padding: 0;
    }
    .product-detail .list-prod-area{
        display: none;
    }
    .two-column-left .wrap-content .content-right, .two-column-left-product .wrap-content .content-right{
        padding: 0;
    }
    
}
/*============================= end layout style =========================*/

/*================ widget prod vertical =============*/
.prod-widget-vertical .add-to-chart, .prod-widget-vertical .add-to-wishlist, .prod-widget-vertical .notify-me, .add-to-chart{
        width: 100%;
        display: block;
        border-radius: 0;
        line-height: 2em;
        margin:0;
        text-align: center;
    }
@media (min-width: 768px ) {
    .prod-widget-vertical{
        width: 175px;
        padding: 0 5px;
        position: relative;
        float: left;
        height: 300px;
        margin: 0 9px 20px;
        color:#868686;
    }
    .prod-widget-vertical:hover{
        padding: 0;
        border: 0;
    }
    .prod-widget-vertical:hover .wrap-widget{
        -moz-box-shadow: 1px 0px 10px #d6d6d6;
        -webkit-box-shadow: 1px 0px 10px #d6d6d6;
        box-shadow: 1px 0px 10px #d6d6d6;
        width: 225px;
        position: absolute;
        padding-right: 55px;
        z-index: 11;
        background: #fff;
        height: 300px;
        padding: 0 55px 0 5px;
    }
    .prod-widget-vertical .wrap-widget-button{
        bottom: 0;
        left: 5px;
        position: absolute;
        right: 5px;
    }
    .prod-widget-vertical:hover .wrap-widget-button{
        display: block;
        left: 5px;
        right: 55px;
    }
    .prod-widget-vertical .add-to-chart{
        background: #aaaaaa !important;
    }
    .prod-widget-vertical .add-to-wishlist{
        color:#777777;
        font-size: 1.2em;
    }
    .prod-widget-vertical .prod-name{
        font-size: 1.2em;
        height: 35px;
        overflow: hidden;
        margin: 0;
        position: relative;
        width: 100%;
    }
    .prod-widget-vertical .prod-name:hover{
        overflow: inherit;
    }
    .prod-widget-vertical .prod-name:hover a{
        position: absolute;
        top: 0;
        background: #fff;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .prod-widget-vertical .prod-name:hover {
        position: relative;
    }
    .widget-price .onsale{
    }
    .widget-price .onsale span{
        display: block;
        float: left;
        padding-right: 10px
    }
    .widget-price .onsale .disc-price{
        font-size: 1.1em;
        font-weight: bold;
    }
    .widget-price .price{
        font-size: 1.2em;
        font-weight: bold;
     }
    .widget-price .price-range{
        font-size: 1.2em;
        font-weight: bold;
        margin: 0;
        float: left;
        line-height: 1.3em;
     }
    .widget-price .until{
        float: left;
        font-size: 1.1em;
        padding: 0 3px;
        line-height: 1.4em;
    }
    .widget-price .onsale .normal-price{
        text-decoration: line-through;
        font-size: 1em !important;
    }
    .prod-widget-vertical .notify-me{
        background-color: transparent;
        border: 1px solid #aaaaaa;
        color: #aaaaaa
    }
    .prod-widget-vertical .prod-image{
        position: relative;
    }
    .prod-widget-vertical .prod-image img{
        width: 100%;
    }
    .prod-widget-vertical .prod-image .wrap-badges-widget{
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
    }
    .prod-widget-vertical:hover .prod-image .wrap-badges-widget{
        width: 50px;
        height: 300px;
        right: -55px;
        z-index: 11;
        background: #fff;
        border-left: 1px solid #ddd;
    }
    .prod-widget-vertical .prod-image .badges-widget-product{
        display: block;
        width: 45px;
        height: 45px;
        position: absolute;
    }
    .prod-widget-vertical:hover .prod-image .badges-widget-product{
        position: relative;
        margin: 5px 0;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.badges-bottom-right{
        bottom: 0;
        right: 0;
    }
    .prod-widget-vertical:hover .prod-image .badges-widget-product.badges-bottom-right{
        bottom: auto;
        left: 2px;
        right: auto;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.badges-bottom-left{
        bottom: 0;
        left: 0;
    }
    .prod-widget-vertical:hover .prod-image .badges-widget-product.badges-bottom-left{
        bottom: auto;
        left: 2px;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.badges-top-left{
        top: 0;
        left: 0;
    }
    .prod-widget-vertical:hover .prod-image .badges-widget-product.badges-top-left{
        left: 2px;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.ratting-review{
        top: 0;
        right: 0;
    }
    .prod-widget-vertical:hover .prod-image .badges-widget-product.ratting-review{
        right: 2px;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.ratting-review .ratting{
        background: #9b9b9b;
        padding: 3px 3px 4px 0;
        color: #fff;
        position: relative;
        margin: 5px 0;
        display: table;
    }
    .prod-widget-vertical:hover .prod-image .badges-widget-product.ratting-review .ratting,
    .prod-widget-vertical:hover .prod-image .badges-widget-product.ratting-review .review{
        margin: 5px 0 5px 24px;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.ratting-review .ratting:after{
        content: " ";
        border-width: 11px;
        border-color: transparent #9b9b9b transparent transparent;
        border-style: solid;
        display: block;
        position: absolute;
        left: -22px;
        top: 0;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.ratting-review .review{
        background-color: rgba(255, 255, 255, 0.8);
        display: table;
        color: #868686;
        margin: 0;
        position: relative;
        padding: 3px 20px 4px 0;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.ratting-review .review:before{
        content: " ";
        border-width: 11px;
        border-color: transparent rgba(255, 255, 255, 0.8) transparent transparent;
        border-style: solid;
        display: block;
        position: absolute;
        left: -22px;
        top: 0;
    }
    .prod-widget-vertical .prod-image .badges-widget-product.ratting-review .review:after{
        content: "★";
        display: block;
        position: absolute;
        font-size: 1.2em;
        right: 5px;
        display: table;
        top: 1px;
    }
}
@media (min-width: 468px ) and (max-width: 767px ) {
    .category-page .prod-widget-vertical{
        display: none;
    }
    
}
@media (max-width: 468px ) {
    .list-prod-area .prod-widget-vertical{
        display: none;
    }
}
/*================ end widget prod vertical =============*/


/*================ popup categories =============*/
.config-bundle{
    display: table;
    margin: 0 auto;
    position: static;
}

/*================ end popup categories =============*/


/*================ widget prod horizontal =============*/
.widget-price{
    display: table;
}
.prod-widget-horizontal{
    width: 100%;
    display: table;
    margin: 20px 0;
    position: relative;
}
.prod-widget-horizontal .prod-name, .prod-widget-horizontal .widget-price, .prod-widget-horizontal .wrap-widget-button{
    float: left;
    clear: both;
}
.prod-widget-horizontal .widget-price{
    padding: 10px 0;
}
.prod-widget-horizontal .wrap-widget-button .add-to-wishlist:before{
    background: url("../../img/skin/header-icon.png") no-repeat scroll -358px 0 rgba(0, 0, 0, 0);
    content: "";
    height: 15px;
    left: 1px;
    position: absolute;
    top: 4px;
    width: 10px;
}
.prod-widget-horizontal .wrap-badges-widget .badges-top-left,
.prod-widget-horizontal .wrap-badges-widget .badges-bottom-left{
    display: none;
}
.prod-widget-horizontal .badges-widget-product.ratting-review{
    position: absolute;
    right: 0;
}
.prod-widget-horizontal .badges-widget-product.ratting-review .review{
    background-color: rgba(255, 255, 255, 0.8);
    display: table;
    color: #868686;
    margin: 0;
    position: relative;
    padding: 3px 20px 4px 0;
}
.prod-widget-horizontal .badges-widget-product.ratting-review .review:after{
    content: "★";
    display: block;
    position: absolute;
    font-size: 1.2em;
    right: 5px;
    display: table;
    top: 1px;
}
.prod-widget-horizontal .badges-widget-product.ratting-review .ratting{
    background: #9b9b9b;
    padding: 3px 3px 4px 0;
    color: #fff;
    position: relative;
    margin: 5px 0;
    display: table;
}

.prod-widget-horizontal .badges-widget-product.ratting-review .ratting:after{
    content: " ";
    border-width: 11px;
    border-color: transparent #9b9b9b transparent transparent;
    border-style: solid;
    display: block;
    position: absolute;
    left: -22px;
    top: 0;
}
.prod-widget-horizontal .prod-image{
    position: relative;
    float: left;
    width: 30%;
}
.prod-widget-horizontal .prod-image img{
    width: 100%;
}
.prod-widget-horizontal .prod-name a{
    font-size: 1.2em;
}
.prod-widget-horizontal .badges-bottom-right{
    position: absolute;
    right: 0;
    bottom: 0;
}
.prod-widget-horizontal .wrap-right-area{
    width: 70%;
    display: table;
    float: right;
    padding-left: 10px;
    padding-bottom: 25px;
}
.prod-widget-horizontal .prod-name{
    padding-right: 45px;
    width: 100%;
}
.prod-widget-horizontal .widget-price .onsale .normal-price{
    text-decoration: line-through;
    display: block;
    float: left;
    padding-right: 10px;
}
.prod-widget-horizontal .widget-price .onsale .disc-price,
.prod-widget-horizontal .widget-price .price-range,
.prod-widget-horizontal .widget-price .price
{
    font-size:1.1em;
    font-weight: bold;
}
.prod-widget-horizontal .widget-price .price-range{
    margin: 0;
    float: left;
}
.prod-widget-horizontal .widget-price .price-range, .prod-widget-horizontal .widget-price .until{
    float: left;
}
.prod-widget-horizontal .widget-price .until{
    padding: 1px 10px;
}
.prod-widget-horizontal .wrap-widget-button .add-to-chart, .prod-widget-horizontal .wrap-widget-button .add-to-wishlist, .prod-widget-horizontal .wrap-widget-button .notify-me{
    display: block;
    border-radius: 0;
    line-height: 2em;
    margin:0;
    padding: 0;
    text-align: center;
    float: left;
    width: 50%;
}
.prod-widget-horizontal .wrap-widget-button{
    width: 70%;
    position: absolute;
    bottom: 0;
}
.prod-widget-horizontal .wrap-widget-button .notify-me{
    background: #fff;
    border:1px solid #9B9B9B;
    color: #9B9B9B;
}
.prod-widget-horizontal .wrap-widget-button .add-to-chart{
    background: #9B9B9B;
}
.prod-widget-horizontal .wrap-widget-button .add-to-wishlist{
    line-height: 2.4em;
    position: relative;
}
@media (min-width: 468px ) and (max-width: 767px ) {
    .category-page .prod-widget-horizontal{
        display: table
    }
    
}
@media (max-width: 468px ) {
    .list-prod-area .prod-widget-horizontal{
        display: table
    }
}
/*================ end widget prod horizontal =============*/


/* ======================= popup style ====================*/
.wrap-popup{
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 998;
}
.wrap-popup .box-popup{
    margin: 0 auto;
    display: table;
    background: #fff;
    padding: 10px;
    z-index: 999;
}
.wrap-popup .close-popup{
    position: absolute;
    top: 10px;
    right: 10px;
}
/* ======================= end popup style ====================*/

/*==================== tabs ======================*/
.product-detail #tabs-desc{
}
.ui-widget-content{
    background: none;
    display: table;
    clear: both;
    background: none;
    border: none;
}
.ui-tabs-panel {
    padding: 10px;
    border: 1px solid #ddd;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    border: none;
    font-weight: bold;
    color: #fff;
    display: table;
    float: left;
    padding: 10px;
    background: #55909a;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #fbcb09;
    background: #55909a;
    font-weight: bold;
    color: #fff;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    font-weight: bold;
    color: #1c94c4;
    padding: 5px 10px;
    display: table;
    float: left;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
    color: #1c94c4;
    text-decoration: none;
}
.ui-widget-header{
    background: none;
    border: none;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #fff;
    text-decoration: none;
}
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
    color: #fff;
    text-decoration: none;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0; 
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0; 
}
/*==================== end tabs ======================*/


/*==================== Accordion ======================*/
@media (min-width: 768px ){
    .accordion-desc-mobile{
        display: none;
    }
}
@media (max-width: 768px ){
    .accordion-desc-mobile {
        display: table;
        width: 100%;
        margin: 0 0 10px;
    }
    .accordion-desc-mobile .title_desc{
        padding: 10px;
        display: block;
        width: 100%;
        background: #999;
        color: #fff;
    }
    .accordion-desc-mobile .desc_area{
        padding: 10px;
    }
    .accordion-desc-mobile .wrap_desc_acc{
        border: 1px solid #999;
        display: table;
        margin:3px 0;
        width: 100%;
    }
}
/*==================== Accordion ======================*/


/*==================== more buying choice ======================*/
.wrap-mbc .prod-widget-horizontal:nth-child(1n+5){
    display: none;
}

/*==================== end more buying choice ======================*/


/*==================== comment/opini ======================*/
.wrap-comment .cust-name{
    float: left;
    margin: 0;
    padding-right: 10px;
    border-right: 1px solid;
}
.wrap-comment .star-product ul{
    float: left;
}
.wrap-comment .star-product ul li {
    display: inline-block;
}
.wrap-comment .star-product p {
    float: left;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 0 5px;
}
.wrap-comment .wording-cust .subject-wording{
    font-weight: bold;
    clear: both;
    display: block;
}
.comment td{
    padding: 5px 0;
}
.product-review > p{
    background: #727575;
    color: #fff;
    padding: 5px 10px;
    margin: 0 0 3px;
    font-family: 'HelveticaNeue-BoldCond';
    font-weight: normal;
    font-size: 1.7em;
}
.wrap-comment{
    padding: 10px;
    max-height: 350px;
    overflow-y: auto;
    border: 1px solid #e1e1e1;
}
.wrap-form-comment{
    background: #fafafa;
     padding: 10px;
    border-bottom: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}
.wrap-form-comment h6{
    border-bottom: 1px solid #727575;
    padding: 5px 0;
    font-weight: bold;
}
.wrap-form-comment label{
    font-weight: normal;
    clear: both;
    display: block;
}
.wrap-form-comment input[type=text], .wrap-form-comment textarea{
    width: 100%;
}
.wrap-form-comment textarea{
    min-height: 100px;
}
.wrap-form-comment input[type=checkbox]{
    float: left;
    margin: 0 10px;
}
.wrap-form-comment button[type=submit]{
    width: 100%;
    background: #606060;
    border-radius: 0;
    margin: 20px 0 0;
    text-transform: uppercase;
}
@media (min-width: 992px ) and (max-width: 1022px ) {
    .wrap-comment, .wrap-form-comment{
        width: 50%;
        float:left;
    }
    .wrap-comment{
        max-height:487px;
    }
    .wrap-form-comment{
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        border-left: 0;
        border-right: 1px solid #e1e1e1;
    }
}
@media (min-width: 768px ) and (max-width: 991px ){
    .wrap-comment, .wrap-form-comment{
        width: 50%;
        float:left;
    }
    .wrap-comment{
        max-height:487px;
    }
    .wrap-form-comment{
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        border-left: 0;
        border-right: 1px solid #e1e1e1;
    }
}
/*==================== end comment/opini ======================*/


/*==================== flash message ======================*/
.flash-message{
    width: 100%;
    padding: 8px 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}
.red-flash{
    color:#fff;
    background: #ff7070;
}
.green-flash{
    color:#3e6808;
    background: #9dd851;
}
.yellow-flash{
    color:#94851b;
    background: #edf65d;
}
.flash-message span{
    float: right;
    font-size: 1.1em;
    line-height: 1.1em;
}
@media (max-width: 768px ){
    .flash-message{
        width: 95%;
        margin: 5px auto;
    }
}
/*====================end flash message ============================*/

.very-weak
{
    color:#B20E37;
}

.pass-weak
{
    color:#D32847;
}

.pass-better
{
    color:#ff5f5f;
}

.pass-pass-medium
{
    color:#83D680;
}

.pass-strong
{
    color:#4dcd00;
}

.pass-strongest
{
    color:#399800;
}

.pass-error
{
color: #4F080B;
}