.footer-subscribe p,
.footer-subscribe form{
    margin: 10px 0;
}
.footer-subscribe p:before{
    content: url(../../../img/skin/subscribe-icon.png);
    left: 5px;
    top: -3px;
    width: 10px;
    height: 15px;
    position: absolute;
}
.footer-subscribe p:after{
    content: "►";
    right: -10px;
    top: 0;
    color: #c9c9c9;
    position: absolute;
}
.footer-subscribe p{
    font-size: 1.2em;
    color: #fff;
    padding: 0 0 0 55px;
    line-height: 2.7em;
    background: #c9c9c9;
}
.footer-subscribe form input{
    font-size: 1.3em;
    text-indent: 10px;
    border: 1px solid #c9c9c9;
    padding: 7px 0;
    width: 70%;
}
.footer-subscribe form button{
    font-size: 1.3em;
    background: #868686;
    float: right;
    line-height: 2.5em;
    color: #fff;
    margin: 0 0 0 5px;
    font-weight: bold;
    border: none;
    width: 27%;
}
.footer-subscribe form{
    padding-right: 0;
}

.footer-link .thumbnail{
    float: left;
    margin: 0 5px 5px 0;
    overflow: hidden;
    padding: 0;
}
.footer-link .thumbnail img{
    height: 25px;
}
.footer-link .connect-footer li{
    float: left;
    margin: 0 5px 5px 0;
}
.about-bilna{
    color: #868686;
    font-size: 1.1em;
    padding: 20px 0;
    margin: 20px 0 0 0;
    border-top: 1px solid #868686;
}
@media (max-width: 767px ){
    .payment-footer, .shipping-footer, .connect-footer{
        clear: both;
        display: table;
        margin: 0 0 10px;
    }
}