{
    display: inline-block;
    clear: both;
    width: 100%;
    position: relative;
}
.banner-homepage-area, .link-space-header{
    float: left;
    color: #fff;
}

.banner-homepage-area{
    width: 100%;
    color: #707070;
    background: #fff;
    z-index: 98;
    height: auto;
    min-height: 460px;
}
.button-megamenu{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    text-indent: 20px;
}
.button-megamenu:after{
    width: 20px;
    height: 20px;
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top:0;
    background: url(../../../img/skin/arrow.png) no-repeat -8px -713px;
}
.link-space-header{
    text-indent: 30px;
    padding: 0 0 0 205px;
    width: 100%;
    font-size: 1.2em;
}
.wrap-second-cat > ul > p > a {
    line-height: 1.6em;
}
.link-space-header p:after{
    padding: 20px 0;
    width: 25px;
    height: 25px;
    content: "";
    display: block;
    position: absolute;
    left: 5px;
    top:0;
    background: url(../../../img/skin/arrow.png) no-repeat -5px -373px;
}

 .first-level,  .second-level{
    float: left;
}
 .first-level .second-level{
    position: absolute;
    left: 185px;
    top: 20px;
}
 .first-level{
    width: 185px;
    margin: 20px 20px 0 0;
}
 .first-level > ul{
    border-right: 1px solid #ededed;
}
.wrap-second-cat{
    padding-right: 20px;
    position: absolute;
    float: left;
    z-index: 99;
}
 .first-level >  ul > li{
    line-height: 2.5em;
    font-size: 1.1em;
    text-rendering: geometricPrecision;
    font-weight: bold;
    text-indent: 20px;
}
 li a,  .second-level p a{
    color: #707070;
    text-decoration: none;
}
 .second-level p{
    margin: 0;
}
 .first-level .second-level li{
    font-size: 1em;
}
 .first-level .second-level{
    display: none;
}
 .first-level .default .second-level{
    display: block;
    width: 985px;
    z-index: 9;
}
 .first-level .default,  .first-level > ul > li:hover {
    background:#949494;
    color: #fff;
}
 .first-level .default > a,  .first-level > ul > li:hover > a {
    color: #fff;
}
 .first-level li:hover .second-level{
    display: block;
    width: 985px;
    z-index: 90;
    background: #fff;
}
 .first-level .second-level ul{
    margin-bottom: 10px;
    font-weight: normal;
}
 .first-level .second-level p a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
}
.wrap-banner {
    float: right;
    width: 100%;
    padding: 0 10px 0 0;
    border-left: 1px solid #ededed;
    z-index: 0;
    padding-left: 210px;
}
.wrap-banner .first-banner-megamenu, .wrap-banner .second-banner-megamenu, .wrap-banner .third-banner-megamenu{
    float: left;
    padding: 0 0 0 10px;
}
.wrap-banner img{
    float:left;
    width: 100%;
    padding: 0 0 10px;
}
.wrap-banner .first-banner-megamenu{
    width: 51%;
}
.wrap-banner .second-banner-megamenu{
        width: 25%;
}
.wrap-banner .third-banner-megamenu{
    width: 24%;
}
.wrap-banner .first-banner-megamenu .bottom-left-firstbanner, .wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
    width: 50%;
    float: left;
}
.wrap-banner .first-banner-megamenu .bottom-left-firstbanner{
    padding: 0 5px 0 0;
}
.wrap-banner .first-banner-megamenu .bottom-right-firstbanner{
    padding: 0 0 0 5px;
}
.product-area .homepage-tab ul li:nth-child(1){
    padding-left: 0;
}
.product-area .homepage-tab ul li:nth-child(4){
    padding-right: 0;
}
.product-area .homepage-tab ul li.active-tab{
    position: relative;
}
.product-area .homepage-tab ul li.active-tab a{
    background: #666;
}


.product-area .homepage-tab ul li a{
    background: #ebebeb;
    display: block;
    color:#fff;
    padding: 10px;
}
.homepage-tab .content-tab{
    border: 1px solid #d2d2d2;
    display: inline-block;
    padding: 25px 0 0;
}
.product-area .homepage-tab ul{
    margin: 0;
}
.homepage .title-tabs{
    font-weight: bold;
    font-size: 1.4em;
    line-height: 2em;
    text-transform: uppercase;
    border-bottom: 2px solid;
}
.homepage .list-prod-area{
    padding: 0 10px;
}
.homepage .product-area{
    clear: both;
    display: inline-block;
    padding: 0 0 30px;
}
.homepage .banner-bottom-homepage .banner-large{
    width: 100%;
    min-height: 90px;
    background: #d2d2d2;
}
.homepage .banner-bottom-homepage .banner-small{
    width: calc(50% - 5px);
    min-height: 100px;
    margin-top: 10px;
    float: left;
    background: #d2d2d2;
}
.homepage .banner-bottom-homepage .banner-small:nth-child(2){
    margin-right: 5px;
}
.homepage .banner-bottom-homepage .banner-small:nth-child(3){
    margin-left: 5px;
}
.link-bottom-homepage, .link-bottom-homepage2{
    padding: 10px 0 0;
    color: #fff;
    width: 100%;
    float: left;
    text-transform: uppercase;
}
.link-bottom-homepage a, .link-bottom-homepage2 a{
    color: #fff;
}
.link-bottom-homepage > div:nth-child(2) p, .link-bottom-homepage2 > div:nth-child(1) p{
    float: left;
}
.link-bottom-homepage > div:nth-child(2) p{
    width: 50%;
}
.link-bottom-homepage2 > div:nth-child(1) p{
    width: 60%;
}
.link-bottom-homepage > div:nth-child(3) p{
    width: 70%;
    float: left;
}
.link-bottom-homepage > div > p{
    background: #999;
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding: 15px;
}
.link-bottom-homepage2 > div > p{
    background: #666;
    font-size: 2em;
    line-height: 1em;
    margin: 0;
    padding: 15px;
}
.link-bottom-homepage2 > div:nth-child(2) > p{
    padding: 30px 20px;
    width: 100%;
    display: table;
    text-align: center;
}
.link-bottom-homepage2 > div:nth-child(3) > p{
    padding: 21px 20px;
    width: 100%;
    display: table;
    text-align: center;
}
.link-bottom-homepage > div > p > span, .link-bottom-homepage2 > div > p > span{
    font-size: 0.7em;
    line-height: 0.7em;
}
.link-bottom-homepage2 > div:nth-child(2) > p > span{
    width: 50%;
    display: block;
    position: relative;
    float: left;
}
.link-bottom-homepage2 > div:nth-child(3) > p > span{
    width: 33%;
    position: relative;
    display: block;
    line-height: 1em;
    float: left;
}
.link-bottom-homepage > div:nth-child(2) > div, .link-bottom-homepage2 > div:nth-child(1) > div{
    float: left;
    padding: 20px 15px 12px;
    background: #d9d9d9;
    line-height: 1.5em;
    font-size: 1.3em;
    text-transform: uppercase;
}
.link-bottom-homepage > div:nth-child(2) > div{
    width: 50%;
}
.link-bottom-homepage2 > div:nth-child(1) > div{
    width: 40%;
}
.link-bottom-homepage > div:nth-child(3) > div{
    float: right;
    font-size: 1.3em;
    width: 30%;
    padding: 14px 0 0;
    text-transform: uppercase;
    background: #d9d9d9;
    padding: 20px 15px 12px;
    line-height: 1.5em;
}
.link-bottom-homepage2 > div:nth-child(2) > p > span:nth-of-type(1):after{
    content: "";
    top: -4px;
    right: 0;
    width: 10px;
    height: 15px;
    position: absolute;
    background: url(../../../img/skin/header-icon.png) no-repeat -470px 0;
}
.link-bottom-homepage2 > div:nth-child(3) > p > span:nth-of-type(1):after, .link-bottom-homepage2 > div:nth-child(3) > p > span:nth-of-type(2):after{
    content: "";
    top: 4px;
    right: 0;
    width: 10px;
    height: 15px;
    position: absolute;
    background: url(../../../img/skin/header-icon.png) no-repeat -463px 0;
}
.homepage .testimonial, .homepage .featured_on{
    margin: 20px 0;
}

.product-area .homepage-tab ul li.active-tab:after{
    content: " ";
    border-color: #666 transparent transparent;
    border-style: solid;
    position: absolute;
    bottom: -20px;
}
.product-area .homepage-tab ul li{
    padding: 0 5px;
}
@media (min-width: 1200px ) {
    .homepage .wrap-slider-homepage-mobile {
        display: none;
    }
    .product-area .homepage-tab ul li.active-tab:after{
        border-width: 10px 144px;
    }
    .product-area .homepage-tab ul li a.tabs-mobile{
        display: none;
    }
    .product-area .homepage-tab ul li a.tabs-desktop{
        display: block;
    }
}
@media (min-width: 1023px )and (max-width: 1199px ){
     .product-area .homepage-tab ul li a.tabs-mobile{
        display: none;
    }
    .homepage .wrap-slider-homepage-mobile {
        display: none;
    }
     .first-level li:hover .second-level,  .first-level .default .second-level{
        width: 785px;
    }
    .product-area .homepage-tab ul li.active-tab:after{
        border-width: 10px 188px;
    }
    .wrap-banner .first-banner-megamenu{
        width: 67%;
    }
    .wrap-banner .second-banner-megamenu{
            width: 33%;
    }
    .wrap-banner .third-banner-megamenu{
        display: none;
    }
    .product-area .homepage-tab ul li a.tabs-desktop{
        display: block;
    }
}
@media (min-width: 1023px ) and (max-width: 1200px ) {
    .product-area .homepage-tab ul li.active-tab:after {
        border-width: 10px 119px;
    }
    .homepage .wrap-slider-homepage-mobile {
        display: none;
    }
}
@media (min-width: 992px )and (max-width: 1022px ){
     .product-area .homepage-tab ul li a.tabs-mobile{
        display: none;
    }
     .first-level li:hover .second-level,  .first-level .default .second-level{
        width: 785px;
    }
    .product-area .homepage-tab ul li.active-tab:after{
        border-width: 10px 116px;
    }
    .wrap-banner .first-banner-megamenu{
        width: 67%;
    }
    .wrap-banner .second-banner-megamenu{
        width: 33%;
    }
    .wrap-banner .third-banner-megamenu{
        display: none;
    }
    .product-area .homepage-tab ul li a.tabs-desktop{
        display: block;
    }
    .homepage .wrap-slider-homepage-mobile {
        display: none;
    }
}
@media (min-width: 768px )and (max-width: 991px ){
     .product-area .homepage-tab ul li a.tabs-mobile{
        display: none;
    }
    .product-area .homepage-tab ul li a.tabs-desktop{
        display: block;
    }
    .prod-widget-horizontal .prod-name a {
        font-size: 1.1em;
    }
    .homepage .wrap-slider-homepage-mobile {
        display: none;
    }
    .wrap-banner .first-banner-megamenu{
        width: 100%;
    }
    .product-area .homepage-tab ul li.active-tab:after{
        border-width: 10px 91px;
    }
    .wrap-banner .second-banner-megamenu{
        display: none;
    }
     .wrap-banner .third-banner-megamenu{
        display: none;
    }
     .first-level li:hover .second-level,  .first-level .default .second-level{
        width: 560px;
        height: 395px;
    }
}
@media (min-width: 768px ){
    .homepage-tab .content-tab .select-featured-mobile{
        display: none;
    }
}
@media (max-width: 767px ) {
    .product-area .homepage-tab{
        padding: 0 10px;
        position: relative;
    }
    .homepage-tab .content-tab > label{
        display: block;
        position: absolute;
        right: 20px;
        width: 30px;
        z-index: 30;   
    }
    .product-area .homepage-tab ul li a.tabs-mobile{
        display: block;
         text-align: center;
    }
    .homepage-tab .content-tab .select-featured-mobile{
        display: block;
        position: absolute;
        right: 20px;
        width: 30px;
        z-index: 30;
        border: 0;
    }
    .product-area .homepage-tab ul li.active-tab:after{
        content: none;
    }
    .product-area .homepage-tab ul li a.tabs-desktop{
        display: none;
    }
    .banner-homepage-area, .banner-bottom-homepage, .link-bottom-homepage, .link-bottom-homepage2, .testimonial, .featured_on{
        display: none;
    }
    .wrap-slider-homepage-mobile{
        padding: 10px;
    }
    .wrap-slider-homepage-mobile .bx-pager-link{
        background: #999;
        text-indent: -9999px;
        display: block;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        outline: 0;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        
    }
    .wrap-slider-homepage-mobile .bx-pager-link.active{
        background: #666
    }
    .wrap-slider-homepage-mobile .bx-pager-item{
        display: inline-block;
    }
    .wrap-slider-homepage-mobile .bx-default-pager{
        padding: 15px; 0;
        text-align: center;
    }
    .wrap-slider-homepage-mobile ul li > img{
        width: 100%;
    }
}