<?xml version="1.0"?>
<config>
    <tabs>
        <bilna translate="label" module="bilna_ccp">
            <label>Bilna Extensions</label>
        </bilna>
    </tabs>
    <sections>
        <bilna_ccp translate="label" module="bilna_ccp">
            <label>Catalog Category Product (CCP)</label>
            <tab>bilna</tab>
            <frontend_type>text</frontend_type>
            <sort_order>5000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <ccp translate="label" module="bilna_ccp">
                    <label>Filter Query to Export</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                         <order_status translate="label">
                            <label>Order Status in</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ccp/resource_ccpmodel</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>default: All options are selected</comment>
                        </order_status>
                         <product_bundle translate="label">
                            <label>Include Product Bundle?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>default: Choose NO</comment>
                        </product_bundle>
                         <max_days translate="label">
                            <label>Maximum Days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>default: 90 days</comment>
                        </max_days>
                         <percentage_itemsold translate="label">
                            <label>Allocation Percentage Item Sold</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>default: 60%</comment>
                        </percentage_itemsold>
                         <percentage_inventory translate="label">
                            <label>Allocation Percentage Inventory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>default: 30%</comment>
                        </percentage_inventory>
                        <!-- <percentage_position translate="label">
                            <label>Allocation Percentage Position</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>default: 10%</comment>
                        </percentage_position> -->
                    </fields>
                </ccp>
                <!--export translate="label">
                    <label>Run CCP</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <export translate="label">
                            <label>Run Saved Configuration</label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>adminhtml/system_config_system_storage_media_synchronize</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Run Saved Configuration</comment>
                        </export>
                    </fields>
                </export-->
                
            </groups>
        </bilna_ccp>
    </sections>
</config>