<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Netsuitsync>
            <version>0.1.0</version>
        </Bilna_Netsuitsync>
    </modules>
    
    <global>
        <models>
            <netsuitesync>
                <class>Bilna_Netsuitesync_Model</class>
            </netsuitesync>
        </models>
        
        <helpers>
            <netsuitesync>
                <class>Bilna_Netsuitesync_Helper</class>
            </netsuitesync>
        </helpers>
    </global>
</config>
