<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Paymentconfirmation>
            <version>0.1.0</version>
        </Bilna_Paymentconfirmation>
    </modules>
  
    <frontend>
        
        <routers>
            <paymentconfirm>
                <use>standard</use>
                <args>
                    <module>Bilna_Paymentconfirmation</module>
                    <frontName>konfirmasipembayaran</frontName>
                </args>
            </paymentconfirm>
        </routers>
        
        <layout>
            <updates>
                <Bilna_Paymentconfirmation>
                    <file>bilna_paymentconfirmation.xml</file>
                </Bilna_Paymentconfirmation>
            </updates>
        </layout>
    </frontend>
    
    
        
    <global>
        <models>
            <Paymentconfirmation>
                <class>Bilna_Paymentconfirmation_Model</class>
                <resourceModel>Paymentconfirmation_mysql4</resourceModel>
            </Paymentconfirmation>
        </models>
        
        <helpers>
            <paymentconfirm>
                <class>Bilna_Paymentconfirmation_Helper</class>
            </paymentconfirm>
        </helpers>
	
        <blocks>
            <paymentconfirm>
                <class>Bilna_Paymentconfirmation_Block</class>
            </paymentconfirm>
        </blocks>
        <resources>
            <paymentconfirmation_setup>
                <setup>
                    <module>Bilna_Paymentconfirmation</module>
                    <!--<class>Bilna_Paymentconfirmation_Model_Resource_Setup</class>-->
                </setup>
            </paymentconfirmation_setup>
        </resources>
    </global>
    <!--
    <admin>
        <routers>
            <paymentconfirm>
                <use>admin</use>
                <args>
                    <module>Bilna_Paymentconfirmation</module>
                    <frontName>paymentconfirm_report</frontName>
                </args>
            </paymentconfirm>
        </routers>
        <layout>
            <updates>
                <paymentconfirm>
                    <file>paymentconfirmreport.xml</file>
                </paymentconfirm>
            </updates>
        </layout>
    </admin>
    
    <adminhtml>
        <menu>
            <bilna>
                <title>Bilna</title>
                <sort_order>100</sort_order>
                <children>
                    <paymentconfirm module="paymentconfirm">
                        <title>Payment Confirmation Report</title>
                        <sort_order>100</sort_order>
                        <children>
                            <paymentconfirmreports>
                                <title>Payment Confirmation Report</title>
                                <sort_order>0</sort_order>
                                <action>paymentconfirm/adminhtml_index</action>
                            </paymentconfirmreports>
                        </children>
                    </paymentconfirm>
                </children>
            </bilna>
        </menu>
        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                
                <admin>
                    <children>
                        <bilna translate="title">
                            <title>Bilna</title>
                            <sort_order>100</sort_order>
                            <children>
                                <paymentconfirm translate="title" module="paymentconfirm">
                                    <title>Payment Confirmation Report</title>
                                    <sort_order>100</sort_order>
                                    <children>
                                        <paymentconfirmreports translate="title">
                                            <title>Payment Confirmation Report</title>
                                            <sort_order>0</sort_order>
                                        </paymentconfirmreports>
                                    </children>
                                </paymentconfirm>
                            </children>
                        </bilna>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <paymentconfirm>
                    <file>paymentconfirmreport.xml</file>
                </paymentconfirm>
            </updates>
        </layout>
    </adminhtml>
    -->
</config>

