<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Crossborder>
            <version>0.1.0</version>
        </Bilna_Crossborder>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Bilna_Crossborder before="Mage_Checkout">Bilna_Crossborder</Bilna_Crossborder>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <global>
        <resources>
            <crossborder_setup>
                <setup>
                    <module>Bilna_Crossborder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crossborder_setup>
            <crossborder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crossborder_write>
            <crossborder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crossborder_read>
        </resources>
        <events>
            <sales_quote_add_item>
                <observers>
                    <crossborder_quote_add_item>
                        <type>singleton</type>
                        <class>Bilna_Crossborder_Model_Observer</class>
                        <method>crossborderQuoteAddItem</method>
                    </crossborder_quote_add_item>
                </observers>
            </sales_quote_add_item>
        </events>
        <helpers>
            <bilna_crossborder>
                <class>Bilna_Crossborder_Helper</class>
            </bilna_crossborder>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                        <children>
                                            <bilna_crossborder>
                                                <title>Bilna - All</title>
                                            </bilna_crossborder>
                                        </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
