<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Customreports>
            <version>0.1.0</version>
        </Bilna_Customreports>
    </modules>
    
    <global>
        <helpers>
            <customreports>
                <class>Bilna_Customreports_Helper</class>
            </customreports>
        </helpers>
            
        <blocks>
            <customreports>
                <class>Bilna_Customreports_Block</class>
            </customreports>
        </blocks>
		
        <models>
            <customreports>
                <class>Bilna_Customreports_Model</class>
                <resourceModel>customreports_mysql4</resourceModel>
            </customreports>
            
            <customreports_mysql4>
                <class>Bilna_Customreports_Model_Mysql4</class>
                <entities>
                    <salesreport>
                        <table>bilnaview_sales_report</table>
                    </salesreport>
                </entities>
            </customreports_mysql4>
        </models>
        
        <resources>
            <customreports_setup>
                <setup>
                    <module>Bilna_Customreports</module>
                </setup>
                    
                <connection>
                    <use>core_setup</use>
                </connection>
            </customreports_setup>
            
            <customreports_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customreports_write>
            
            <customreports_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customreports_read>
        </resources>
    </global>
    
    <admin>
        <routers>
            <customreports>
                <use>admin</use>
                <args>
                    <module>Bilna_Customreports</module>
                    <frontName>customreports</frontName>
                </args>
            </customreports>
        </routers>
    </admin>
    
    <adminhtml>
        <menu>
            <bilna>
                <title>Bilna</title>
                <sort_order>100</sort_order>
                <children>
                    <customreports module="customreports">
                        <title>Custom Report</title>
                        <sort_order>100</sort_order>
                        <children>
                            <customsalesreports>
                                <title>Sales Report</title>
                                <sort_order>2</sort_order>
                                <action>customreports/adminhtml_salesreport</action>
                            </customsalesreports>

                            <customcouponsreports>
                                <title>Coupons Report</title>
                                <sort_order>0</sort_order>
                                <action>customreports/adminhtml_couponsreport</action>
                            </customcouponsreports>

                            <custominstallmentreport>
                                <title>Credit Card Report</title>
                                <sort_order>1</sort_order>
                                <action>customreports/adminhtml_installmentreport</action>
                            </custominstallmentreport>
                        </children>
                    </customreports>
                </children>
            </bilna>
        </menu>
        
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                
                <admin>
                    <children>
                        <bilna translate="title">
                            <title>Bilna</title>
                            <sort_order>100</sort_order>
                            <children>
                                <customreports translate="title" module="customreports">
                                    <title>Custom Report</title>
                                    <sort_order>100</sort_order>
                                    <children>
                                        <customsalesreports translate="title">
                                            <title>Sales Report</title>
                                            <sort_order>0</sort_order>
                                        </customsalesreports>
                                        
                                        <customcouponsreports translate="title">
                                            <title>Coupons Report</title>
                                            <sort_order>0</sort_order>
                                        </customcouponsreports>
                                    </children>
                                </customreports>
                            </children>
                        </bilna>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <layout>
            <updates>
                <customreports>
                    <file>customreports.xml</file>
                </customreports>
            </updates>
        </layout>
    </adminhtml>
</config>
