<?xml version="1.0"?>
<config>
	<modules>
		<Bilna_Customreports>
			<version>0.1.1</version>
		</Bilna_Customreports>
	</modules>
	<frontend>
        <routers>
            <customreports>
                <use>standard</use>
                <args>
                    <module>Bilna_Customreports</module>
                    <frontName>customreports</frontName>
                </args>
            </customreports>
        </routers>
        
        <layout>
            <updates>
                <customreports>
                    <file>anzcc.xml</file>
                </customreports>
            </updates>
        </layout>
    </frontend>
	<global>
		<helpers>
			<customreports>
				<class>Bilna_Customreports_Helper</class>
			</customreports>
		</helpers>
		<blocks>
			<customreports>
				<class>Bilna_Customreports_Block</class>
			</customreports>
			<catalog>
                <rewrite>
                    <renderer>Bilna_Customreports_Block_Checkout_Cart_Item_Renderer</renderer>
                </rewrite>
            </catalog>
		</blocks>
		<models>
			<customreports>
				<class>Bilna_Customreports_Model</class>
				<resourceModel>customreports_mysql4</resourceModel>
			</customreports>
			<customreports_mysql4>
				<class>Bilna_Customreports_Model_Mysql4</class>
				<entities>		  
					<salesreport>
						<table>bilnaview_sales_report</table>
					</salesreport>
					<bincode>
                        <table>bin_code</table>
                    </bincode>
				</entities>
			</customreports_mysql4>
		</models>
		<resources>
			<customreports_setup>
				<setup>
					<module>Bilna_Customreports</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customreports_setup>
			<customreports_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customreports_write>
			<customreports_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customreports_read>
		</resources>
		<fieldsets>
             <sales_convert_quote_payment>
                 <cc_bins>
                     <to_order_payment>*</to_order_payment>
                 </cc_bins>
             </sales_convert_quote_payment>
        </fieldsets>
	</global>
	<default>
        <payment>
            <customreports>
                <active>1</active>
                <!--model>anzcc/anzcc</model-->
				<model>customreports/customreports</model>
                <order_status>pending</order_status>
                <title>Credit Card (ANZ)</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </customreports>
        </payment>
    </default>
	<admin>
		<routers>
			<customreports>
				<use>admin</use>
				<args>
					<module>Bilna_Customreports</module>
					<frontName>customreports</frontName>
				</args>
			</customreports>
		</routers>
	</admin>
	<adminhtml>				
		<layout>
			<updates>
				<customreports>
					<file>customreports.xml</file>
				</customreports>
			</updates>
		</layout>
	</adminhtml>
</config> 