<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Highlightproduct>
            <version>0.1.1</version>
        </Bilna_Highlightproduct>
    </modules>
    
    <frontend>
        <routers>
            <highlightproduct>
                <use>standard</use>
                <args>
                    <module>Bilna_Highlightproduct</module>
                    <frontName>highlightproduct</frontName>
                </args>
            </highlightproduct>
        </routers>
    </frontend>
    
    <global>
        <helpers>
            <highlightproduct>
                <class>Bilna_Highlightproduct_Helper</class>
            </highlightproduct>
        </helpers>
    </global>
</config>