<?xml version="1.0"?>
<config>
    <modules>
        <Icube_CategoryGenerator>
            <version>0.2.0</version>
        </Icube_CategoryGenerator>
    </modules>
    <global>
    	<helpers>
            <categorygenerator>
                <class>Icube_CategoryGenerator_Helper</class>
            </categorygenerator>
        </helpers>
        <blocks>
            <categorygenerator>
                <class>Icube_CategoryGenerator_Block</class>
            </categorygenerator>
        </blocks>
        <models>
            <categorygenerator>
                <class>Icube_CategoryGenerator_Model</class>
                <resourceModel>categorygenerator_mysql4</resourceModel>
            </categorygenerator>
            <categorygenerator_mysql4>
                <class>Icube_CategoryGenerator_Model_Mysql4</class>
                <entities>
                    <generator>
                        <table>icube_category_generator</table>
                    </generator>
                </entities>
            </categorygenerator_mysql4>
        </models>
        <resources>
            <icube_categorygenerator_setup>
                <setup>
                    <module>Icube_CategoryGenerator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </icube_categorygenerator_setup>
            <categorygenerator_write>
                <connection>
                    <use>core_write</use>
                </connection>
        	</categorygenerator_write>
            <categorygenerator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categorygenerator_read>
        </resources>
    </global>
    <admin>
    	<routers>
            <categorygenerator_admin>
                <use>admin</use>
                <args>
                    <module>Icube_CategoryGenerator</module>
                    <frontName>categorygenerator_admin</frontName>
                </args>
            </categorygenerator_admin>
    	</routers>
    </admin>
    <adminhtml>
    	<layout>
            <updates>
                <categorygenerator>
                    <file>categorygenerator.xml</file>
                </categorygenerator>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <categorygenerator>
                                            <title>Icube - Category Generator</title>
                                        </categorygenerator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>