<config>
    <modules>
        <RocketWeb_Netsuite>
            <version>2.0.6</version>
        </RocketWeb_Netsuite>
    </modules>
    <global>
        <blocks>
            <rocketweb_netsuite>
                <class>RocketWeb_Netsuite_Block</class>
            </rocketweb_netsuite>
            <adminhtml>
                <rewrite>
                    <tax_rate_grid>RocketWeb_Netsuite_Block_Rewrite_Adminhtml_Tax_Rate_Grid</tax_rate_grid>
                    <tax_rate_form>RocketWeb_Netsuite_Block_Rewrite_Adminhtml_Tax_Rate_Form</tax_rate_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <rocketweb_netsuite>
                <class>RocketWeb_Netsuite_Model</class>
                <resourceModel>rocketweb_netsuite_resource</resourceModel>
            </rocketweb_netsuite>
            <rocketweb_netsuite_resource>
                <class>RocketWeb_Netsuite_Model_Resource</class>
                <entities>
                    <queue_message>
                        <table>message</table>
                    </queue_message>
                    <apilogitem>
                        <table>netsuite_api_log</table>
                    </apilogitem>
                    <adjustmentinventory>
                        <table>netsuite_adjustment_inventory</table>
                    </adjustmentinventory>
                    <changelog>
                        <table>netsuite_changelog</table>
                    </changelog>
                    <productcost>
                        <table>netsuite_product_cost</table>
                    </productcost>
                    <itembundle>
                        <table>netsuite_shipment_bundle</table>
                    </itembundle>
                </entities>
            </rocketweb_netsuite_resource>
            <tax>
                <rewrite>
                    <calculation>RocketWeb_Netsuite_Model_Rewrite_Tax_Calculation</calculation>
                </rewrite>
            </tax>
            <tax_resource>
                <rewrite>
                    <calculation>RocketWeb_Netsuite_Model_Rewrite_Tax_Resource_Calculation</calculation>
                </rewrite>
            </tax_resource>
        </models>
    	<helpers>
    		<rocketweb_netsuite>
    			<class>RocketWeb_Netsuite_Helper</class>
    		</rocketweb_netsuite>
    	</helpers>
    	<resources>
    		<rocketweb_netsuite_setup>
    			<setup>
    				<module>RocketWeb_Netsuite</module>
    			</setup>
    			<connection>
                    <use>core_setup</use>
                </connection>
    		</rocketweb_netsuite_setup>
    	</resources>
    	<events>
            <customer_save_after>
                <observers>
                    <queue_customer_for_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueCustomerForNetsuite</method>
                    </queue_customer_for_netsuite>
                </observers>
            </customer_save_after>
            <customer_address_save_after>
                <observers>
                    <queue_customer_for_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueCustomerForNetsuiteBasedOnAddress</method>
                    </queue_customer_for_netsuite>
                </observers>
            </customer_address_save_after>
            <customer_delete_after>
                <observers>
                    <queue_customer_delete_for_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueCustomerDelete</method>
                    </queue_customer_delete_for_netsuite>
                    <delete_customer_from_netsuite_export_queue>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>deleteCustomerFromExportQueue</method>
                    </delete_customer_from_netsuite_export_queue>
                </observers>
            </customer_delete_after>
            <log_log_clean_after>
                <observers>
                    <clean_api_log>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>cleanApiLog</method>
                    </clean_api_log>
                </observers>
            </log_log_clean_after>
            <sales_order_place_after>
                <observers>
                    <queue_order_place_for_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueOrderPlaceForNetsuite</method>
                    </queue_order_place_for_netsuite>
                </observers>
            </sales_order_place_after>
            <catalog_product_save_after>
                <observers>
                    <queue_product_save_for_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueProductSaveForNetsuite</method>
                    </queue_product_save_for_netsuite>
                    <queue_product_save_cost_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueProductSaveCostNetsuite</method>
                    </queue_product_save_cost_netsuite>
                </observers>
            </catalog_product_save_after>
            <sales_order_invoice_save_after>
                <observers>
                    <queue_invoice_save_for_netsuite>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/observer</class>
                        <method>queueInvoiceSaveForNetsuite</method>
                    </queue_invoice_save_for_netsuite>
                </observers>
            </sales_order_invoice_save_after>
    	</events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
    					<RocketWeb_Netsuite before="Mage_Adminhtml">RocketWeb_Netsuite_Adminhtml</RocketWeb_Netsuite>
    				</modules>
    			</args>
    		</adminhtml>
    	</routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <rocketweb_netsuite>
                    <file>rocketweb_netsuite.xml</file>
                </rocketweb_netsuite>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <add_view_in_netsuite_buttons>
                        <type>singleton</type>
                        <class>rocketweb_netsuite/adminhtml_observer</class>
                        <method>addViewInNetsuiteButtons</method>
                    </add_view_in_netsuite_buttons>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <crontab>
    	<jobs>
    		<rocketweb_netsuite_send_warnings>
    			<schedule>
    				<cron_expr>1 1 * * *</cron_expr>
    			</schedule>
    			<run>
    				<model>rocketweb_netsuite/observer::sendWarnings</model>
    			</run>
    		</rocketweb_netsuite_send_warnings>
            <rocketweb_netsuite_clean_api_call_log>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>rocketweb_netsuite/observer::cleanApiCallLog</model>
                </run>
            </rocketweb_netsuite_clean_api_call_log>
            <rocketweb_netsuite_clean_changelog>
                <schedule>
                    <cron_expr>30 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>rocketweb_netsuite/observer::cleanChangelog</model>
                </run>
            </rocketweb_netsuite_clean_changelog>
    	</jobs>
    </crontab>
    <rocketweb_netsuite>
        <netsuite_links>
            <order_view>
                <block_class>Mage_Adminhtml_Block_Sales_Order_View</block_class>
                <magento_object_registry_variable>current_order</magento_object_registry_variable>
                <netsuite_field_id>netsuite_internal_id</netsuite_field_id>
                <netsuite_relative_url><![CDATA[app/accounting/transactions/salesord.nl?id={{ID}}&whence=]]></netsuite_relative_url>
            </order_view>
            <invoice_view>
                <block_class>Mage_Adminhtml_Block_Sales_Order_Invoice_View</block_class>
                <magento_object_registry_variable>current_invoice</magento_object_registry_variable>
                <netsuite_field_id>netsuite_internal_id</netsuite_field_id>
                <netsuite_relative_url><![CDATA[app/accounting/transactions/{{object}}.nl?id={{ID}}&whence=]]></netsuite_relative_url>
            </invoice_view>
            <shipment_view>
                <block_class>Mage_Adminhtml_Block_Sales_Order_Shipment_View</block_class>
                <magento_object_registry_variable>current_shipment</magento_object_registry_variable>
                <netsuite_field_id>netsuite_internal_id</netsuite_field_id>
                <netsuite_relative_url><![CDATA[app/accounting/transactions/itemship.nl?id={{ID}}&whence=]]></netsuite_relative_url>
            </shipment_view>
            <creditmemo_view>
                <block_class>Mage_Adminhtml_Block_Sales_Order_Creditmemo_View</block_class>
                <magento_object_registry_variable>current_creditmemo</magento_object_registry_variable>
                <netsuite_field_id>netsuite_internal_id</netsuite_field_id>
                <netsuite_relative_url><![CDATA[app/accounting/transactions/custcred.nl?id={{ID}}]]></netsuite_relative_url>
            </creditmemo_view>
        </netsuite_links>
        <import_entities>
            <order>Sales Order</order> <!-- Keep orders first. New fulfillments & cash sales will trigger order save operations.-->
            <order_fulfillment>Order Fulfillment</order_fulfillment>
            <!-- <cashsale>Cash Sale</cashsale> -->
            <invoice>Invoice</invoice>
            <inventoryitem>Inventory Item</inventoryitem>
            <creditmemo>Credit Memo</creditmemo>
        </import_entities>
        <mappings>
            <country_codes>
                <AF>_afghanistan</AF>
                <AX>_alandIslands</AX>
                <AL>_albania</AL>
                <DZ>_algeria</DZ>
                <AS>_americanSamoa</AS>
                <AD>_andorra</AD>
                <AO>_angola</AO>
                <AI>_anguilla</AI>
                <AQ>_antarctica</AQ>
                <AG>_antiguaAndBarbuda</AG>
                <AR>_argentina</AR>
                <AM>_armenia</AM>
                <AW>_aruba</AW>
                <AU>_australia</AU>
                <AT>_austria</AT>
                <AZ>_azerbaijan</AZ>
                <BS>_bahamas</BS>
                <BH>_bahrain</BH>
                <BD>_bangladesh</BD>
                <BB>_barbados</BB>
                <BY>_belarus</BY>
                <BE>_belgium</BE>
                <BZ>_belize</BZ>
                <BJ>_benin</BJ>
                <BM>_bermuda</BM>
                <BT>_bhutan</BT>
                <BO>_bolivia</BO>
                <BA>_bosniaAndHerzegovina</BA>
                <BW>_botswana</BW>
                <BV>_bouvetIsland</BV>
                <BR>_brazil</BR>
                <IO>_britishIndianOceanTerritory</IO>
                <BN>_bruneiDarussalam</BN>
                <BG>_bulgaria</BG>
                <BF>_burkinaFaso</BF>
                <BI>_burundi</BI>
                <KH>_cambodia</KH>
                <CM>_cameroon</CM>
                <CA>_canada</CA>
                <IC>_canaryIslands</IC>
                <CV>_capeVerde</CV>
                <KY>_caymanIslands</KY>
                <CF>_centralAfricanRepublic</CF>
                <EA>_ceutaAndMelilla</EA>
                <TD>_chad</TD>
                <CL>_chile</CL>
                <CN>_china</CN>
                <CX>_christmasIsland</CX>
                <CC>_cocosKeelingIslands</CC>
                <CO>_colombia</CO>
                <KM>_comoros</KM>
                <CD>_congoDemocraticPeoplesRepublic</CD>
                <CG>_congoRepublicOf</CG>
                <CK>_cookIslands</CK>
                <CR>_costaRica</CR>
                <CI>_coteDIvoire</CI>
                <HR>_croatiaHrvatska</HR>
                <CU>_cuba</CU>
                <CY>_cyprus</CY>
                <CZ>_czechRepublic</CZ>
                <DK>_denmark</DK>
                <DJ>_djibouti</DJ>
                <DM>_dominica</DM>
                <DO>_dominicanRepublic</DO>
                <TP>_eastTimor</TP>
                <EC>_ecuador</EC>
                <EG>_egypt</EG>
                <SV>_elSalvador</SV>
                <GQ>_equatorialGuinea</GQ>
                <ER>_eritrea</ER>
                <EE>_estonia</EE>
                <ET>_ethiopia</ET>
                <FK>_falklandIslands</FK>
                <FO>_faroeIslands</FO>
                <FJ>_fiji</FJ>
                <FI>_finland</FI>
                <FR>_france</FR>
                <GF>_frenchGuiana</GF>
                <PF>_frenchPolynesia</PF>
                <TF>_frenchSouthernTerritories</TF>
                <GA>_gabon</GA>
                <GM>_gambia</GM>
                <GE>_georgia</GE>
                <DE>_germany</DE>
                <GH>_ghana</GH>
                <GI>_gibraltar</GI>
                <GR>_greece</GR>
                <GL>_greenland</GL>
                <GD>_grenada</GD>
                <GP>_guadeloupe</GP>
                <GU>_guam</GU>
                <GT>_guatemala</GT>
                <GG>_guernsey</GG>
                <GN>_guinea</GN>
                <GW>_guineaBissau</GW>
                <GY>_guyana</GY>
                <HT>_haiti</HT>
                <HM>_heardAndMcDonaldIslands</HM>
                <VA>_holySeeCityVaticanState</VA>
                <HN>_honduras</HN>
                <HK>_hongKong</HK>
                <HU>_hungary</HU>
                <IS>_iceland</IS>
                <IN>_india</IN>
                <ID>_indonesia</ID>
                <IR>_iranIslamicRepublicOf</IR>
                <IQ>_iraq</IQ>
                <IE>_ireland</IE>
                <IM>_isleOfMan</IM>
                <IL>_israel</IL>
                <IT>_italy</IT>
                <JM>_jamaica</JM>
                <JP>_japan</JP>
                <JE>_jersey</JE>
                <JO>_jordan</JO>
                <KZ>_kazakhstan</KZ>
                <KE>_kenya</KE>
                <KI>_kiribati</KI>
                <KP>_koreaDemocraticPeoplesRepublic</KP>
                <KR>_koreaRepublicOf</KR>
                <XK>_kosovo</XK>
                <KW>_kuwait</KW>
                <KG>_kyrgyzstan</KG>
                <LA>_laoPeoplesDemocraticRepublic</LA>
                <LV>_latvia</LV>
                <LB>_lebanon</LB>
                <LS>_lesotho</LS>
                <LR>_liberia</LR>
                <LY>_libyanArabJamahiriya</LY>
                <LI>_liechtenstein</LI>
                <LT>_lithuania</LT>
                <LU>_luxembourg</LU>
                <MO>_macau</MO>
                <MK>_macedonia</MK>
                <MG>_madagascar</MG>
                <MW>_malawi</MW>
                <MY>_malaysia</MY>
                <MV>_maldives</MV>
                <ML>_mali</ML>
                <MT>_malta</MT>
                <MH>_marshallIslands</MH>
                <MQ>_martinique</MQ>
                <MR>_mauritania</MR>
                <MU>_mauritius</MU>
                <YT>_mayotte</YT>
                <MX>_mexico</MX>
                <FM>_micronesiaFederalStateOf</FM>
                <MD>_moldovaRepublicOf</MD>
                <MC>_monaco</MC>
                <MN>_mongolia</MN>
                <ME>_montenegro</ME>
                <MS>_montserrat</MS>
                <MA>_morocco</MA>
                <MZ>_mozambique</MZ>
                <MM>_myanmar</MM>
                <NA>_namibia</NA>
                <NR>_nauru</NR>
                <NP>_nepal</NP>
                <NL>_netherlands</NL>
                <AN>_netherlandsAntilles</AN>
                <NC>_newCaledonia</NC>
                <NZ>_newZealand</NZ>
                <NI>_nicaragua</NI>
                <NE>_niger</NE>
                <NG>_nigeria</NG>
                <NU>_niue</NU>
                <NF>_norfolkIsland</NF>
                <MP>_northernMarianaIslands</MP>
                <NO>_norway</NO>
                <OM>_oman</OM>
                <PK>_pakistan</PK>
                <PW>_palau</PW>
                <PS>_palestinianTerritories</PS>
                <PA>_panama</PA>
                <PG>_papuaNewGuinea</PG>
                <PY>_paraguay</PY>
                <PE>_peru</PE>
                <PH>_philippines</PH>
                <PN>_pitcairnIsland</PN>
                <PL>_poland</PL>
                <PT>_portugal</PT>
                <PR>_puertoRico</PR>
                <QA>_qatar</QA>
                <RE>_reunionIsland</RE>
                <RO>_romania</RO>
                <RU>_russianFederation</RU>
                <RW>_rwanda</RW>
                <BL>_saintBarthelemy</BL>
                <SH>_saintHelena</SH>
                <KN>_saintKittsAndNevis</KN>
                <LC>_saintLucia</LC>
                <MF>_saintMartin</MF>
                <VC>_saintVincentAndTheGrenadines</VC>
                <WS>_Samoa</WS>
                <SM>_sanMarino</SM>
                <ST>_saoTomeAndPrincipe</ST>
                <SA>_saudiArabia</SA>
                <SN>_senegal</SN>
                <RS>_serbia</RS>
                <SC>_seychelles</SC>
                <SL>_sierraLeone</SL>
                <SG>_singapore</SG>
                <SK>_slovakRepublic</SK>
                <SI>_slovenia</SI>
                <SB>_solomonIslands</SB>
                <SO>_somalia</SO>
                <ZA>_southAfrica</ZA>
                <GS>_southGeorgia</GS>
                <SS>_southSudan</SS>
                <ES>_spain</ES>
                <LK>_sriLanka</LK>
                <PM>_stPierreAndMiquelon</PM>
                <SD>_sudan</SD>
                <SR>_suriname</SR>
                <SJ>_svalbardAndJanMayenIslands</SJ>
                <SZ>_swaziland</SZ>
                <SE>_sweden</SE>
                <CH>_switzerland</CH>
                <SY>_syrianArabRepublic</SY>
                <TW>_taiwan</TW>
                <TJ>_tajikistan</TJ>
                <TZ>_tanzania</TZ>
                <TH>_thailand</TH>
                <TG>_togo</TG>
                <TK>_tokelau</TK>
                <TO>_tonga</TO>
                <TT>_trinidadAndTobago</TT>
                <TN>_tunisia</TN>
                <TR>_turkey</TR>
                <TM>_turkmenistan</TM>
                <TC>_turksAndCaicosIslands</TC>
                <TV>_tuvalu</TV>
                <UG>_uganda</UG>
                <UA>_ukraine</UA>
                <AE>_unitedArabEmirates</AE>
                <GB>_unitedKingdomGB</GB>
                <US>_unitedStates</US>
                <UY>_uruguay</UY>
                <UM>_uSMinorOutlyingIslands</UM>
                <UZ>_uzbekistan</UZ>
                <VU>_vanuatu</VU>
                <VE>_venezuela</VE>
                <VN>_vietnam</VN>
                <VG>_virginIslandsBritish</VG>
                <VI>_virginIslandsUSA</VI>
                <WF>_wallisAndFutunaIslands</WF>
                <EH>_westernSahara</EH>
                <YE>_yemen</YE>
                <ZM>_zambia</ZM>
                <ZW>_zimbabwe</ZW>
            </country_codes>
        </mappings>
    </rocketweb_netsuite>
    <default>
    	<rocketweb_netsuite>
    		<general>
    			<host>https://webservices.netsuite.com</host>
    			<end_point>2013_1</end_point>
    			<role_id>3</role_id>
                <soap_request_timeout>1800</soap_request_timeout>
    		</general>
            <connection_import>
                <same>1</same>
            </connection_import>
            <connection_export>
                <same>1</same>
            </connection_export>
            <connection_stock>
                <same>1</same>
            </connection_stock>
    		<queue_processing>
    			<export_batch_size>50</export_batch_size>
    			<import_batch_size>5000</import_batch_size>
    			<timeout>180</timeout>
                <updated_from_minutes>1140</updated_from_minutes>
    		</queue_processing>
            <orders>
                <set_tran_id>1</set_tran_id>
                <default_status_map>
                    <status_new>
                        <netsuite_status>_pendingApproval</netsuite_status>
                        <magento_status>new</magento_status>
                    </status_new>
                    <status_pending_payment>
                        <netsuite_status>_pendingBilling</netsuite_status>
                        <magento_status>pending_payment</magento_status>
                    </status_pending_payment>
                    <status_processing>
                        <netsuite_status>_pendingFulfillment</netsuite_status>
                        <magento_status>processing</magento_status>
                    </status_processing>
                    <status_billed>
                        <netsuite_status>_fullyBilled</netsuite_status>
                        <magento_status>complete</magento_status>
                    </status_billed>
                    <status_closed>
                        <netsuite_status>_closed</netsuite_status>
                        <magento_status>closed</magento_status>
                    </status_closed>
                    <status_canceled>
                        <netsuite_status>_cancelled</netsuite_status>
                        <magento_status>canceled</magento_status>
                    </status_canceled>
                    <status_pendingbillingpartfulfilled>
                        <netsuite_status>_pendingBillingPartFulfilled</netsuite_status>
                        <magento_status>processing</magento_status>
                    </status_pendingbillingpartfulfilled>
                    <status_pendingfulfill>
                        <netsuite_status>_partiallyFulfilled</netsuite_status>
                        <magento_status>processing</magento_status>
                    </status_pendingfulfill>
                </default_status_map>
                <invoices_netsuite_type>CashSale</invoices_netsuite_type> <!--TYPE_CASH_SALE-->
            </orders>
    		<developer>
    			<export_queue_threshold>100</export_queue_threshold>
    			<import_queue_threshold>100</import_queue_threshold>
                <clean_api_call_log_after>30</clean_api_call_log_after>
                <changelog_enabled>1</changelog_enabled>
                <changelog_lifetime>30</changelog_lifetime>
    		</developer>
    		<products>
    			<netsuite_link_field>externalIdString</netsuite_link_field>
    			<magento_link_field>id</magento_link_field>
                <sync_product_images>1</sync_product_images>
                <default_visibility>4</default_visibility> <!--Mage_Catalog_Model_Product_Visibility::VISIBILITY_BOTH-->
                <default_status>1</default_status><!--Mage_Catalog_Model_Product_Status::STATUS_ENABLED-->
                <default_tax_class_id>0</default_tax_class_id>
                <default_website_ids>1</default_website_ids>
                <default_store_ids>1</default_store_ids>
                <image_sync_on_update>1</image_sync_on_update>
                <default_attribute_set_id>4</default_attribute_set_id> <!--This is usually the "Default" attribute set-->
                <tier_price_website>0</tier_price_website>
                <tier_price_customer_group>32000</tier_price_customer_group> <!-- Mage_Customer_Model_Group::CUST_GROUP_ALL -->
                <default_field_map>
                    <name_map>
                        <magento>name</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>storeDisplayName</netsuite>
                    </name_map>
                    <sku_map>
                        <magento>sku</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>mpn</netsuite>
                    </sku_map>
                    <description_map>
                        <magento>short_description</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>storeDescription</netsuite>
                    </description_map>
                    <description_long_map>
                        <magento>description</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>storeDetailedDescription</netsuite>
                    </description_long_map>
                    <weight_map>
                        <magento>weight</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>weight</netsuite>
                    </weight_map>
                    <manufacturer_map>
                        <magento>manufacturer</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>manufacturer</netsuite>
                    </manufacturer_map>
                    <cost_map>
                        <magento>cost</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>cost</netsuite>
                    </cost_map>
                    <meta_title_map>
                        <magento>meta_title</magento>
                        <netsuite_field_type>standard_field</netsuite_field_type>
                        <netsuite>pageTitle</netsuite>
                    </meta_title_map>
                </default_field_map>
    		</products>
            <shipping_methods>
                <default_tracking_code_carrier>custom</default_tracking_code_carrier>
                <send_tracking_information_on_import>1</send_tracking_information_on_import>
            </shipping_methods>
            <enable_disable_features>
                <send_orders>1</send_orders>
                <send_invoices>1</send_invoices>
                <get_order_changes>1</get_order_changes>
                <get_shipments>1</get_shipments>
                <get_cash_sales>1</get_cash_sales>
                <get_stock_updates>1</get_stock_updates>
                <get_products>1</get_products>
                <get_creditmemo>1</get_creditmemo>
            </enable_disable_features>
            <stock>
                <custom_search_page_size>500</custom_search_page_size>
                <update_stocks_every_n_hours>6</update_stocks_every_n_hours>
                <qty_field_name>quantityOnHand</qty_field_name>
                <qty_field_type>standards</qty_field_type>
            </stock>
            <customers>
                <set_alt_name>1</set_alt_name>
            </customers>
    	</rocketweb_netsuite>
    </default>
</config>