<?xml version="1.0"?>
<config>
  <modules>
    <Bilna_Formbuilder>
      <version>0.1.2</version>
    </Bilna_Formbuilder>
  </modules>
  
  <global>
	<helpers>
		<bilna_formbuilder>
			<!-- Mendefinisikan direktori helper -->
			<class>Bilna_Formbuilder_Helper</class>
		</bilna_formbuilder>
	</helpers>
	
	<blocks>
		<bilna_formbuilder>
			<!-- Mengatur definisi blok dan direktori pencarian -->
			<class>Bilna_Formbuilder_Block</class>
		</bilna_formbuilder>
	</blocks>	
	
	<models>
		<bilna_formbuilder>
			<!-- Mendefinisikan direktori model -->
			<class>Bilna_Formbuilder_Model</class>
			<!-- Menentukan sumber tabel -->
			<resourceModel>bilna_formbuilder_mysql4</resourceModel>
		</bilna_formbuilder>
		
		<!-- Sumber model untuk membuat tabel database -->
		<bilna_formbuilder_mysql4>
			<class>Bilna_Formbuilder_Model_Mysql4</class>
			<entities>
				<formbuilder>
					<!--table>bilna_form_data</table-->
					<table>bilna_formbuilder_form</table>
				</formbuilder>
			</entities>
		</bilna_formbuilder_mysql4>
	</models>
	
	<resources>
		<bilna_formbuilder_setup>
			<setup>
				<module>Bilna_Formbuilder</module>
			</setup>
		</bilna_formbuilder_setup>
	</resources>
  </global>
  	<frontend>
		<routers>
			<formbuilder>
			<use>standard</use>
				<args>
					<module>Bilna_Formbuilder</module>
					<frontName>formbuilder</frontName>
				</args>
			</formbuilder>
		</routers>
		<layout>
			<updates>
				<formbuilder>
					<file>formbuilder.xml</file>
				</formbuilder>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<!-- Memanggil controller Adminhtml -->
					<modules>
						<Bilna_Formbuilder before="Mage_Adminhtml">Bilna_Formbuilder_Adminhtml</Bilna_Formbuilder>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
  
  <adminhtml>
	<menu>
		<bilna>
			<title>Bilna</title>
			<sort_order>20</sort_order>               
		</bilna>
	</menu>

	<layout>
	  <updates>
		<bilna_formbuilder>
		  <file>formbuilder.xml</file>
		</bilna_formbuilder>
	  </updates>
	</layout>
  </adminhtml>  
</config> 
