<?xml version="1.0"?>
<config>
    <modules>
        <Bilna_Staticarea>
            <version>1.1.1</version>
        </Bilna_Staticarea>
    </modules>
  
    <global>
        <helpers>
            <staticarea>
                <class>Bilna_Staticarea_Helper</class>
            </staticarea>
        </helpers>
    
        <blocks>
            <staticarea>
                <class>Bilna_Staticarea_Block</class>
            </staticarea>
            <!-- <checkout>
                <rewrite>
                    <onepage_shipping_method>Bilna_Wrappinggiftevent_Block_Checkout_Onepage_Shipping_Method</onepage_shipping_method>
                </rewrite>
            </checkout> -->
            <!-- <rewrite>
                <onepage_shipping_method>Bilna_Wrappinggiftevent_Block_Checkout_Onepage_Shipping_Method</onepage_shipping_method>
            </rewrite> -->
            <!--adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>
                        Bilna_Wrappinggiftevent_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form
                    </sales_order_create_shipping_method_form>
                    
                    <sales_order_totals>
                        Bilna_Wrappinggiftevent_Block_Adminhtml_Sales_Order_Totals_Wrapping
                    </sales_order_totals>
                </rewrite>
            </adminhtml-->
        </blocks>
        
        <models>
            <!-- <sales>
                <rewrite>
                    <order>Bilna_Staticarea_Model_Sales_Order</order>
                </rewrite>
            </sales> -->
        
            <staticarea>
                <class>Bilna_Staticarea_Model</class>
                <resourceModel>staticarea_mysql4</resourceModel>
            </staticarea>
        
            <staticarea_mysql4>
                <class>Bilna_Staticarea_Model_Mysql4</class>
                <entities>
                    <manage>
                        <table>bilna_staticarea</table>
                    </manage>
                
                    <content_area>
                        <table>bilna_staticarea_content</table>
                    </content_area>
                </entities>
            </staticarea_mysql4>
        </models>
    <resources>
      <staticarea_setup>
            <setup>
              <module>Bilna_Staticarea</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
      </staticarea_setup>
      <staticarea_write>
            <connection>
              <use>core_write</use>
            </connection>
      </staticarea_write>
      <staticarea_read>
            <connection>
              <use>core_read</use>
            </connection>
      </staticarea_read>
    </resources>
  </global>
  <admin>
	<routers>
	  <staticarea>
	    <use>admin</use>
		    <args>
                <module>Bilna_Staticarea</module>
                <frontName>staticarea</frontName>
            </args>
      </staticarea>
    </routers>
   </admin>
  
    <adminhtml>
        <layout>
            <updates>
                <staticarea>
                    <file>staticarea.xml</file>
		        </staticarea>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <staticarea>
                    <file>staticarea.xml</file>
                </staticarea>
            </updates>
        </layout>
    </frontend>
</config>
