<?xml version="1.0"?>
<config>
    <tabs>
        <bilna translate="label" module="whitelistemail">
            <label>Bilna Extensions</label>
            <!--sort_order>0</sort_order-->
        </bilna>
    </tabs>
        
    <sections>
        <bilna_whitelistemail translate="label" module="whitelistemail">
            <label>Whitelist Email</label>
            <tab>bilna</tab>
            <frontend_type>text</frontend_type>
            <sort_order>30</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <whitelistemail translate="label"> 
                    <label>Whitelist Email Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <template_email_id translate="label">
                            <label>Template Email ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Template Email ID</comment>
                        </template_email_id>
                        
                        <image_view translate="label">
                            <label>Image View</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>path image view in email (exclude media url)</comment>
                        </image_view>
                    </fields>
                </whitelistemail>
            </groups>
        </bilna_whitelistemail>
    </sections>
</config>
