<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Bilna_Expressshipping>
            <version>0.1.1</version>
        </Bilna_Expressshipping>
    </modules>

    <global>
        <resources>
            <expressshipping_setup>
                <setup>
                    <module>Bilna_Expressshipping</module>
                </setup>
                
                <connection>
                    <use>core_setup</use>
                </connection>
            </expressshipping_setup>
            
            <expressshipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </expressshipping_write>
            
            <expressshipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </expressshipping_read>
        </resources>

        <events>
            <sales_quote_add_item>
                <observers>
                    <express_quote_add_item>
                        <type>singleton</type>
                        <class>Bilna_Expressshipping_Model_Observer</class>
                        <method>expressQuoteAddItem</method>
                    </express_quote_add_item>
                </observers>
            </sales_quote_add_item>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <sales_order_quote_convert_to_order_item>
                        <type>singleton</type>
                        <class>Bilna_Expressshipping_Model_Observer</class>
                        <method>salesQuoteConvertToOrderItem</method>
                    </sales_order_quote_convert_to_order_item>
                </observers>
            </sales_convert_quote_item_to_order_item>
        </events>
    </global>
</config>
