div.onsale-category-container-grid {
	position: relative;
}

div.onsale-category-container-list {
	position: relative;
	float: left;
}

.onsale-category-container {
	cursor: pointer;
	position: absolute;
	z-index: 2;
}

div.onsale-category-label {
    position: absolute;
    top: 3px;
    left: 4px;
    margin-left: -2px;
    text-align: center;
}

div.onsale-onsale-category-label-text {
    color:#FFFFFF;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}

div.new-onsale-category-label-text {
    color:#FFFFFF;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}

div.custom-onsale-category-label-text {
    color:#FFFFFF;
    font-family:Arial;
    font-size:11px;
    font-weight:bold;
}
/* --------------- smaller 959 px layout -------------------- */
@media only screen and (max-width: 767px) {
	div.onsale-category-container-grid {
		float: left;
	}
}
/* --------------- 320 px layout -------------------- */
@media only screen and (max-width: 479px) { 
	div.onsale-category-container-grid {
		width: 45%;
		height: auto;
	}
	.products-grid .product-info-wrapper {
		width: 51%;
	}
}


